@import "../_Imports";

.avatar-editor {
    height: 100%;

    &--container {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;

        .emoji-selector {
            height: 250px;
            margin-top: 16px;
        }

        .avatar-preview {
            width: 123px;

            .avatar {
                width: 123px;
                height: 123px;
                padding: 15%;
            }

            .upload-image {
                width: 123px;
                padding: 8px;
                border: 1px solid $primary-500;
                border-radius: 8px;
                background-color: $white;
                color: $primary-500;
            }

            .remove-image {
                width: 123px;
                padding: 8px;
                border: 1px solid $grey-900;
                border-radius: 8px;
                background-color: $white;
                color: $grey-900;
            }
        }
    }

    h3 {
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 8px;
    }
}