    <h3>That's it!</h3>
    <p>
        You are now all set up and ready to go.
        <br /> <br />
        We will continue to give a few hints & tips here and there as you explore Ibis.
        <br /> <br />
        If you have any issues or questions, please reach out to us via email: 
        <a class="share-link" href="mailto:support@ibis.chat">support@ibis.chat</a>
    </p>
