@page "/uploads/new"
@page "/uploads/{Id}"

<section class="upload">
    @if (Language != null)
    {
        <div>Language: @Language</div>
    }
    <div class="input">
        <InputFile accept="audio/wav" name="WavFile" OnChange="@OnInputFileChange" />
        <button value="upload" type="submit" @onclick="@UploadFile" style="color:black;">
            Upload
        </button>
    </div>
</section>

@using Ibis.Features;

@code{
    [Parameter] public string? Id { get; set; }
    [Parameter]
    [SupplyParameterFromQuery(Name = "language")] public string? Language { get; set; }
    Conversation? Conversation;
    InputFileChangeEventArgs e;
    MemoryStream ms;

    async Task OnInputFileChange (InputFileChangeEventArgs e)
    {
        ms = new MemoryStream();
        await e.File.OpenReadStream().CopyToAsync(ms);
    }

    async Task UploadFile()
    {
        var bytes = ms.ToArray();
        var result = await Api.UploadFileAsync(new UploadFileRequest { ConversationId = Id, Language = "en-us", Bytes = bytes });
    }
}