@import "../_variables.scss";

.add-funds-modal {
    font-family: 'CircularStd', sans-serif;

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 20px;

        button, input {
            height: 50px;
            width: 100px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: white;
            color: var(--primary-500);
            border: 1px solid var(--primary-500);
        }

        li {
            padding: 6px;

            &:hover, &.selected {
                background-color: var(--primary-500);
                color: white;
                cursor: pointer;
                border-radius: 4px;
            }
        }
    }

    .show-balance {
        padding: 0 0 30px 0;
    }

    form {
        display: flex;
        flex-direction: column;

        button {
            margin-top: 20px;
            align-self: flex-end;
        }
    }
}
