@import "../_variables.scss";

.add-funds-modal {
    font-family: 'CircularStd', sans-serif;

    > aside {
        opacity: 0.7;
        font-size: 14px;
        margin-bottom: 16px;
    }

    ul {
        display: block;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 20px;

        button, input {
            height: 50px;
            width: 100px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: white;
            color: var(--primary-500);
            border: 1px solid var(--primary-500);
        }

        li {
            padding: 6px;
            border: 1px solid $grey-300;
            box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
            border-radius: 8px;
            margin: 8px 0;
            display: flex;
            justify-content: space-between;
            gap: 16px;

            header {
                font-weight: bold;
            }

            &:hover, &.selected {
                border-color: $success-500;
                color: $success-500;
                cursor: pointer;
            }
        }

        &.selected li {
            display: none;
            &.selected {
                display: flex;
            }
        }
    }

    .show-balance {
        display: inline-block;
        padding: 6px 12px;
        background-color: $grey-100;
        border-radius: 12px;
    }

    form {
        display: flex;
        flex-direction: column;

        footer {
            display: flex;
            margin-top: 20px;
            justify-content: space-between;
        }

        button {
        }
    }

    dl {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;

        dd {
            text-align: right;
        }
    }
}
