@import "../_variables.scss";

.avatar-list {
    background: $white;
    width: 100%;
    padding: 16px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    border: 1px solid $grey-100;
    position: relative;

    .presenter {
        margin-bottom: 8px;

        .avatar {
            height: 218px;

            &.editable:hover {
                transform: scale(1.03, 1.03);
            }
        }
    }

    .users {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        .avatar {
            height: 109px;
            width: 30%;
        }

        .image-wrapper {
            /*max-width: 108.6px;*/
            max-width: 31%;

            img {
                object-fit: fill;
                width: 100%;
                height: 100%;
                border-radius: 12px;
            }

            .camera-name {
                bottom: 8px;
            }
        }
    }

    > footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 24px;
        text-align: center;
    }

    .user-invite {
        border: 1px solid $secondary-900;
        background: inherit;
        font-size: 16px;
        line-height: 20px;
        padding: 6px 12px;
        color: $secondary-900;
        border-radius: 8px;
        max-height: 32px;

        svg {
            margin-right: 8px;

            path {
                fill: $secondary-900;
            }
        }

        &:hover {
            background-color: $secondary-900;
            color: white;

            svg path {
                fill: white;
            }
        }
    }

    .image-wrapper {
        position: relative;

        img {
            object-fit: fill;
            width: 100%;
            height: 100%;
            border-radius: 12px;
        }
    }

    .camera-pin, .camera-voice, .camera-name, .camera-translation {
        position: absolute;
    }

    .camera-name, .camera-translation {
        color: $white;
        left: 12px;
    }

    .camera-pin {
        left: 8px;
        top: 8px;
        cursor: pointer;
    }

    .camera-voice {
        right: 8px;
        top: 8px;
    }

    .camera-name {
        bottom: 28px;
    }

    .camera-translation {
        bottom: 12px;
        display: flex;
        align-items: center;

        img {
            margin: 0 9px;
        }
    }

    .camera-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;

        button {
            padding: 8px 16px;
            background: #E5E7EA;
            color: #6A7280;
            line-height: 120%;
            position: absolute;
            bottom: 16px;
            left: 16px;
        }

        .audio-buttons {
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 16px;
            right: 16px;

            img:first-of-type {
                margin-right: 12px;
            }

            img {
                cursor: pointer;
            }
        }
    }
}
