@page "/account"
@layout DashLayout
@*@attribute [Authorize]*@

<div class="account container">
	<div class="account--left">
		<h3>Edit profile information</h3>
		<input placeholder="@Name"/>
		<input placeholder="@Email"/>
		<button @onclick="UpdateUser">Save</button>
	</div>

	<div>
		<h3>Save credit card for billing</h3>
		<form id="payment-form">
		  <div id="payment-element">
			<!-- Elements will create form elements here -->
		  </div>
		  <button id="submit">Submit</button>
		  <div id="error-message">
			Oops! Unsuccessful.
		  </div>
		</form>
	</div>
</div>

@inject IJSRuntime JS
@code {
	//private GetUserResponse User { get; set; }
	public string Name = "Full Name";
	private string Email = "Email";

	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		var user = authState.User;
		if(user.Identity.IsAuthenticated)
		{

		}

		//User = await PublicApi().GetUserAsync(ProjectId);
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		var secret = await PublicApi().GetClientSecretAsync();
		await JS.InvokeAsync<string>("setPayment", secret);
    }

	private async void UpdateUser()
	{
		//await PublicApi().
	}
}