@page "/account"
@layout DashLayout
@attribute [Authorize]

<div class="account container">
	<h3>User Settings</h3>
	<div class="account--left">
		<h3>Edit profile information</h3>
		<input placeholder="@Name"/>
		<input placeholder=""/>
		<button @onclick="UpdateUser">Save</button>
	</div>

	<div>
		<h3>Save credit card for billing</h3>
		<form id="payment-form">
		  <div id="payment-element">
			<!-- Elements will create form elements here -->
		  </div>
		  <button id="submit">Submit</button>
		  <div id="error-message">
			<!-- Display error message to your customers here -->
		  </div>
		</form>
	</div>
</div>

@code {
	//private GetUserResponse User { get; set; }
	public string Name = "Full Name";

	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		var user = authState.User;
		if(user.Identity.IsAuthenticated)
		{

		}
		//User = await PublicApi().GetUserAsync(ProjectId);
	}

	private async void UpdateUser()
	{
		//await PublicApi().
	}
}