@import "../_variables.scss";

.dashboard {
    .btn-add {
        display: flex;
        min-width: 100px !important;
        padding-left: 20px;
        padding-right: 30px;
    }

    .project-img {
        height: 65px;
    }

    .project-card {
        border: 2px solid #e7e8e9;
        cursor: pointer;
    }

    .project-date {
        font-size: 12px !important;
    }

    .project-status {
        display: flex;
        align-items: center;
        width: 70%;
    }
}