@page "/dashboard"
@layout DashLayout
@*@attribute [Authorize]*@

<div class="dashboard">
	 <div class="actions">
        <div class="searchbar">
            <input placeholder="Search"/>
        </div>
        <a class="add" href="/conversations/new">
            <i class="material-icons">add</i>
            New
        </a>
@*        <button @onclick="TestAudio">Test audio</button>*@
    </div>
@*    <div class="container">
        <h3>Your Files</h3>
        <ProjectsList />
    </div>*@
    <div>
        <h3>Conversations</h3>
        @if(Conversations != null)
        {
            <div>
                @foreach(var conversation in Conversations)
                {
                    <div class="conversation-card" @onclick="@(e => GoToConversation(conversation.Id))">
                        <h4>@conversation.Name</h4>
                    </div>
                }
            </div>   
        }
    </div>
</div>

@code {
    ICollection<Conversation>? Conversations;

    protected override async Task OnInitializedAsync()
    {
        var user = await Api.UpdateUserAsync();
        Conversations = await Api.GetUserConversationsAsync(user.Id);
    }

    void GoToConversation(string Id)
    {
        Nav.NavigateTo($"/conversations/{Id}", true);    
    }

    async void TestAudio()
    {
        //bool test = await PublicApi().AudioToTextAsync("test");
    }

}