@page "/dashboard"
@layout DashLayout
@*@attribute [Authorize]*@

<div class="dashboard">
	 <div class="actions">
        <div class="searchbar">
            <input placeholder="Search"/>
        </div>
        <a class="add" href="/project">
            <i class="material-icons">add</i>
            New
        </a>
    </div>
    <div class="container">
        <h3>Your Files</h3>
@*        <component type="typeof(IbisTranscriber.NETCore.Pages.Projects.ProjectList)" param-InitialValue="0" param-UserId="User.Id()" render-mode="Server" />*@
        <ProjectsList />
    </div>
</div>

@code {

}