@page "/"
@attribute [AllowAnonymous]

<div class="landing">
    <div class="hero">
        <h1>Transcribe Your 
            <span class="typetext--container">
                 <span class="typetext" id="displaytext">Podcast</span>
            </span>           
            <br /> With A Single Click
        </h1>
        <p>Ibis Transcriber uses Machine Learning to automatically transcribe your audio and video files</p>
        <button class="btn-primary btn-large">Get Started</button>
        <button class="btn-grey btn-large">Learn More</button>
        <div class="images">
            <img class="background-primary" src="/images/hero-image.png" alt="Primary Background Hero Image" />
            <img class="background-secondary" src="/images/hero-background.png" alt="Secondary Background Hero Image" />  
        </div>
    </div>
    <section class="section-1"> 
        <div class="container">
                    <div class="card-container">
            <div class="card">
                <img src="/images/ellipse.png" alt="Ellipse Image" />
                <h3>Advertising</h3>
                <p>Many people sign up for affiliate programs with the hopes of making some serious money.</p>
            </div>
            <div class="card">
                <img src="/images/ellipse.png" alt="Ellipse Image" />
                <h3>Advertising</h3>
                <p>Many people sign up for affiliate programs with the hopes of making some serious money.</p>
            </div>
            <div class="card">
                <img src="/images/ellipse.png" alt="Ellipse Image" />
                <h3>Advertising</h3>
                <p>Many people sign up for affiliate programs with the hopes of making some serious money.</p>
            </div>
            <div class="card">
                <img src="/images/ellipse.png" alt="Ellipse Image" />
                <h3>Advertising</h3>
                <p>Many people sign up for affiliate programs with the hopes of making some serious money.</p>
            </div>
        </div>
        <div class="content-container">
            <h2>Try the familiar functions in the new execution</h2>
            <p>The very functions that help you in everyday life are already built into our messenger and are not just built in but invented anew.</p>
            <button class="btn-primary btn-large">Get Started</button>
        </div>
        </div>
    </section>
    <section class="section-2">
            <div class="row">
            <div class="row--content">
                    <h2>Why Do You Need To Join Affiliate Marketing</h2>
                <p>
                        Classifieds are usually the first place you think of when you are getting ready to make a purchase. Whether you want to purchase a vehiclle
                    </p>
                <button class="btn-primary btn-large">Get Started</button>
                </div>
            <div class="">
                <img class="content-background" src="/images/outline.png" alt="Marketing Image" />
                </div>
            </div>
        <div class="row row--right">
            <div class="">
                    <img class="content-background" src="/images/group.png" alt="Marketing Image" />
                </div>
            <div class="row--content">
                    <h2>Why Do You Need To Join Affiliate Marketing</h2>
                <p>
                        Classifieds are usually the first place you think of when you are getting ready to make a purchase. Whether you want to purchase a vehiclle
                    </p>
                <button class="btn-primary btn-large">Get Started</button>
                </div>
            </div>
        <div class="row">
            <div class="row--content">
                    <h2>Why Do You Need To Join Affiliate Marketing</h2>
                <p>
                        Classifieds are usually the first place you think of when you are getting ready to make a purchase. Whether you want to purchase a vehiclle
                    </p>
                <button class="btn-primary btn-large">Get Started</button>
                </div>
            <div class="">
                    <img class="content-background" src="/images/feature-3-hero.png" alt="Marketing Image" />
            </div>
        </div>
    </section>
    <section class="banner">
        <img src="/images/banner.png" alt="Get Started Banner" />
            <div>
                <h3>What are you waiting for? <br />Give Ibis a go!</h3>
            </div>    
            <button class="btn-primary btn-large">Get Started</button>
    </section>
</div>

@inject IJSRuntime JS
@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("textDisplay");
    }
}