@page "/"
@attribute [AllowAnonymous]
@layout LandingLayout

<div class="landing">
    <div class="landing--nav desktop">
        <a href="/"><img class="logo" src="/images/logo_2x.png" /></a>
        <div class="menu">
@*            <a href="/About">About</a>
            <a href="/Features">Features</a>
            <a href="/Pricing">Pricing</a>
*@            
            <button class="get-started" @onclick="Login">Get Started</button>
        </div>
    </div>
    <div class="landing--nav mobile">
        <a href="/"><img class="logo" src="/images/logo_2x.png" /></a>
        <input id="menuToggle" type="checkbox" class="menu--toggle">
        <label for="menuToggle" class="menu--toggle">
            <span><i class="material-icons">menu</i></span>
            <span><i class="material-icons">close</i></span>
        </label>
        <div class="menu">
            <ul>
                <li><button class="get-started" @onclick="Login">Get Started</button></li>
@*                <li><a href="/About">About</a></li>
                <li><a href="/Features">Features</a></li>
                <li><a href="/Pricing">Pricing</a></li>
*@            </ul>
        </div>
    </div>
    <div class="landing--main">
        <div class="hero">
            <div class="description">
                <h1>Come as you are</h1>
                <p>Ibis uses Machine Learning to break down barriers and transform the way you communicate with your friends, family, or team</p>
            </div>
            <div class="landing--button-container">
                <a href="/step-one" class="btn-primary">Get Started</a>
                @*<button class="btn-secondary">Learn More</button>*@
            </div>
            <img class="hero-image--room" src="/images/landing/hero-image_room.png" />
            <img class="hero-background" src="/images/landing/hero-background.png" />
        </div>
        <section class="section-1"> 
            <div class="right-container">
                <h2>Try the familiar functions in the new execution</h2>
                <p>
                    The very functions that help you in everyday life are already built into our 
                    messenger and are not just built in but invented anew.
                </p>
                @*<button class="btn-primary">Learn More</button>*@
            </div>
            <div class="left-container">
                <div class="card-container">
                    <div class="card">
                        <div class="content">
                            <img src="/images/landing/accessibility.png" />
                            <h3>Accessibility</h3>
                            <p>
                                Imagine a space where diverse users can connect and collaborate 
                                via accessible communication, regardless of language, ability, or financial means.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <img src="/images/landing/efficiency.png" />
                            <h3>Efficiency</h3>
                            <p>
                                Real-time transcription and speech synthesis means users spend less 
                                time facing obstacles and more time connecting.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card">
                        <div class="content">
                            <img src="/images/landing/reciprocity.png" />
                            <h3>Reciprocity</h3>
                            <p>
                                Ibis allows thoughts and ideas to be shared and received in a 
                                way that accommodates each individual’s preferences and abilities.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <img src="/images/landing/empower.png" />
                            <h3>Empowerment</h3>
                            <p>
                                Our tools are designed to empower our users to speak up, take up space, and be truly heard.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-2">
            <div class="row row--feature1">
                <div class="row--content">
                    <h2>Transcribe & Translate, choose from 130+ languages.</h2>
                    <p>
                        Messages are transformed into the form of communication and language that fits each user. 
                        Voice messages are transcribed from speech to text. Listen to text messages or transcripts, 
                        which are read aloud using Synthesized Speech. Translate text or voice to one 
                        of our 139 supported languages.
                    </p>
                    @*<button class="btn-primary">Learn More</button>*@
                </div>
                <div class="row--images">
                    <img class="content-background feature1" src="/images/landing/feature1_graphic.png" />
                    <img class="content-image feature1" src="/images/landing/feature1_image.png" />
                </div>
            </div>
            <div class="row row--feature2">
                <div class="row--content">
                    <h2>Real-time Conversations with Timestamped Messages</h2>
                    <p>
                        Group chats are live as messages, video and audio files are automatically transformed 
                        to fit each user's communication preferences in real-time. 
                        All messages and uploads are timestamped.
                    </p>
                    @*<button class="btn-primary">Learn More</button>*@
                </div>
                <div class="row--left row--images">
                    <img class="content-background feature2" src="/images/landing/feature2_graphic.png" />
                    <img class="content-image feature2" src="/images/landing/feature2_image.png" />
                </div>
            </div>
            <div class="row row--feature3">
                <div class="row--content">
                    <h2>Share Videos and Audio, Download full transcripts</h2>
                    <p>
                        Upload video and audio files to your group. A full transcript 
                        will be avialable to download in your language of choice. 
                        We don't want anyone missing out on any of the information or fun.
                    </p>
                    @*<button class="btn-primary">Learn More</button>*@
                </div>
                <div class="row--images">
                    <img class="content-background feature3" src="/images/landing/feature3_graphic.png" />
                    <img class="content-image feature3" src="/images/landing/feature3_image.png" />
                </div>
            </div>
        </section>
        <section class="banner">
            <img class="banner-image desktop" src="/images/landing/banner.png" />
            <div class="banner-content desktop">
                <h3>What are you waiting for? <br />Give Ibis a go!</h3>
                @*<button class="btn-primary">Get Started</button>*@
                <a href="/step-one" class="btn-primary">Get Started</a>
            </div>
            <img class="banner-image mobile" src="/images/landing/banner-mobile.png" />
            <div class="banner-content mobile">
                <h3>What are you waiting for? <br />Give Ibis a go!</h3>
                @*<button class="btn-primary">Get Started</button>*@
                <a href="/step-one" class="btn-primary">Get Started</a>
            </div>
        </section>
        <div class="footer">

        </div>
    </div>
</div>

@code {
    void Login()
    {
        var options = new InteractiveRequestOptions()
            {
                Interaction = InteractionType.SignIn,
                ReturnUrl = Nav.BaseUri + "/rooms"
            };

        Nav.NavigateToLogin($"authentication/login", options);        
    }
}