@page "/project"
@page "/project/{ProjectId}"
@layout DashLayout
@attribute [Authorize]

<div class="project-page container">
    <div class="card">
        <div class="card-body">
            @if(ProjectId != null)
            {
                //Edit current projecty
            }
            else
            {
                <h3 class="">Create a new project!</h3>
            }


@*            //Old form
    <form id="form" name="form" action="/project" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label>Project name</label>
                    <input type="text" id="name" name="name" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Project Type</label>
                    <select id="type" name="type" class="form-control">
                        <option value="Audio">Audio</option>
                        <option value="Video">Video</option>
                    </select>
                </div>
                <div class="buttons">
                    
                        <div class="label">Upload a wav file here!</div>
                        <input id="files" name="files" type="file" size="1" accept="audio/wav" class="choose" />
                    </div>
                </div>
                <div class="form-group text-right mt-3">
                    <input type="button" class="btn btn-primary" value="Save Project" id="btn-save" onclick="uploadFiles('files');" />
                </div>
            </form>*@
           @* <div id="progress" class="progress"><div id="bar" class="bar"></div><div id="label" class="label">0%</div></div>*@
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string ProjectId { get; set; }

    //private Project Project { get; set; }

    //protected override async Task OnInitializedAsync()
    //{
    //    Projects = await PublicApi().GetProjectAsync(ProjectId);
    //}
}