@using Microsoft.AspNetCore.Components.Authorization
@using Sparc.Blossom.Authentication;

<nav class="nav--dashboard">
    <AuthorizeView>
        <Authorized>
            <div class="navmenu">
                <div class="navmenu--home" tabindex="4">
                    <a href="/dashboard">
                        <Home02Icon />
                        <p class="title">My Ink</p>
                    </a>
                </div>
                <div class="navmenu--websites">
                    <ul>
                        <li tabindex="6">
                            <a href="/dashboard">
                                <TeamIcon />
                                <p class="title">Team</p>
                            </a>
                        </li>
                        <li tabindex="7">
                            <a href="/dashboard">
                                <SettingsIcon />
                                <p class="title">Settings</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="navmenu--pages">
                    <a href="/dashboard">
                        <PagesIcon />
                        <p class="title">Pages</p>
                    </a>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="navmenu"></div>
        </NotAuthorized>
    </AuthorizeView>
</nav>

@inject BlossomAuthenticationStateProvider Auth

@code {
    bool ShowUserMenu = false;

    void Login()
    {
        Auth.Login();
    }

    private async Task Logout()
    {
    }

    void ToggleUserMenu()
    {
        Console.WriteLine("toggle user menu");
        ShowUserMenu = !ShowUserMenu;
    }

    void OpenMenu() => ShowUserMenu = !ShowUserMenu;

    void KeyboardMenu(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            OpenMenu();
        }
    }

    void SelectWebsite(string endpoint)
    {
        Nav.NavigateTo(endpoint);
    }
}