@import "../_variables";

.add-site-modal {
    p {
        color: #28303B;
    }

    .manual-input {
        font-size: 14px;
        font-weight: 400;
        display: flex;
        margin-bottom: 16px;

        .manual-label {
            position: relative;
            left: 10px;
            color: #667085;
        }
    }

    .add-site-tags {
        margin-bottom: 32px;

        .tag-options {
            display: flex;
            gap: 7px;
            flex-wrap: wrap;

            label {
                margin-right: 64px;

                input[type="checkbox"] {
                    top: 4px;
                    position: relative;
                }
            }
        }

        .tag {
            display: flex;
            padding: 4px 6px;
            border-radius: 1000px;
            gap: 4px;
            flex-direction: row;
            align-items: center;
            font-size: 10px;
            background: $primary-200;
            border: 1px solid $primary-800;
            color: $primary-800;
        }

        .page-tag {
            border: 1px solid $secondary-900;
            background-color: $secondary-300;
            color: $secondary-900;
        }
    }

    .addBtn {
        float: right;
        border: 1px solid transparent;

        &:hover {
            border: 1px solid $secondary-900;
            background: $white;
            color: $secondary-900;

            svg path {
                fill: $secondary-900;
            }
        }

        &:active {
            background: $secondary-200;
        }

        &:focus {
            outline: none;
            box-shadow: none
        }
    }
}
