@inherits SparcModal

<div class="invite-block add-site-modal">

    <div class="room-name-wrapper">
        <p class="medium">Page Name</p>
        <input  />
    </div>

    <div class="room-name-wrapper">
        <p class="medium">Page Link</p>
        <input />
    </div>

    <div class="message-tags manual-input">
        <input type="checkbox" />
        <label class="manual-label">Manual Input</label>
    </div>

    <div class="message-tags add-site-tags">
        <p class="medium">Set tag</p>
        <div class="tag-options">
            <label>
                <input type="checkbox" />
                <span class="tag page-tag">Page</span>
            </label>
            <label>
                <input type="checkbox" />
                <span class="tag">Blog</span>
            </label>
            <label>
                <input type="checkbox" />
                <span class="tag">Others</span>
            </label>
        </div>
    </div>

    <button class="addBtn">Create</button>
</div>


@code {

}
