@inherits SparcModal

<div class="add-website">

    <div class="room-name-wrapper">
        <p class="medium">Page Name</p>
        <input  />
    </div>

    <div class="room-name-wrapper">
        <p class="medium">Page Link</p>
        <input />
    </div>

    <div class="room-name-wrapper">
        <input type="checkbox" />
        <label>Manual Input</label>
    </div>

    <div class="room-name-wrapper">        
        <p class="medium">Set tag</p>
        <div>
            <label>
                <input type="checkbox" />
                Page
            </label>
            <label>
                <input type="checkbox" />
                Blog
            </label>
            <label>
                <input type="checkbox" />
                Others
            </label>
        </div>
    </div>

    <button>Create</button>
</div>


@code {

}
