<div class="MarkdownEditorComponent">
    <MarkdownEditor @bind-Value="@markdownValue" @onchange="@(e => OnMarkdownValueChanged(markdownValue))" ValueHTMLChanged="@(e => OnMarkdownValueHTMLChanged(markdownHtml))" />

    <hr />

    <div class="markdown-result">
        @((MarkupString)markdownHtml)
    </div>
</div>

@code {
    [Parameter] public EventCallback<string> OnContentChanged { get; set; }

    string markdownValue = "#Markdown Editor\nThis is a test";
    string markdownHtml;

    protected override void OnInitialized()
    {
        markdownHtml = Markdig.Markdown.ToHtml(markdownValue ?? string.Empty);
        base.OnInitialized();
    }

    async Task OnMarkdownValueChanged(string value)
    {
        markdownHtml = Markdig.Markdown.ToHtml(markdownValue ?? string.Empty);
        await OnContentChanged.InvokeAsync(markdownValue);
        // return Task.CompletedTask;
    }

    async Task OnMarkdownValueHTMLChanged(string value)
    {
        markdownHtml = value;
        await OnContentChanged.InvokeAsync(markdownHtml);
        // return Task.CompletedTask;
    }
}