<div class="page-card">
    <div class="card-content">
        <div class="page-type">@Type</div>
        <h3>@Title (@Endpoint)</h3>
        <p class="date">Last edited: @DateModified.ToString("MMMM dd, yyyy")</p>
    </div>
    <div class="actions">
        <LinkIcon />
        <MoreIcon />
    </div>
</div>

@code {
    [Parameter]
    public string? Type { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Endpoint { get; set; }

    [Parameter]
    public DateTime DateModified { get; set; }
}
