<div class="page-editor--MDE">
    @* <MarkdownEditorComponent @bind-Value="@MarkdownValue" OnContentChanged="@(e => HandleContentChanged(e.ToString()))"/> *@
    <MarkdownEditorComponent @bind-Value="@MarkdownValue" OnContentChanged="@(e => HandleContentChanged(e))" />
</div>

@code {
    [Parameter] public string? MarkdownValue { get; set; }
    [Parameter] public EventCallback<MarkdownEditor> OnContentChanged { get; set; }
    [Parameter] public MarkdownEditor? markdownEditor { get; set; }

    // async Task HandleContentChanged(string? value)
    // {
    //     await OnContentChanged.InvokeAsync(value);
    // }

    async Task HandleContentChanged(MarkdownEditor markdownEditor)
    {
        await OnContentChanged.InvokeAsync(markdownEditor);
    }

    //string markdownHtml;
    //protected override void OnInitialized()
    //{
    //    markdownHtml = Markdig.Markdown.ToHtml(markdownValue ?? string.Empty);
    //    base.OnInitialized();
    //}
    //Task OnMarkdownValueChanged(string value)
    //{
    //    return Task.CompletedTask;
    //}
    //Task OnMarkdownValueHTMLChanged(string value)
    //{
    //    markdownHtml = value;
    //    return Task.CompletedTask;
    //}
}