<div class="website-card">
    <div class="website-card--container">
        <a href="/websites/@Id"><img class="website-image" src="@ImagePath"/></a>
        <div class="card-content">
            <header>
                <h3><a href="/websites/@Id">@Title</a></h3>
                <p class="subheader assosciated-contents">
                    Associated contents: @NumContent
                </p>
            </header>
            <div class="users">
                <img src="images/Avatar.svg" />
            </div>
        </div>
        <div class="actions">
            <p class="last-modified">Last edited: @DateModified.ToString("MMMM dd, yyyy")</p>
            <button class="link">
                <LinkIcon />
            </button>
            <button class="more">
                <MoreIcon />
            </button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? NumContent { get; set; }

    [Parameter]
    public string? ImagePath { get; set; }

    [Parameter] 
    public DateTime DateModified { get; set; }
}
