@inherits SparcModal

<div class="add-site-modal">

    <div class="website-name-wrapper">
        <p class="medium">Website Name</p>
        <input type="text" class="website-name" />
    </div>

    <div class="website-link-wrapper">
        <p class="medium">Website Link</p>
        <input type="text" class="website-link" />
    </div>

    <div class="manual-input-wrapper">
        <input type="checkbox" class="manual-input" />
        <label>Manual Input</label>
    </div>

    <div class="website-tags">
        <p class="medium">Set tag</p>
        <div class="tag-options">
            <label>
                <input type="checkbox"/>
                <span class="tag tag--page">Page</span>
            </label>
            <label>
                <input type="checkbox" />
                <span class="tag tag--blog">Blog</span>
            </label>
            <label>
                <input type="checkbox" />
                <span class="tag tag--other">Other</span>
            </label>
        </div>
    </div>

    <button class="add-button">Create</button>
</div>


@code {

}