@inherits LayoutComponentBase

<nav>
    <img class="logo" src="images/logo.png" />
    <button class="add-website"><AddIcon /> Add Website</button>
    <button class="user-menu">Account</button>
</nav>
<main>
    @Body
</main>