@inherits LayoutComponentBase

<nav>
    <img class="logo" src="images/logo.png" />
    <button class="add-website"><AddIcon /> Add Website</button>
    <div class="user-menu">
        <img src="images/1.png" />
        <ExpandIcon />
    </div>
</nav>
<main>
    @Body
</main>