@import "../_variables";

body {
    padding: 32px;
    /*#app {
        display: grid;
        grid-template-columns: 0 auto;
    }*/

    .dashboard-layout {
        display: grid;
        grid-template-columns: 0 auto;

        &.nav-expanded {
            grid-template-columns: 363px auto;
        }

        &.nav-collapsed {
            grid-template-columns: 121px auto;
        }
    }

    button {
        background: $secondary-900;
        text-align: center;
    }

    main {
        margin-top: 16px;
    }
}
