@using Sparc.Blossom.Authentication;
@using Sparc.Ibis;

<CascadingValue Value="User">
    <nav class="nav--dashboard">
        <AuthorizeView>
            <Authorized>
                @if (User != null)
                {
                    <div class="navmenu">
                        <div class="navmenu--home" tabindex="4">
                            <a href="/dashboard"><img src="images/home-02.svg" /></a>
                            <p class="title">My Ink</p>
                        </div>
                        <div class="navmenu--websites">
                            <ul>
                                <li @onclick=@(e =>SelectWebsite("/websites/Sparc")) tabindex="6">
                                    <img src="images/users-profiles-02.svg" />
                                    <p class="title">Team</p>
                                </li>
                                <li @onclick=@(e =>SelectWebsite("/websites/Blossom")) tabindex="7">
                                    <img src="images/settings.svg" />
                                    <p class="title">Settings</p>
                                </li>
                            </ul>
                        </div>
                        <button class="add-website" @onclick=AddWebsite tabindex="8"><AddIcon /></button>
                    </div>
                }
            </Authorized>
            <NotAuthorized>
                <div class="navmenu"></div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</CascadingValue>

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IModalService Modal

@code {
    UserAvatar? User;
    bool isUserBeingGot;
    bool ShowUserMenu = false;
    public string LoginLink = "https://localhost:7117/_login?returnUrl=https%3A%2F%2Flocalhost%3A7083";

    void Login()
    {
        Nav.NavigateTo(LoginLink);
    }

    private async Task Logout()
    {
        await (AuthenticationStateProvider as BlossomAuthenticationStateProvider)!.LogoutAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (User != null)
            return;

        await UpdateUser(AuthenticationStateProvider.GetAuthenticationStateAsync());

        AuthenticationStateProvider.AuthenticationStateChanged += async (state) => await UpdateUser(state);
    }

    async Task UpdateUser(Task<AuthenticationState> state)
    {
        var user = (await state).User;

        if (User == null && !isUserBeingGot && user.Identity?.IsAuthenticated == true)
        {
            isUserBeingGot = true;
            User = await Api.GetUserAsync();

            StateHasChanged();
            isUserBeingGot = false;
        }
    }

    void ToggleUserMenu()
    {
        Console.WriteLine("toggle user menu");
        ShowUserMenu = !ShowUserMenu;
    }

    void OpenMenu() => ShowUserMenu = !ShowUserMenu;

    void KeyboardMenu(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            OpenMenu();
        }
    }

    void SelectWebsite(string endpoint)
    {
        Nav.NavigateTo(endpoint);
    }

    void AddWebsite()
    {
        var options = new ModalOptions()
            {
                HideHeader = true,
                Position = ModalPosition.Middle
            };
        Modal.Show<AddModal>("Add New Site to Ibis", options);
    }
}