@import "../_variables";

.user-menu {
    position: absolute;
    top: 32px;
    right: 32px;
    text-align: center;

    button {
        width: 50px;
        height: 27px;
        padding: 0;
        background: none;
        position: absolute;
        top: 0;
        right: 0;

        &:hover {
            background: none;
            border: none;
        }

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    img {
        width: 23px;
        height: 23px;
        margin-right: 7px;
    }

    svg {
        width: 10px;
        height: 5px;

        path {
            stroke: $grey-500;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

nav {
    height: 100vh;
    padding: 32px;
    position: relative;
    background: $white;
    /*min-width: 121px;
    max-width: 363px;
    transition: width 500ms ease-in-out;*/

    .navmenu {
        display: flex;
        flex-direction: column;

        &--header {
            margin-bottom: 32px;
            display: flex;
            justify-content: space-between;

            .logo {
                width: 88px;
            }

            .toggle-menu {
                svg {
                    width: 13px;
                    height: 8px;

                    path {
                        stroke: $grey-500;
                    }
                }
            }
        }

        &--search {
            width: 100%;
            height: 40px;
            position: relative;
            margin-bottom: 16px;

            input {
                width: 100%;
                padding: 10.5px 14px 10.5px 42px;
                border-radius: 8px;
            }

            svg {
                width: 15px;
                height: 15px;
                position: absolute;
                top: 12.5px;
                left: 16.5px;
                stroke: $grey-500;
            }
        }

        &--webpages {
            font-family: 'CircularStd';
            font-weight: 400;
            font-size: 20px;
            line-height: 120%;
            color: $grey-800;

            .item {
                margin-bottom: 16px;

                &:last-of-type {
                    margin-bottom: 0;
                }

                header {
                    img {
                        display: none;
                    }

                    .title {
                        color: $grey-800;
                        margin-bottom: 16px;
                    }
                }

                ul {
                    margin-left: 32px;
                }

                li {
                    margin-bottom: 16px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }

                a {
                    transition: 250ms ease-in-out;

                    &:hover {
                        color: $secondary-700;
                    }

                    &:active {
                        color: $grey-800;
                    }

                    &:focus {
                        outline: none;
                        border: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }

    button {
        display: block;
        border: 1px solid transparent;
        transition: 250ms ease-in-out;

        &.toggle-menu {
            background: none;
            transform: rotate(90deg);

            &:hover {
                background: none;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        &.add-website {
            width: calc(100% - 64px);
            padding: 10px 74px;
            border-radius: 8px;
            text-align: center;
            position: absolute;
            bottom: 32px;
            transition: 250ms ease-in-out;

            svg {
                margin-right: 12px;
            }

            &:hover {
                border: 1px solid $secondary-900;
                background: $white;
                color: $secondary-900;

                svg path {
                    fill: $secondary-900;
                }
            }

            &:active {
                background: $secondary-200;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
}

.nav-collapsed {
    nav {
        .navmenu {
            &--header {
                display: block;
                gap: 0;

                .logo {
                    display: none;
                }

                .toggle-menu {
                    margin: 0 auto;

                    svg {
                        transform: rotate(180deg);
                    }
                }
            }

            &--search {
                span {
                    display: block;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    text-align: center;
                }

                svg {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            &--home {
                width: 100%;
                height: 100%;
                margin-bottom: 16px;
                text-align: center;

                a {
                    display: inline-block;
                    aspect-ratio: 1 / 1;
                    width: 100%;
                    height: auto;
                    border: 1.5px solid $secondary-800;
                    border-radius: 8px;
                    position: relative;
                    transition: 250ms ease-in-out;

                    &:hover {
                        background: $secondary-200;

                        svg path {
                            fill: $secondary-800;
                        }
                    }

                    &:active {
                        background: $white;

                        svg path {
                            fill: $grey-500;
                        }
                    }

                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }

                svg {
                    width: 22px;
                    height: 20px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    path {
                        fill: $grey-500;
                    }
                }
            }

            &--webpages {
                .item {
                    header {
                        img {
                            display: block;
                            width: 100%;
                            margin: 0 auto;
                            border-radius: 8px;
                            transition: 250ms ease-in-out;

                            &:hover {
                                transform: scale(105%);
                            }
                        }
                    }

                    .title, ul {
                        display: none;
                    }
                }
            }

            .add-website {
                width: calc(100% - 64px);
                padding: 10px 6px;

                svg {
                    margin: 0;
                }

                span {
                    display: none;
                }
            }
        }
    }
}