@using Sparc.Blossom.Authentication;
@using Sparc.Ibis;

<CascadingValue Value="User">
    <div class="user-menu">
        <AuthorizeView>
            <Authorized>
                @if (User != null)
                {
                    <button class="toggle-usermenu" @onclick="ToggleUserMenu" tabindex="1">
                        <img src="images/1.png" />
                        <ExpandIcon />
                    </button>
                }
                @if (ShowUserMenu == true)
                {
                    <div class="user-menu--dropdown">
                        <button class="logout" @onclick="Logout" tabindex="1">Log Out</button>
                    </div>
                    <div class="user-menu--overlay" @onclick="ToggleUserMenu"></div>
                }
            </Authorized>
            <NotAuthorized>
                <button class="login" @onclick="Login" tabindex="1">Login</button>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <nav class="nav--dashboard">
        <AuthorizeView>
            <Authorized>
                @if (User != null)
                {
                    <div class="navmenu">
                        <header class="navmenu--header">
                            <a href="/dashboard"><img class="logo" src="images/logo.png" /></a>
                            <button class="toggle-menu" @onclick="ToggleNav" tabindex="2"><ExpandIcon /></button>
                        </header>
                        <div class="navmenu--search" tabindex="3">
                            @if (NavSize == "nav-collapsed")
                            {
                                <span @onclick="ToggleNav">
                                    <SearchIcon />
                                </span>
                            }
                            else
                            {
                                <SearchIcon />
                                <input type="text" placeholder="Search..." />
                            }
                        </div>
                        @if (NavSize == "nav-collapsed")
                        {
                            <div class="navmenu--home" tabindex="4">
                                <a href="/dashboard"><HomeIcon /></a>
                            </div>
                        }
                        <div class="navmenu--websites">
                            <ul>
                                @if (NavSize == "nav-expanded")
                                {
                                    <li @onclick=@(e =>SelectWebsite("/dashboard")) tabindex="5">
                                        <p class="title">All Websites</p>
                                    </li>
                                }
                                <li @onclick=@(e =>SelectWebsite("/websites/Sparc")) tabindex="6">
                                    <img src="images/Sparc-image.png" />
                                    <p class="title">Sparc (sparc.coop)</p>
                                </li>
                                <li @onclick=@(e =>SelectWebsite("/websites/Blossom")) tabindex="7">
                                    <img src="images/Blossom-image.png" />
                                    <p class="title">Blossom</p>
                                </li>
                            </ul>
                        </div>
                        <button class="add-website" @onclick=AddWebsite tabindex="8"><AddIcon /><span> Add Website</span></button>
                    </div>
                }
            </Authorized>
            <NotAuthorized>
                <div class="navmenu">
                    <header class="navmenu--header">
                        <a href="/dashboard"><img class="logo" src="images/logo.png" /></a>
                        <button class="toggle-menu" @onclick="ToggleNav"><ExpandIcon /></button>
                    </header>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</CascadingValue>

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IModalService Modal

@code {
    [Parameter] public EventCallback<bool> OnCollapseNav { get; set; }

    UserAvatar? User;
    bool isUserBeingGot;
    protected bool NavIsCollapsed { get; set; }
    string NavSize = "nav-expanded";
    bool ShowUserMenu = false;
    public string LoginLink = "https://localhost:7117/_login?returnUrl=https%3A%2F%2Flocalhost%3A7083";

    void Login()
    {
        Nav.NavigateTo(LoginLink);
    }

    private async Task Logout()
    {
        await (AuthenticationStateProvider as BlossomAuthenticationStateProvider)!.LogoutAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (User != null)
            return;

        await UpdateUser(AuthenticationStateProvider.GetAuthenticationStateAsync());

        AuthenticationStateProvider.AuthenticationStateChanged += async (state) => await UpdateUser(state);
    }

    async Task UpdateUser(Task<AuthenticationState> state)
    {
        var user = (await state).User;

        if (User == null && !isUserBeingGot && user.Identity?.IsAuthenticated == true)
        {
            isUserBeingGot = true;
            User = await Api.GetUserAsync();

            StateHasChanged();
            isUserBeingGot = false;
        }
    }

    void ToggleUserMenu()
    {
        Console.WriteLine("toggle user menu");
        ShowUserMenu = !ShowUserMenu;
    }

    void OpenMenu() => ShowUserMenu = !ShowUserMenu;

    void KeyboardMenu(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            OpenMenu();
        }
    }

    protected async Task ToggleNav()
    {
        NavIsCollapsed = !NavIsCollapsed;

        if (NavIsCollapsed == true)
            NavSize = "nav-collapsed";
        else
            NavSize = "nav-expanded";

        await OnCollapseNav.InvokeAsync(NavIsCollapsed);
    }

    void SelectWebsite(string endpoint)
    {
        Nav.NavigateTo(endpoint);
    }

    void AddWebsite()
    {
        var options = new ModalOptions()
            {                
                HideHeader = true
            };
        // Modal.Show<AddWebsiteModal>("Add New Site to Ibis", options);
        Modal.Show<CreateRoomModal>("Add New Site to Ibis");
    }
}