@inherits SparcModal

<div class="page-settings-modal">

    <div class="page-name-wrapper">
        <p class="medium">Page Name</p>
        <input type="text" class="page-name" />
    </div>

    <div class="page-link-wrapper">
        <p class="medium">Page Link</p>
        <input type="text" class="page-link" />
    </div>

    <div class="manual-input-wrapper">
        <input type="checkbox" class="manual-input" />
        <label>Manual Input</label>
    </div>

    <div class="page-tags">
        <p class="medium">Set tag</p>
        <div class="tag-options">
            <label>
                <input type="checkbox" />
                <span class="tag tag--page">Page</span>
            </label>
            <label>
                <input type="checkbox" />
                <span class="tag tag--blog">Blog</span>
            </label>
            <label>
                <input type="checkbox" />
                <span class="tag tag--other">Other</span>
            </label>
        </div>
    </div>

    <button class="save-button">Save</button>
</div>


@code {

}