@page "/edit-project/{projectId}"
@model IsisTranscriber.NETCore.Pages.EditProjectModel
@{
    Layout = "/Pages/Shared/_ProjectEditLayout.cshtml";
}

@*<component type="typeof(IbisTranscriber.NETCore.Pages.Projects.EditPanel)" param-ProjectId="test" render-mode="Server" />*@
<div class="container py-8">
    @foreach (var result in Model.Results)
    {
        <span class="badge badge-pill badge-primary">00:@DateTimeOffset.FromFileTime(result.Offset).ToString("mm:ss")</span>
        @if (result.NBest != null && result.NBest.Count() > 0)
        {
            <span class="badge badge-pill badge-success">@((result.NBest.OrderByDescending(x=>x.Confidence).First().Confidence*100).ToString("0.00"))</span>
        }

        <p>@result.DisplayText</p>
    }
</div>


@*<h2>@Model.ProjectId</h2>*@


@*@section Scripts {
        <script src="_framework/blazor.server.js"></script>
    }*@
