<h3>Welcome to Ibis.</h3>

<p>
    Let's get your avatar set up. Ibis will use this avatar to represent
    you across the entire app, so make sure it represents you!
</p>

<div>
    <label>
        Your name
        <input @bind="User.Name" placeholder="Jane Doe" />
    </label>

    <label>
        Pronouns (optional)
        <input @bind="User.Pronouns" placeholder="He/him, she/her, they/them, etc." />
    </label>

    <label>
        About You (optional)
        <textarea @bind="User.Description"
                  @bind:event="oninput"
                  maxlength="@descLimit"
                  placeholder="Enter a little about yourself" />
    </label>
    @if (User.Description != null)
    {
        <aside>
            @(descLimit - User.Description.Count()) characters left
         </aside>
    }
</div>

@code {
    [Parameter] public UserAvatar User { get; set; } = null!;

    public int descLimit = 275;
}