@if (Emojis != null)
{
    @*<h4>Choose your skin tone</h4>
    <ul class="skintones">
        @foreach (var skintone in Emojis.Skintones)
        {
            <li @onclick="(() => SetSkintone(skintone))" class="@(User.SkinTone == skintone ? "selected" : "")">
                @skintone
            </li>
        }
    </ul>
*@
    <ul class="emojis ibis-ignore">
        @foreach (var emoji in Emojis.Emojis)
        {
            <li @onclick="(() => SetEmoji(emoji))" class="@(User.Emoji == emoji ? "selected" : "")">
                @emoji
            </li>
        }
    </ul>
}

<footer>
    <h3>Choose your emoji</h3>
    <p>
        Ibis uses universal emojis to represent you in the room.
    </p>
</footer>

@code {
    [CascadingParameter] public UserAvatar User { get; set; } = null!;
    GetEmojisResponse? Emojis { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Emojis = await Api.GetEmojisAsync();
    }

    async Task SetSkintone(string skintone)
    {
        User.SkinTone = skintone;
        await Api.UpdateUserAsync(User);
    }

    async Task SetEmoji(string emoji)
    {
        User.Emoji = emoji;
        await Api.UpdateUserAsync(User);
    }
}