@import "../_variables.scss";

.onboarding {
    background: $white;
    height: 80vh;
    width: 50%;
    max-width: 736px;
    padding: 20px 4vw;
    border-radius: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;

    header {
        padding: 12px 0;
        text-align: center;

        img {
            width: 61px;
            height: auto;
        }
    }

    .tabs {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        border-bottom: 1.5px solid $grey-400;

        li {
            padding-bottom: 16px;
            color: $grey-400;
            font-size: 20px;
            cursor: pointer;

            &.selected {
                border-bottom: 1.5px solid $grey-900;
                color: $grey-900;
            }
        }
    }

    > button {
        position: absolute;
        bottom: 24px;
        right: 24px;
    }
}
