@import "../_variables.scss";

.onboarding {
    background: $white;
    height: 80vh;
    width: 50%;
    max-width: 736px;
    padding: 20px 4vw;
    border-radius: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;

    header {
        padding: 12px 0;
        text-align: center;

        img {
            width: 61px;
            height: auto;
        }
    }

    .tabs {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        border-bottom: 1.5px solid $grey-400;

        li {
            padding-bottom: 16px;
            color: $grey-400;
            font-size: 20px;
            cursor: pointer;

            &.selected {
                border-bottom: 1.5px solid $grey-900;
                color: $grey-900;
            }
        }
    }

    h2 {
        padding-top: 16px;
        padding-bottom: 32px;
        font-size: 16px;
        line-height: 19px;
        font-weight: normal;
        text-align: left;
    }

    > button {
        position: absolute;
        bottom: 24px;
        right: 24px;
    }

    ::-webkit-scrollbar {
        width: 5px;

        &-track {
            background: transparent;
        }

        &-thumb {
            height: 30%;
            background: $primary-500;
            border-radius: 35px;
            transition: 300ms ease-in-out;

            &:hover {
                background: $secondary-900;
            }
        }
    }
}
