@import "../_variables.scss";

.language-selector {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        width: 80px;
        height: 60px;
        background: $grey-200;
        padding: 12px;
        cursor: pointer;
        font-size: 20px;

        aside {
            font-size: 12px;
        }

        &:hover {
            background: $primary-300;
        }

        &.selected {
            background: $primary-700;
            color: white;
        }
    }

}