@page "/step-three"
@layout EmptyLayout

<div class="onboarding">
            <h3>Creating a room</h3>
    <p>
        With Ibis, you are able to create rooms for specific teams, topics, or uses. 
        <br/><br/>
        You can create a room for yourself, to act as a way to upload, 
        translate and transcribe audio, video and text documents.
        <br/><br/>
        Or, add team members to start chatting live.
    </p>



    <div class="room-icons">
        <label>Room Icon</label>
        <div class="room-icon-wrapper">
            <a class="room-icon">
                <img src="/icons/User-Voice__Outline.svg" alt="Room Voice Icon" />
            </a>
            <a class="room-icon">
                <img src="/icons/Circle.svg" alt="Room Circle Icon"  />
            </a>
            <a class="room-icon">
                <img src="/icons/Speech.svg" alt="Room Speech Icon"  />
            </a>
            <a class="room-icon">
                <img src="/icons/Send-Arrow.svg" alt="Room Send Icon"  />
            </a>
        </div>
    </div>
    <div class="room-name-wrapper">
        <label>Room Name</label>
        <input type="email" placeholder="Enter Room Name" @bind="Name" />
    </div>
    <label>Invite Room Members (Optional)</label>
    <div class="invite-search">
        <input type="email" placeholder="Email" />
        <button class="btn-secondary-invert secondary">Add Member</button>
    </div>


    <div class="share-link">
        <label>
            Copy & Share Link
        </label>
        <div class="share-link-wrapper" @onclick="CopyLink">
            <div>conversation.ibis.com/ratio-view-wing</div>
            <span>@CopyConfirm</span>
            <img src="/icons/copy.svg" alt="Copy Icon"  />
        </div>
    </div>   

      
                      <div class="bottom-nav">
              <div class="actions">
            <div class="steps">
                <div class="step-circle step-active">
        <i class="material-icons-outlined">check_circle</i>
        </div>
        <hr class="step-line line-active" />
                                <div class="step-circle step-active">
        <i class="material-icons-outlined">check_circle</i>
        </div>
        <hr class="step-line line-active" />
                                <div class="step-circle step-active">
        <i class="material-icons-outlined">adjust</i>
        </div>
        <hr class="step-line" />
                        <div class="step-circle">
        <i class="material-icons-outlined">adjust</i>
        </div>
    </div>
    <div class="buttons">
        <button class="skip" @onclick="@(e => Nav.NavigateTo($"/step-four", true))">Skip</button>
        <button class="next" @onclick="@(e => GoTo("step-four"))">Confirm</button>
        </div>
    </div>
      </div>
</div>

@code {
    private GetUserResponse User;
    public string Name = "";
    string CopyConfirm = "";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if(user.Identity.IsAuthenticated)
        {
            User = await Api.GetUserAsync();
        }
    }

    async Task CreateRoom()
    {
        GetRoomResponse response = await Api.CreateRoomAsync(new NewRoomRequest { RoomName = Name });//, Participants = Group
        Nav.NavigateTo($"/step-four", true);
    }

    
    async void GoTo(string page)
    {
        Nav.NavigateTo($"/{page}", true);    
    }

        async Task CopyLink()
    {
        //
        CopyConfirm = "Copied!";
        await Task.Delay(3000);
        CopyConfirm = "";
    }
}