<h3>Welcome to Ibis@(User != null ? ", " + User.Name + "." : ".")</h3>
<p>
    If you have a few minutes, we would love to show you where
    the magic happens and get you setup with the basics,
    so you know how to use Ibis to its full potential.
</p>

<div>
    <label>
        Pronouns
        <select @bind="User.Pronouns">
            <option value="" disabled selected>Select Pronoun</option>
            <option value="SheHer">She/Her</option>
            <option value="HeHim">He/Him</option>
            <option value="TheyThem">They/Them</option>
        </select>
    </label>
    
    <label>
        Your name
        <input @bind="User.Name" placeholder="First Name" />
    </label>
    
    <label>
        Description
        <textarea @bind="User.Description"
                  @bind:event="oninput"
                  maxlength="@descLimit"
                  placeholder="Enter a little about yourself" />
    </label>
    <aside>@(descLimit - User.Description.Count()) characters left</aside>
</div>

@code {
    [Parameter] public UserAvatar? User { get; set; }

    public int descLimit = 275;

    string T(string text) => "translated text";
}