@import "../_variables.scss";

.onboarding {
    background: $grey-100;
    height: 100vh;
    width: 100%;
    max-width: 50%;
    padding: 10%;
    position: relative;

    h3 {
        color: $grey-900;
        font-size: 31px;
        font-weight: 500;
    }

    p {
        color: $grey-500;
        font-family: 'CircularStd-Book';
        font-size: 16px;
        line-height: 120%;
        padding: 12px 0 40px;
    }

    a {
        color: $primary-500;
    }

    label {
        color: $grey-700;
        font-size: 14px;
    }

    select, input, textarea {
        width: 100%;
        padding: 10.5px 14px;
        border: 1px solid $grey-300;
        margin-bottom: 16px;
        margin-top: 6px;
    }

    select {
        background-position: right 15px center;
        background-size: 10px;
        background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M24 30.75 12 18.75 14.15 16.6 24 26.5 33.85 16.65 36 18.8Z"/></svg>');
    }

    textarea {
        margin-bottom: 6px;
    }

    ::placeholder {
        color: $grey-500;
    }



    .room-icons {
        margin-bottom: 16px;

        .room-icon-wrapper {
            display: flex;
            align-items: center;

            .room-icon {
                border-radius: 8px;
                padding: 8px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 40px;
                margin-right: 9px;
                cursor: pointer;
            }

            .room-icon:nth-child(1) {
                border: 1px solid $primary-300;
                background: $primary-100;
            }

            .room-icon:nth-child(2) {
                border: 1px solid $secondary-400;
                background: $secondary-200;
            }

            .room-icon:nth-child(3) {
                border: 1px solid $purple;
                background: $primary-50;
            }

            .room-icon:nth-child(4) {
                border: 1px solid $success-200;
                background: $success-50;
                margin-right: 0px;
            }
        }
    }

    .room-name-wrapper {
        label {
            margin-bottom: 6px;
        }

        input {
            border: 1px solid $grey-300;
            border-radius: 8px;
            padding: 10px 14px;
            font-size: 16px;
            line-height: 120%;
            width: 100%;
        }

        ::placeholder {
            color: $grey-500;
        }
    }

    .invite-search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /*        column-gap: 26px;
        margin: 6px 0 24px;*/

        input {
            border: 1px solid $grey-300;
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
            border-radius: 8px;
            /*            padding: 10px 14px;*/
            font-size: 16px;
            /* line-height: 120%;*/
            max-width: 72%;
            /*            width: 72%;*/
        }

        ::placeholder {
            color: $grey-500;
        }

        .search-member {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .invite-users {
        /* margin-bottom: 40px;*/

        p.medium {
            margin-bottom: 12px;
        }

        .user-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 12px;

            .user-left {
                display: flex;
                align-items: center;

                img {
                    margin-right: 8px;
                }

                p.large {
                    line-height: 19px;
                }
            }

            .user-right {
                .host {
                    color: $primary-700;
                    background: $primary-200;
                    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
                    border-radius: 16px;
                    border: 1px solid $primary-700;
                    padding: 4px 6px;
                }

                .success {
                    background: $secondary-200;
                    color: $success-500;
                    border: 1px solid $success-500;
                    border-radius: 16px;
                    padding: 4px 6px;
                }

                .invited {
                    background: $grey-100;
                    color: $grey-500;
                    border: 1px solid $grey-500;
                    border-radius: 16px;
                    padding: 4px 6px;
                }
            }
        }
    }


    &.upload {
        button.primary {
            position: absolute;
            right: 40px;
            bottom: 30px;
        }
    }

    .share-link {
        cursor: pointer;
        margin-bottom: 70px;

        p.small {
            color: $grey-500;
            margin-bottom: 6px;
        }

        p.medium {
            color: $grey-700;
            margin-bottom: 6px;
        }

        .share-link-wrapper {
            position: relative;

            > div {
                border: 1px solid $grey-300;
                box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                border-radius: 8px;
                padding: 10px 14px;
                width: 100%;
                font-family: 'CircularStd-Book';
                color: $grey-500;
            }

            img {
                position: absolute;
                right: 11px;
                top: 11px;
            }

            span {
                font-size: 16px;
                position: absolute;
                right: 50px;
                top: 12px;
                color: $success-500;
            }
        }
    }

    .bottom-nav {
        position: absolute;
        bottom: 53px;
        /*right: 80px;*/
        width: 90%;
        display: flex;
        justify-content: flex-start;

        .actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .steps {
                display: flex;
                align-items: center;

                .step-circle {
                    width: 24px;
                    height: 24px;
                    color: $grey-300;
                    padding: 0px;
                    margin: 0px;
                    margin-left: -2px;
                }

                .step-line {
                    width: 80px;
                    border: 0px;
                    height: 2px;
                    background: $grey-300;
                    padding: 0px;
                    margin: 0px;
                    margin-left: -2px;
                }

                .step-active {
                    color: $secondary-700;
                }

                .line-active {
                    background: $secondary-700;
                }
            }
        }
    }


    button {
        padding: 10px 16px;
        border-radius: 8px;

        &.skip {
            background: $grey-200;
            color: $grey-500;
            margin-right: 10px;
        }

        &.next {
            color: $white;
            background: $primary-500;
        }

        &.secondary {
            color: $primary;
            border: 1px solid $primary;
            background: $white;
            border-radius: 8px;
            height: 39px;
            margin-top: -10px;
        }
    }
}