@page "/step-two"
@layout EmptyLayout

<div class="onboarding">
    <h3>Setting a dialect preset</h3>
    <p>
        With Ibis, you are able to translate live video
        or text into a language of your preference. 
        <br/><br />
        But, for those who want more than one setting, 
        you can create presets to apply to your rooms, 
        and quickly swap between them as needed.
        <br/><br />
        Let’s create your default preset.
    </p>

    <div>
        <label>Preset Name</label>
        <input placeholder="Default profile"/>
        <label>Translate incoming voice to:</label>
        <select>
            <option>English</option>
        </select>
        <label>Translate incoming text to:</label>
                <select>
            <option>English</option>
        </select>
        <label>Your translator gender</label>
        <select>
            <option>Female</option>
            <option>Male</option>
        </select>
        <p>
            This is how others will hear you when they translate your messages/audio
        </p>
    </div>


                      <div class="bottom-nav">
              <div class="actions">
            <div class="steps">
                <div class="step-circle step-active">
        <i class="material-icons-outlined">check_circle</i>
        </div>
        <hr class="step-line line-active" />
                                <div class="step-circle step-active">
        <i class="material-icons-outlined">adjust</i>
        </div>
        <hr class="step-line" />
                                <div class="step-circle">
        <i class="material-icons-outlined">adjust</i>
        </div>
        <hr class="step-line" />
                        <div class="step-circle">
        <i class="material-icons-outlined">adjust</i>
        </div>
    </div>
    <div class="buttons">
        <button class="skip" @onclick="@(e => Nav.NavigateTo($"/page-three", true))">Skip</button>
        <button class="next" @onclick="@(e => GoTo("step-three"))">Confirm</button>
        </div>
    </div>
      </div>
</div>

@code {
    private GetUserResponse User;
    public string Language = "";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if(user.Identity.IsAuthenticated)
        {
            User = await Api.GetUserAsync();
        }
    }

    async void GoTo(string page)
    {
        await UpdateUser();
        Nav.NavigateTo($"/{page}", true);    
    }

    private async Task UpdateUser() => await Api.UpdateUserAsync(new UpdateUserRequest { UserId = User.Id, LanguageId = Language });
}