    <h3>Creating a room</h3>
    <p>
        With Ibis, you are able to create rooms for specific teams, topics, or uses.
        <br /><br />
        You can create a room for yourself, to act as a way to upload,
        translate and transcribe audio, video and text documents.
        <br /><br />
        Or, add team members to start chatting live.
    </p>

    <CreateRoomModal />
