@import "../_variables.scss";

.voice-selector {
    max-height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;

    h4 {
        font-size: 12px;
        font-weight: 400;
        margin: 40px 0 20px;
    }

    ul {
        margin-bottom: 20px;

        li {
            display: flex;
            position: relative;
            background: $grey-200;
            padding: 12px;
            cursor: pointer;
            font-size: 24px;
            margin-bottom: 8px;

            aside {
                position: absolute;
                bottom: 8px;
                right: 8px;
                font-size: 12px;
            }

            &:hover {
                background: $primary-300;
            }

            &.selected {
                background: $primary-700;
                color: white;
            }
        }
    }
}
