@import "../_variables.scss";

.voice-FTUX {
    padding: 16px 0;
}

.voice-selector {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 70%;
    margin-bottom: 120px;
    padding: 12px;

    h4 {
        padding-top: 8px;
        color: $grey-700;
        font-size: 16px;
        font-weight: 500;
    }

    ul {
        li {
            display: flex;
            position: relative;
            margin: 8px 0;
            padding: 10px 14px;
            border: 1px solid $grey-300;
            border-radius: 8px;
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
            cursor: pointer;
            font-size: 16px;
            transition: 300ms ease-in-out;

            aside {
                height: 100%;
                display: flex;
                flex-direction: row;
                gap: 12px;
                position: absolute;
                top: 0;
                right: 14px;

                span {
                    margin: auto 0;
                    font-size: 12px;
                    color: $grey-400;
                }

                svg {
                    width: 20px;
                    height: 20px;
                    margin: auto 0;
                    opacity: 0.4;
                }
            }

            &:hover {
                background: $grey-100;
            }

            &.selected {
                border: 1.5px solid #30C07D;
                color: #30C07D;

                aside {
                    span {
                        color: #30C07D;
                    }

                    svg {
                        fill: #30C07D;
                    }
                }
            }
        }
    }
}
