.container-success {
    left: 10%;
    position: absolute;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 1s;
    animation: slide 0.5s forwards;
    animation-delay: 1s;
}

@-webkit-keyframes slide {
    100% {
        left: 20%;
    }
}

@keyframes slide {
    100% {
        left: 20%;
    }
}