//colors
$background: #fafbfc;
$black: #000000;
$white: #FFFFFF;
$gray: #858a8f;
$light-gray: #e6e6e6;
$blue: #2262CA;
$dark-blue: #003B5F;
$darker-blue: #001537;
$accent-blue: #29E1EF;

$primary: #013b60;
$secondary: #fe3205;
$tertiary: #f9f1e8;

$primary-50: #F9F5FF;
$primary-100: #FAF1E8;
$primary-200: #FFCDAA;
$primary-300: #FF9E70;
$primary-400: #FF6539;
$primary-500: #FF3520;
$primary-600: #EA281B;
$primary-700: #CA1E14;
$primary-800: #A5120D;
$primary-900: #810A08;

$secondary-100: #FAFCFC;
$secondary-200: #EEF4FA;
$secondary-300: #D3E4F1;
$secondary-400: #AACAE1;
$secondary-500: #7EB0D1;
$secondary-600: #5696BE;
$secondary-700: #2E7BA5;
$secondary-800: #00608B;
$secondary-900: #003B5F;

$grey-100: #F3F5F6;
$grey-200: #E5E7EA;
$grey-300: #D1D4DC;
$grey-400: #9BA3AF;
$grey-500: #6A7280;
$grey-600: #4A5563;
$grey-700: #364150;
$grey-800: #1D2937;
$grey-900: #0A111D;

$amber-100: #FFF3CA;
$amber-200: #FFE692;
$amber-300: #FFD25C;
$amber-400: #FFBF3E;
$amber-500: #FD9E2E;
$amber-600: #E17723;
$amber-700: #BB531D;
$amber-800: #984019;
$amber-900: #7D3616;

$success-50: #ECFDF3;
$success-200: #A6F4C5;
$success-500: #12B76A;

$purple: #D6BBFB;
$green: #30C07D;