@import "Pages/Index";
@import "Pages/Pricing";

@import "Shared/MainLayout";
@import "Shared/RoomLayout";
@import "Shared/NavMenu";
@import "Shared/Footer";
@import "Shared/Tooltip";

@import "Rooms/Index";
@import "Rooms/Room";
@import "Rooms/RoomCard";
@import "Rooms/RoomShare";
@import "Rooms/DeleteModal";
@import "Rooms/EditModal";
@import "Rooms/InviteModal";
@import "Rooms/RoomMenu";
@import "Rooms/RoomIcon";

@import "Messages/MessageCard";
@import "Messages/MessageList";
@import "Messages/NewMessage";
@import "Messages/Upload";
@import "Messages/MessageTags";

@import "Users/Account";
@import "Users/Notifications";
@import "Users/Avatar";
@import "Users/AvatarList";
@import "Users/AccountNav";
@import "Users/AddFundsModal";

@import "Onboarding/Index";
@import "Onboarding/AccountDetails";
@import "Onboarding/LanguageSelector";
@import "Onboarding/VoiceSelector";
@import "Onboarding/AvatarEditor";
@import "Onboarding/EmojiSelector";
@import "Onboarding/ColorSelector";

//Sans Serif Fonts
//Regular fonts

@font-face {
    font-family: 'CircularStd';
    font-weight: 400;
    src: url(wwwroot/fonts/CircularStd-Book.ttf) format('truetype');
}

@font-face {
    font-family: 'CircularStd';
    font-weight: 500;
    src: url(wwwroot/fonts/CircularStd-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'CircularStd';
    font-weight: 700;
    src: url(wwwroot/fonts/CircularStd-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'CircularStd';
    font-weight: 900;
    src: url(wwwroot/fonts/CircularStd-Black.ttf) format('truetype');
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: $primary-500;
    border-radius: 35px;
}

html {
    scrollbar-width: thin;
    scrollbar-color: $primary-500;
}

body {
    overflow-x: hidden !important;
    font-family: 'CircularStd', sans-serif;
    background: $background;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

#app {
    .loading-progress {
        position: relative;
        display: block;
        width: 8rem;
        height: 8rem;
        margin: 20vh auto 1rem auto;


        circle {
            fill: none;
            stroke: #e0e0e0;
            stroke-width: 0.6rem;
            transform-origin: 50% 50%;
            transform: rotate(-90deg);

            &:last-child {
                stroke: $primary-500;
                stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
                transition: stroke-dasharray 0.05s ease-in-out;
            }
        }
    }

    .loading-progress-text {
        position: absolute;
        text-align: center;
        inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
        color: $primary-500;

        &:after {
            content: var(--blazor-load-percentage-text, "Loading");
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 120%;
    font-family: 'CircularStd', sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 61px;
}

h2 {
    font-size: 49px;
}

h3 {
    font-size: 39px;
}

h4 {
    font-size: 39px;
}

h5 {
    font-size: 25px;
}

h6 {
    font-size: 20px;
    font-weight: 700;
}

p.large {
    font-size: 16px;
    line-height: 120%;
}

p.medium {
    font-size: 13px;
    line-height: 120%;
}

p.small {
    font-size: 10px;
    line-height: 120%;
}

button.action {
    padding: 8px 10px;
    border-radius: 8px;
    border-width: 0;
    background: none;
    color: #013b60;
    font-weight: normal;
    font-size: 13px;
    transition: 300ms ease-in-out;

    > img, > svg {
        height: 12px;
        width: auto;
    }

    svg {
        margin-right: 6px;
    }

    svg path {
        fill: #013b60;
    }

    &:hover {
        background: $secondary-200;
    }
}

:focus-visible {
    box-shadow: 2px 2px 6px $primary-800;
    outline: 3px solid $primary-900;
}

.realtime-hub, .realtime-hub-Connecting {
    display: none;

    span {
        display: none;
    }
}