@import "../_variables.scss";

body {
    margin: 0px;
}

.ibis-meta-app {
    .ibis-widget {
        position: fixed;
        top: 30px;
        right: 270px;
        z-index: 101;

        @media only screen and (max-width: 760px) {
            top: 5px;
            right: 60px;
        }
    }
}

.landing {
    margin: 0px;
    background: $background;

    a.btn-primary {
        padding: 21px 53px;
        border: none;
        border-radius: 5px;
        background: $primary-500;
        color: $white;
        font-size: 20px;
        transition: 200ms ease-in-out;
        display: inline-block;

        &:hover {
            cursor: pointer;
            transform: scale(103%);
        }
    }

    .btn-secondary {
        padding: 21px 53px;
        border: none;
        border: none;
        border-radius: 5px;
        background: $primary-100;
        color: $primary-500;
        font-size: 20px;
        transition: 200ms ease-in-out;
        display: inline-block;

        &:hover {
            cursor: pointer;
            transform: scale(103%);
        }
    }

    &--nav {
        display: flex;
        justify-content: space-between;
        padding: 30px 60px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: $background;
        z-index: 100;


        .logo {
            width: 146px;
        }

        .menu {
            padding-top: 10px;

            a.log-in {
                margin-right: 35px;
                color: $gray;
                font-size: 20px;
                line-height: 25px;
                text-decoration: none;
                transition: 300ms ease-in-out;
                display: inline-block;

                &:hover {
                    cursor: pointer;
                    color: $primary-500;
                    transform: scale(103%);
                }
            }

            a.get-started {
                padding: 13px 37px;
                border: 1px solid $primary-500;
                border-radius: 5px;
                background: transparent;
                color: $primary-500;
                font-size: 20px;
                line-height: 25px;
                transition: 200ms ease-in-out;
                display: inline-block;


                &:hover {
                    cursor: pointer;
                    transform: scale(103%);
                }
            }
        }

        &.mobile {
            display: none;
        }
    }

    .hero {
        margin: 200px 0px 100px;
        position: relative;
        text-align: center;

        .description {
            width: 680px;
            margin: auto;
            text-align: center;

            h1 {
                margin: 0px;
                color: $secondary-900;
                font-weight: 600;
                font-size: 80px;
                line-height: 97px;
            }

            p {
                margin: 0px;
                margin-top: 8px;
                padding: 0px;
                color: $gray;
                font-weight: 600;
                font-size: 20px;
                line-height: 35px;
            }
        }

        .landing--button-container {
            margin-top: 72px;
            margin-bottom: 150px;
            /*            .btn-primary {
                margin-right: 30px;
            }
*/
        }

        img.hero-image--room {
            width: 85%;
            max-width: 1200px;
            background: $background;
            position: relative;
            z-index: 5;
        }

        img.hero-background {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
        }
    }

    .section-1 {
        background: $tertiary;
        margin: auto;
        padding: 100px 40px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 72px;

        .left-container {
            display: flex;
            gap: 32px;

            .card-container {
                .card {
                    width: 286px;
                    height: 340px;
                    margin: 0px;
                    margin-bottom: 32px;
                    padding: 32px 22px 31px 31px;
                    border-radius: 10px;
                    background: $white;
                    box-shadow: 0px 63px 50px rgba(67, 67, 68, 0.0705882);

                    .content {
                        img {
                            width: 55px;
                            margin-bottom: 30px;
                        }

                        h3 {
                            color: $secondary-900;
                            font-size: 26px;
                            line-height: 31px;
                        }

                        p {
                            margin-top: 11px;
                            color: $gray;
                            font-family: freight-display-pro, serif;
                            font-weight: 600;
                            font-style: normal;
                            font-size: 18px;
                            line-height: 25px;
                        }
                    }
                }
            }
        }

        .right-container {
            max-width: 528px;
            margin: auto 0;

            h2 {
                margin: 0px;
                color: $secondary-900;
                font-weight: 600;
                font-size: 50px;
                line-height: 73px;
            }

            p {
                margin: 0;
                margin-top: 16px;
                color: $gray;
                font-family: freight-display-pro, serif;
                font-weight: 600;
                font-style: normal;
                font-size: 20px;
                line-height: 33px;
            }
        }
    }

    .section-2 {
        margin: 0 auto;
        width: 100%;
        max-width: 1400px;

        .row {
            margin: 100px auto;
            padding: 80px 50px;
            display: flex;
            justify-content: space-between;

            &--feature2 {
                flex-direction: row-reverse;
                padding: 80px 50px 80px 30px;
                gap: 40px;
            }

            &--content {
                max-width: 528px;
                margin: auto 0;
                position: relative;
                z-index: 3;

                h2 {
                    margin: 0;
                    color: $secondary-900;
                    font-weight: 600;
                    font-size: 50px;
                    line-height: 73px;
                }

                p {
                    max-width: 440px;
                    margin: 0;
                    margin-top: 16px;
                    margin-bottom: 55px;
                    color: $gray;
                    font-family: freight-display-pro, serif;
                    font-weight: 600;
                    font-style: normal;
                    font-size: 20px;
                    line-height: 33px;
                }
            }

            &--images {
                width: 774px;
                position: relative;
                text-align: center;

                img.content-image {
                    width: 610px;
                    margin: auto;
                    position: relative;
                    z-index: 2;
                }

                img.content-background {
                    z-index: 1;

                    &.feature1 {
                        width: 691px;
                        position: absolute;
                        top: -110px;
                        left: 20px;
                    }

                    &.feature2 {
                        width: 774px;
                        position: absolute;
                        top: -150px;
                        left: 40px;
                    }

                    &.feature3 {
                        width: 764px;
                        position: absolute;
                        top: -200px;
                        left: -20px;
                    }
                }
            }
        }
    }

    .banner {
        width: 1143px;
        margin: 0 auto;
        position: relative;
        z-index: 10;

        img {
            width: 100%;

            &.mobile {
                display: none;
            }
        }

        .banner-content {
            text-align: left;

            &.desktop {
                h3 {
                    position: absolute;
                    margin: 0;
                    padding: 0;
                    top: 40px;
                    left: 100px;
                    color: white;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 48px;
                }

                a.btn-primary {
                    padding: 21px 61px;
                    border-radius: 5px;
                    position: absolute;
                    top: 60px;
                    right: 80px;
                    background: $primary-500;
                    font-size: 20px;
                    line-height: 24px;
                }
            }

            &.mobile {
                display: none;
            }
        }
    }

    @media only screen and (max-width: 1142px) {
        .btn-primary, .btn-secondary {
            padding: 18px 40px;
            font-size: 16px;
        }

        &--nav {
            display: flex;
            justify-content: space-between;
            padding: 30px 60px;

            .logo {
                width: 120px;
            }

            .menu {
                a {
                    font-size: 18px;
                    line-height: 25px;
                }

                a.get-started {
                    padding: 13px 37px;
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }

        .hero {
            .description {
                h1 {
                    font-size: 70px;
                    line-height: 85px;
                }

                p {
                    font-size: 18px;
                    line-height: 25px;
                }
            }

            img.hero-image--room {
                max-width: 1000px;
            }

            img.hero-background {
                bottom: 40px;
            }
        }

        .section-1 {
            gap: 30px;

            .left-container {
                gap: 20px;

                .card-container {
                    .card {
                        width: 220px;
                        height: 270px;
                        margin-bottom: 20px;
                        padding: 25px 17px 25px 25px;

                        .content {
                            img {
                                width: 40px;
                                margin-bottom: 20px;
                            }

                            h3 {
                                font-size: 20px;
                                line-height: 25px;
                            }

                            p {
                                font-size: 15px;
                                line-height: 19px;
                            }
                        }
                    }
                }
            }

            .right-container {
                h2 {
                    font-size: 40px;
                    line-height: 50px;
                }

                p {
                    font-size: 18px;
                    line-height: 25px;
                }
            }
        }

        .section-2 {
            max-width: 1142px;

            .row {
                padding: 20px 20px 20px 50px;
                gap: 40px;

                &--feature2 {
                    padding: 40px 50px 60px 20px;
                    gap: 60px;
                }

                &--content {
                    h2 {
                        font-size: 35px;
                        line-height: 42px;
                    }

                    p {
                        font-size: 18px;
                        line-height: 22px;
                    }
                }

                &--images {
                    max-width: 600px;

                    img.content-image {
                        width: 380px;
                    }

                    img.content-background {
                        &.feature1 {
                            width: 480px;
                            position: absolute;
                            top: -90px;
                            left: -60px;
                        }

                        &.feature2 {
                            width: 520px;
                            top: -100px;
                            left: -50px;
                        }

                        &.feature3 {
                            width: 500px;
                            top: -130px;
                            left: -40px;
                        }
                    }
                }
            }
        }

        .banner {
            width: 760px;
            margin-top: 60px;

            .banner-content {
                text-align: left;

                &.desktop {
                    h3 {
                        top: 25px;
                        left: 70px;
                        color: white;
                        font-weight: 600;
                        font-size: 28px;
                        line-height: 35px;
                    }

                    a.btn-primary {
                        padding: 15px 40px;
                        border-radius: 5px;
                        position: absolute;
                        top: 35px;
                        right: 70px;
                        background: $primary-500;
                        font-size: 20px;
                        line-height: 24px;
                    }
                }

                &.mobile {
                    display: none;
                }
            }
        }
    }

    @media only screen and (max-width: 900px) {
        .landing--nav {
            &.desktop {
                padding: 20px 40px;
            }
        }
    }

    @media only screen and (max-width: 760px) {
        .btn-primary, .btn-secondary {
            padding: 15px 30px;
            font-size: 14px;
        }

        .landing--nav {
            &.desktop {
                display: none;
            }

            &.mobile {
                width: 100%;
                height: 50px;
                display: block;
                padding: 15px 25px 15px 20px;
                background: $background;
                position: fixed;
                top: 0;
                z-index: 50;

                .logo {
                    position: relative;
                    width: 50px;
                    z-index: 50;
                }

                label.menu--toggle {
                    background: $background;
                    position: absolute;
                    top: 15px;
                    right: 25px;
                    z-index: 50;

                    i {
                        font-size: 20px;
                    }
                }

                input.menu--toggle {
                    display: none;

                    &:not(:checked) {
                        & ~ label span:last-child {
                            display: none;
                        }

                        & ~ .menu {
                            background: $background;
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 0;
                            height: 0;
                            z-index: 20;
                        }

                        & ~ .menu ul {
                            margin-top: 40px;
                        }
                    }

                    &:checked {
                        & ~ label span:first-child {
                            display: none;
                        }

                        & ~ .menu {
                            background: $background;
                            float: right;
                            width: 100vw;
                            height: 100vh;
                        }

                        & ~ label {
                            position: fixed;
                        }
                    }
                }

                .menu {
                    overflow: hidden;
                    margin: 0px -25px 0 -20px;
                    padding-top: 25px;
                    display: block;
                    background: $background;
                    position: fixed;
                    top: 40px;
                    right: 25px;
                    z-index: 20;
                    transition: width 600ms, height 600ms;

                    ul {
                        background: $background;
                        overflow: hidden;

                        li {
                            width: 100%;
                            margin-bottom: 8px;

                            &:active {
                                background: $secondary-300;
                            }

                            a.log-in {
                                width: 80%;
                                min-width: 200px;
                                margin: 0px 0px 6px 45px;
                                padding: 5px 20px;
                                border: 1px solid $gray;
                                border-radius: 5px;
                                font-size: 16px;
                                line-height: 24px;
                                text-decoration: none;
                                text-align: center;
                                transition: color 0ms, background 300ms ease-in-out;

                                &:hover {
                                    color: $gray;
                                    cursor: pointer;
                                    transform: scale(103%);
                                }
                            }

                            a.get-started {
                                width: 80%;
                                min-width: 200px;
                                margin: 6px 0px 0px 45px;
                                padding: 5px 20px;
                                border: 1px solid $primary-500;
                                font-size: 16px;
                                line-height: 20px;
                                text-align: center;
                                transition: 200ms ease-in-out;

                                &:hover {
                                    cursor: pointer;
                                    transform: scale(103%);
                                }
                            }
                        }
                    }
                }
            }
        }

        .hero {
            margin: 0;
            padding: 100px 0;

            .description {
                width: 400px;

                h1 {
                    font-weight: 900;
                    font-size: 48px;
                    line-height: 50px;
                }

                p {
                    font-size: 18px;
                    line-height: 25px;
                }
            }

            .landing--button-container {
                margin: 55px 0;

                a {
                    padding: 10px 25px;
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            img.hero-image--room {
                max-width: 480px;
            }
        }

        .section-1 {
            padding: 50px;
            display: block;

            .right-container {
                max-width: 480px;

                h2 {
                    font-size: 40px;
                    line-height: 50px;
                }

                p {
                    margin: 8px 0px;
                    font-size: 20px;
                    line-height: 25px;
                }

                button {
                    margin: 24px 0px 48px 0px;
                }
            }

            .left-container {
                margin: 0 auto;
                margin-bottom: 15px;
                max-width: 400px;
                justify-content: space-around;
                gap: 20px;

                .card-container {
                    margin: 0 auto;
                    margin-top: 48px;

                    .card {
                        width: 190px;
                        height: 230px;
                        padding: 20px;

                        .content {
                            img {
                                width: 40px;
                            }

                            h3 {
                                font-size: 18px;
                                line-height: 20px;
                            }

                            p {
                                font-size: 13px;
                                line-height: 15px;
                            }
                        }
                    }
                }
            }
        }

        .section-2 {
            max-width: 760px;
            margin-top: 50px;
            margin-bottom: 60px;

            .row {
                margin: 0px auto;
                margin-bottom: 100px;
                padding: 0px 50px;
                display: block;

                &--content {
                    max-width: 760px;
                    margin: auto 0;

                    h2 {
                        font-size: 40px;
                        line-height: 50px;
                    }

                    p {
                        max-width: 760px;
                        margin: 0;
                        padding: 15px 0;
                        font-size: 18px;
                        line-height: 25px;
                    }

                    button {
                        margin-top: 24px;
                    }
                }

                &--images {
                    width: 100%;
                    margin-top: 140px;
                    margin-bottom: 50px;
                    position: relative;
                    text-align: center;

                    img.content-image {
                        width: 90%;
                    }

                    img.content-background {
                        &.feature1 {
                            width: 120%;
                            top: -100px;
                            left: -40px;
                        }

                        &.feature2 {
                            width: 120%;
                            top: -110px;
                            left: -20px;
                        }

                        &.feature3 {
                            width: 120%;
                            top: -130px;
                            left: -40px;
                        }
                    }
                }
            }
        }

        .banner {
            width: 480px;
            margin: 0 auto;
            margin-top: 40px;
            position: relative;

            img.desktop {
                display: none;
            }

            img.mobile {
                width: 100%;
                display: block;
            }

            .banner-content {
                &.desktop {
                    display: none;
                }

                &.mobile {
                    display: block;
                    width: 330px;
                    position: absolute;
                    left: 75px;
                    bottom: 95px;

                    h3 {
                        color: white;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 31px;
                        margin-bottom: 45px;
                    }

                    a.btn-primary {
                        width: 100%;
                        padding: 12px 71px;
                        background: $primary-500;
                        font-size: 18px;
                        line-height: 24px;
                        display: inline-block;
                        text-align: center;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 480px) {
        .btn-primary, .btn-secondary {
            padding: 10px 25px;
            font-size: 16px;
            line-height: 24px;
        }

        .landing--nav.mobile .menu ul li a.log-in, .landing--nav.mobile .menu ul li a.get-started {
            width: 75%;
        }

        .hero {
            .description {
                width: 100%;
                max-width: 480px;
                margin: auto;
                text-align: center;

                h1 {
                    padding: 0px 36px;
                    font-weight: 900;
                    font-size: 45px;
                    line-height: 55px;
                }

                p {
                    padding: 0px 36px;
                    font-size: 16px;
                    line-height: 25px;
                }
            }

            .landing--button-container {
                margin-bottom: 80px;
                padding: 0px 20px;
                /*                .btn-primary {
                    margin-right: 10px;
                }
*/
            }
        }

        .section-1 {
            padding: 36px;
            display: block;

            .right-container {
                max-width: 480px;

                h2 {
                    font-size: 31px;
                    line-height: 38px;
                }

                p {
                    margin: 8px 0px;
                    font-size: 16px;
                    line-height: 25px;
                }

                button {
                    margin: 24px 0px 48px 0px;
                }
            }

            .left-container {
                max-width: 300px;
                justify-content: center;
                gap: 16px;

                .card-container {
                    .card {
                        width: 136px;
                        height: 170px;
                        margin: 0px;
                        margin-bottom: 16px;
                        padding: 13px;

                        .content {
                            img {
                                width: 25px;
                                margin-bottom: 13px;
                            }

                            h3 {
                                font-size: 13px;
                                line-height: 14px;
                            }

                            p {
                                font-size: 9px;
                                line-height: 13px;
                                margin-top: 8px;
                            }
                        }
                    }
                }
            }
        }

        .section-2 {
            max-width: 480px;
            margin-bottom: 0px;

            .row {
                margin: 40px auto;
                padding: 0;
                display: block;

                &--content {
                    max-width: 480px;
                    margin: auto 0;
                    padding: 0px 36px;

                    h2 {
                        font-size: 31px;
                        line-height: 38px;
                    }

                    p {
                        max-width: 440px;
                        margin: 0;
                        padding: 8px 0;
                        font-size: 16px;
                        line-height: 25px;
                    }

                    button {
                        margin: 24px 0px;
                    }
                }

                &--images {
                    width: 100%;
                    margin-top: 110px;
                    position: relative;
                    text-align: center;

                    img.content-image {
                        width: 90%;
                    }

                    img.content-background {
                        &.feature1 {
                            width: 100%;
                            top: -75px;
                            left: 10px;
                        }

                        &.feature2 {
                            width: 110%;
                            top: -80px;
                            left: 0px;
                        }

                        &.feature3 {
                            width: 110%;
                            top: -120px;
                            left: -20px;
                        }
                    }
                }
            }
        }

        .banner {
            width: 360px;
            margin: 0 auto;
            position: relative;

            img.desktop {
                display: none;
            }

            img.mobile {
                width: 100%;
                display: block;
            }

            .banner-content {
                &.desktop {
                    display: none;
                }

                &.mobile {
                    display: block;
                    width: 239px;
                    position: absolute;
                    left: 60px;
                    bottom: 70px;

                    h3 {
                        color: white;
                        font-weight: 600;
                        font-size: 19px;
                        line-height: 31px;
                        margin-bottom: 25px;
                    }

                    a.btn-primary {
                        width: 100%;
                        padding: 6px 71px;
                        background: $primary-500;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 321px) {
        .hero {
            .landing--button-container {
                .btn-primary {
                    margin-right: 0px;
                    margin-bottom: 10px;
                }

                .btn-secondary {
                    margin-bottom: 10px;
                }
            }
        }
    }

    @media only screen and (max-width: 280px) {
        .banner {
            width: 280px;

            .banner-content {
                &.mobile {
                    width: 195px;
                    position: absolute;
                    left: 42px;
                    bottom: 52px;

                    h3 {
                        color: white;
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 20px;
                        margin-bottom: 25px;
                    }

                    a.btn-primary {
                        width: 100%;
                        padding: 8px 25px;
                        background: $primary-500;
                        font-size: 13px;
                        line-height: 15px;
                    }
                }
            }
        }
    }
}