@page "/pricing"
@attribute [AllowAnonymous]
@layout MarketingLayout

<div class="pricing-page">
	<div class="hero">
		<h2>Pricing</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
			incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
		</p>
		<button @onclick="GoTo">Start Free Trial</button>
	</div>
	<section class="options">
		<div class="pricing-card">
			<h4>Pay as you Go</h4>
			<div class="price">$0 <span>/minute</span></div>
			<p>
				Neque viverra justo nec ultrices dui sapien eget mi. Elit eget gravida cum sociis natoque penatibus et.
			</p>
			<ul>
				<li>
					<img src="/icons/plus.png"/> Dui faucibus in ornare
				</li>
				<li>
					<img src="/icons/plus.png" /> Dui faucibus in ornare
				</li>
				<li>
					<img src="/icons/plus.png" /> Dui faucibus in ornare
				</li>
				<li>
					<img src="/icons/plus.png" /> Dui faucibus in ornare
				</li>
			</ul>
			<button @onclick="GoTo">Start Free Trial</button>
		</div>
		<div class="pricing-card">
			<h4>Unlimited</h4>
			<div class="price">$0 <span>/month</span></div>
			<p>
				Neque viverra justo nec ultrices dui sapien eget mi. Elit eget gravida cum sociis natoque penatibus et.
			</p>
			<ul>
				<li>
					<img src="/icons/plus.png"/> Dui faucibus in ornare
				</li>
				<li>
					<img src="/icons/plus.png" /> Dui faucibus in ornare
				</li>
				<li>
					<img src="/icons/plus.png" /> Dui faucibus in ornare
				</li>
				<li>
					<img src="/icons/plus.png" /> Dui faucibus in ornare
				</li>
			</ul>
			<button @onclick="GoTo">Start Free Trial</button>
		</div>
	</section>
	<section class="faq">
		<h3>Frequently Asked Questions</h3>
		<div id="question-1" class="question">
			<h4 @onclick="@(e => ToggleQuestion(1))">
				@if(QuestionOpen == 1)
				{
					<img class="icon-open" src="/icons/minus.png" />
				} else
				{
					<img class="icon-closed" src="/icons/plus-dark.png" />
				}
				How does Ibis pricing work?
			</h4>
			@if(QuestionOpen == 1)
			{
				<p class="answer" id="answer-1">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
					incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
				</p>
			}
		</div>
		<div id="question-2" class="question">
			<h4 @onclick="@(e => ToggleQuestion(2))">
				@if (QuestionOpen == 2)
				{
					<img class="icon-open" src="/icons/minus.png" />
				}
				else
				{
					<img class="icon-closed" src="/icons/plus-dark.png" />
				}
				How does Ibis pricing work?
			</h4>
			@if (QuestionOpen == 2)
			{
				<p class="answer" id="answer-1">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
					incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
				</p>
			}
		</div>
		<div id="question-3" class="question">
			<h4 @onclick="@(e => ToggleQuestion(3))">
				@if (QuestionOpen == 3)
				{
					<img class="icon-open" src="/icons/minus.png" />
				}
				else
				{
					<img class="icon-closed" src="/icons/plus-dark.png" />
				}
				How does Ibis pricing work?
			</h4>
			@if (QuestionOpen == 3)
			{
				<p class="answer" id="answer-1">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
					incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
				</p>
			}
		</div>
	</section>
	<section class="banner">
		<img class="banner-image desktop" src="/images/landing/banner.png" />
		<img class="banner-image mobile" src="/images/landing/banner-mobile.png" />
		<div class="banner-content">
			<h3>What are you waiting for? <br />Give Ibis a go!</h3>
			@*<button class="btn-primary">Get Started</button>*@
			<a href="/rooms" class="btn-primary">Launch Ibis</a>
		</div>
	</section>
</div>

@code {
	int QuestionOpen = 0;

	void GoTo()
	{
		Nav.NavigateTo($"/billing");
	}

	async Task ToggleQuestion(int number)
	{
		if(QuestionOpen == number)
		{
			QuestionOpen = 0;
		} else
		{
			QuestionOpen = number;
			await JS.InvokeVoidAsync("openQuestion", number);
		}
	}
}