@inherits RealtimeComponent

<article class="message-card" @onclick="GoToSubroom">
    <Avatar User="Message.User" />
    <time datetime="@Message.Timestamp.ToString("u")"></time>
            @if (Message.Audio != null)
            {
                <MessageAudio Audio="Message.Audio" />
            }
    <p>@Message.Text</p>
</article>

@code {
    [Parameter] public Message Message { get; set; } = new();

    protected override void OnInitialized()
    {
        On<MessageTextChanged>(x =>
        {
            if (Message.Id == x.Message.Id)
                Message.Text = x.Message.Text;
        });

        On<MessageAudioChanged>(x =>
        {
            if (Message.Id == x.Message.Id)
                Message.Audio = x.Message.Audio;
        });
    }
   
    void GoToSubroom()
    {
        //if (Message != null)
        //    Nav.NavigateTo($"/rooms/{Message.SubroomId}");
    }
}
