@import "../_variables.scss";

.message-card {
    padding: 16px;
    margin: 0 8px;
    border-radius: 12px;
    margin-bottom: 16px;
    position: relative;

    > p, span {
        font-size: 18px;
        font-weight: 400;
        color: $grey-900;
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        filter: opacity(30%);
        border-radius: 12px;
        pointer-events: none;
    }

    .avatar {
        height: 20px;
        width: 200px;
        justify-content: flex-start;
        background: transparent !important;
    }

    .message-audio {
        position: absolute;
        top: 16px;
        right: 16px;
    }

    .message-text {
        span {
            display: inline-block;
            padding: 4px 2px;
            border-radius: 4px;
        }
        &.playing {
            span {
                opacity: 30%;
                &.active {
                    background-color: $grey-900;
                    color: white;
                    opacity: 100%;
                    font-weight: bold;
                }
            }
        }
    }
}

.subroom {
    margin-left: 40px;
}
