@inherits RealtimeComponent

<div class="message-grid">
    <div class="message-list" id="room-@Room.RoomId">
        @foreach (var message in Messages)
        {
            <MessageCard Message="message" />
        }
    </div>
    <NewMessage Room="Room" />
</div>

@code {
    [Parameter] public GetRoomResponse Room { get; set; } = null!;
    List<Message> Messages = new();
    string? Language;

    protected override async Task OnInitializedAsync()
    {
        var response = await Api.GetAllMessagesAsync(new GetAllMessagesRequest { RoomId = Room.RoomId });
        Messages = response.Messages.ToList();
        Language = response.Language;

        await On<MessageTextChanged>(Room.RoomId + "|" + Language, async x =>
        {
            await AddMessage(x.Message);
        });
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Messages.Any())
            await JS.InvokeVoidAsync("scrollToBottom", $"room-{Room.RoomId}");
    }

    async Task AddMessage(Message message)
    {
        var existingId = Messages.FindIndex(x => x.Id == message.Id);
        if (existingId > -1)
        {
            Messages[existingId] = message;
        }
        else
        {
            Messages.Add(message);
            await JS.InvokeVoidAsync("scrollToBottom", $"room-{Room.RoomId}");
        }
    }

}
