@inherits RealtimeComponent

<article class="message-card" @onclick="GoToSubroom">
    <div class="background" style="background: @Message.User.Color"></div>
    <Avatar User="Message.User" />
    @if (Message.Audio != null)
    {
        <MessageAudio Audio="Message.Audio" />
    }
    <p>@Message.Text</p>
</article>

@code {
    [Parameter] public Message Message { get; set; } = new();
    string BackgroundColor = "#FFFFFF";

    protected override void OnInitialized()
    {
        On<MessageTextChanged>(x =>
        {
            if (Message.Id == x.Message.Id)
                Message.Text = x.Message.Text;
        });

        On<MessageAudioChanged>(x =>
        {
            if (Message.Id == x.Message.Id)
                Message.Audio = x.Message.Audio;
        });
    }
   
    void GoToSubroom()
    {
        //if (Message != null)
        //    Nav.NavigateTo($"/rooms/{Message.SubroomId}");
    }
}
