<section class="upload modal">
    <button class="close" @onclick="Cancel">
        <img src="/icons/Close.svg"/>
    </button>
    <div class="input">
        <h4>Upload a file</h4>
        <InputFile type="file" accept="audio/wav, video/*" name="UploadFileInput" OnChange="@OnInputFileChange"/>
    </div>
    @((MarkupString)ErrorMessageHTML)
    <button @onclick="Submit" class="primary">Upload</button>
</section>

@code {
    [Parameter] public string? RoomId { get; set; }
    [Parameter] public string? Language { get; set; }
    string? Text;
    MemoryStream? ms;
    string? fileName;
    bool FileInputEmptyOnSubmit = false;
    string? ErrorMessageHTML;

    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; } = default!;

    void ErrorMessage()
    {
        if (FileInputEmptyOnSubmit)
        {
            ErrorMessageHTML = @"<div class='error' style='color: red;'>**File cannot be empty</div>";
        } else {
            ErrorMessageHTML = "";
        }
    }

    async Task OnInputFileChange (InputFileChangeEventArgs e)
    {
        ms = new MemoryStream();
        fileName = e.File.Name;
        await e.File.OpenReadStream(maxAllowedSize: 50000000).CopyToAsync(ms);

        if (FileInputEmptyOnSubmit = true)
        {
            FileInputEmptyOnSubmit = false;
        } else
        {
            FileInputEmptyOnSubmit = true;
        }
        ErrorMessage();
    }

    void ShowConfirmOrEditTextModal(string roomId, string language, List<Message> messages, byte[] bytes)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(ConfirmOrEditText.RoomId), roomId);
        parameters.Add(nameof(ConfirmOrEditText.Language), language);
        parameters.Add(nameof(ConfirmOrEditText.Messages), messages);
        //parameters.Add(nameof(ConfirmOrEditText.MessageId), messageId);
        //parameters.Add(nameof(ConfirmOrEditText.Text), text);
        //parameters.Add(nameof(ConfirmOrEditText.ModifiedText), text);
        parameters.Add(nameof(ConfirmOrEditText.Bytes), bytes);

        Modal.Show<ConfirmOrEditText>("Review Before Sending", parameters);
    }

    async Task Submit()
    {
        if(ms != null)
        {
            FileInputEmptyOnSubmit = false;
            var bytes = ms.ToArray();
            var messages = await Api.UploadFileAsync(new UploadFileRequest { RoomId = RoomId, Language = Language, Bytes = bytes, FileName = fileName });
            //foreach(var message in messages)
            //{
            //    message.ModifiedText = message.Text;
            //}
            //ShowConfirmOrEditTextModal(RoomId, Language, messages.ToList(), bytes);
            await ModalInstance.CloseAsync(ModalResult.Ok(true));
        } else
        {
            FileInputEmptyOnSubmit = true;
            ErrorMessage();
        }
    }

    void Cancel()
    {
        ModalInstance.CancelAsync();
    }
}
