<div class="settings-nav-bg ">
	<div class="container">
		<div class="settings-nav-wrapper">
			<div class="settings-nav">
				<NavLink href="/account" Match="NavLinkMatch.All">Profile</NavLink>
@*				<NavLink href="" Match="NavLinkMatch.All">Password</NavLink>*@
@*				<NavLink href="" Match="NavLinkMatch.All">Team</NavLink>*@
				<NavLink href="/billing" Match="NavLinkMatch.All">Billing</NavLink>
				<NavLink href="/notifications" Match="NavLinkMatch.All">Notifcations</NavLink>
				<NavLink href="/dialects" Match="NavLinkMatch.All">Dialect Profiles</NavLink>
			</div>
		</div>
	</div>
</div>

@code {

}