<div class="camera-grid">
    <div class="presenter">
        <div class="image-wrapper">
            <img src="/images/chatbox1.png" />
            <div class="camera-pin"><img src="/icons/Pin.svg" /></div>
            <div class="camera-voice"><img src="/icons/MicStatus.svg" /></div>
            <h6 class="camera-name">Titus Kitamura</h6>
            <div class="camera-translation">
                <p class="small">English</p><img src="/icons/Arrow_Swap.svg" /><p class="small">English</p>
            </div>
        </div>
    </div>      
    <div class="users">
        <div class="image-wrapper">
            <img src="/images/chatbox2.png" />
            <div class="camera-voice">
                <img src="/icons/Mute.svg" />
            </div>
            <p class="camera-name medium">Elanor Pera</p>
        </div>
        <div class="image-wrapper">
            <img src="/images/chatbox2.png" />
            <div class="camera-voice">
                <img src="/icons/MicStatus.svg" />
            </div>
            <p class="camera-name medium">Elanor Pera</p>
        </div>
        <div class="image-wrapper">
            <img src="/images/chatbox2.png" />
            <div class="camera-voice">
                <img src="/icons/MicStatus.svg" />
            </div>
        </div>
        <div class="image-wrapper">
            <img src="/images/chatbox2.png" />
            <div class="camera-voice">
                <img src="/icons/Mute.svg" />
            </div>
            <p class="camera-name medium">Elanor Pera</p>
        </div>
        <div class="image-wrapper">
            <img src="/images/chatbox2.png" />
            <div class="camera-voice">
                <img src="/icons/MicStatus.svg" />
            </div>
        </div>
    </div>
    <div class="camera-buttons">
        <button>
            <img src="/icons/Leave_icon.svg" />
            Leave
        </button>
        <div class="audio-buttons">
            <img src="/icons/Microphone.svg" />
            <img src="/icons/Video.svg" />
        </div>           
    </div>    
</div>

@code {

}