@inherits LayoutComponentBase

<div class="dash-header">
    <a href="/"><img class="logo" src="/images/logo_2x.png"/></a>
    <LoginDisplay />
</div>
<main class="dash-layout">
    @Body
</main>

<Footer />