@import "../_variables.scss";

.dash-header {
    background: $white;
    text-align: center;
    padding: 15px;

    .logo {

        img {
            width: 100px;
        }
    }

    .login-display {
        position: absolute;
        top: 0px;
        right: 50px;
    }

    .nav-link {
        color: $primary;
        font-weight: bold;
        margin: 14px 25px;
        position: absolute;
        right: 200px;
        top: 4px;

        i {
            font-size: 32px;
        }

        &.account {
            right: 340px;
            padding: 0;
            margin: 6px;
        }
    }
}

.dash-layout {
    background: $background;
    min-height: calc(100vh - 143px);
    padding: 10px;
}