@inherits LayoutComponentBase

<div class="dash-header">
    <div class="container">
        <a class="logo" href="/"><img src="/images/logo_2x.png"/></a>
        <AuthorizeView>
            <Authorized>
                <a href="account" class="nav-link account"><i class="material-icons">account_circle</i></a>
                <a href="rooms" class="nav-link">Dashboard</a>
            </Authorized>
        </AuthorizeView>
        <LoginDisplay />
    </div>
</div>
<main class="dash-layout">
    @Body
</main>

<Footer />

<CascadingBlazoredModal HideCloseButton=true DisableBackgroundCancel=true />