@import "../_variables.scss";

.dash-header {
    background: $white;
    text-align: center;
    padding: 15px;

    .logo {

        img {
            width: 110px;
        }
    }

    .login-display {
        position: absolute;
        top: 0px;
        right: 50px;
    }

    .nav-link {
        color: $primary;
        font-weight: bold;
        margin: 12px 25px;
        position: absolute;
        right: 56px;

        i {
            font-size: 40px;
        }

        .dash-icon {
            height: 23px;
            width: 23px;
            right: 44px;
        }
    }

    .dropdown {
        position: absolute;
        right: 0;
        z-index: 10;

        .account-nav {
            position: absolute;
            top: -2px;
            right: 40px;
            cursor: pointer;

            .profile {
                height: 40px;
                width: 40px;
                border-radius: 60px;
                position: absolute;
                top: -7px;
            }

            .arrow {
                position: absolute;
                right: -60px;
                top: 10px;
            }
        }

        .account-link {
            cursor: pointer;
        }

        &--menu {
            width: 256px;
            height: 151px;
            background: $white;
            border: 1px solid $grey-300;
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
            border-radius: 8px;
            text-align: left;
            position: absolute;
            top: 50px;
            right: 0;

            p {
                display: inline;
            }

            img {
                margin: 10px 14px;
                vertical-align: middle;
                height: 30px;
                width: 30px;
                border-radius: 50px;
            }

            i {
                font-size: 30px;
                padding: 14px;
                vertical-align: middle;
                margin-top: -3px;
            }

            ul {
                margin: 0;
                padding: 5px 14px 14px 14px;
                border-top: 1px solid $grey-300;
            }

            li {
                padding: 5px;
                cursor: pointer;
            }
        }
    }
}

.menu-overlay {
    height: 98vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 9;
}

.dash-layout {
    background: $background;
    min-height: calc(100vh - 139px);
    padding: 20px;
}