<div class="delete-modal modal">
    <h4>Delete Room</h4>
    <button class="close" @onclick="Close">
        <img src="/icons/Close.svg"/>
    </button>
    <p>Are you sure you want to delete this room?</p>
    <button @onclick="Close" class="secondary">Cancel</button>
    <button @onclick="DeleteRoom" class="primary">Delete</button>
</div>


@code {
    [Parameter] 
    public string RoomId { get; set; }
    [CascadingParameter] 
    BlazoredModalInstance ModalInstance { get; set; } = default!;

    async void DeleteRoom()
    {
        await Api.RemoveRoomAsync(RoomId);
        await ModalInstance.CloseAsync();
    }

    void Close() => ModalInstance.CancelAsync();
}