<div class="edit-modal modal">
    <h4>Edit Room</h4>
    <button class="close" @onclick="Close">
        <img src="/icons/Close.svg"/>
    </button>
    <label>Name</label>
    <input @bind="@Title"/>

    <button @onclick="Close" class="secondary">Cancel</button>
    <button @onclick="UpdateRoom" class="primary">Save</button>
</div>


@code {
    [Parameter] 
    public string RoomId { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public EventCallback<string> OnTitleChanged { get; set; }
    [CascadingParameter] 
    BlazoredModalInstance ModalInstance { get; set; } = default!;


    async void UpdateRoom()
    {
        await Api.UpdateRoomOptionsAsync(new RoomOptionsRequest{RoomId = RoomId, Title = Title});
        await OnTitleChanged.InvokeAsync(Title);
        await ModalInstance.CancelAsync();
    }

    void Close() => ModalInstance.CancelAsync();
}