<div class="footer">
@*	<div class="footer--container">
		&copy; 2022  Ibis Transcriber | Project Sparc by <a href="http://kuv.io" target="_blank">Kuvio Creative</a>
	</div>
*@
	<div class="footer--left">
		&copy; 2022 Ibis
	</div>
	<div class="footer--right">
		Project Sparc by <a href="http://kuv.io" target="_blank">Kuvio Creative</a>
	</div>
</div> 