@import "../_variables.scss";

.invite {
    max-width: 600px;
    width: 100%;
    height: 100%;
    padding: 20px;
    max-height: 549px;
    background: $white;
    position: relative;
    border-radius: 16px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);

    .close {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    input {
        padding: 8px 16px;
        border: 1px solid $gray;
        border-radius: 4px;
        margin: 10px 0;
    }

    h5, h6 {
        padding: 15px 0;
    }
}

.blazored-modal {
    padding: 0;
}

.blazored-modal-header {
    display: none;
}