@inherits LayoutComponentBase

<HeadContent>
    <link rel="stylesheet" href="https://use.typekit.net/yst6dvs.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</HeadContent>

<main>
    @Body
</main>

<Footer />