@import "../_variables.scss";

.login-display {
    position: absolute;
    right: 0;
    top: 40px;

    .login, button {
        border: 2px solid $secondary;
        color: $secondary;
        font-size: 20px;
        padding: 12px 30px;
        border-radius: 4px;
    }
}
