@import "../_variables.scss";

.main-layout {
    height: 100vh;
    display: grid;
    height: 100vh;
    grid-template-rows: 96px auto;

    > header {
        background: $white;
        padding: 28px 6vw;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            img {
                height: 40px;
                width: auto;
            }

            figcaption {
                display: none;
            }
        }

        a {
            color: $primary;
        }

        nav {
            > ul {
                display: flex;
                gap: 24px;
            }
            li {
                display: flex;
                align-items: center;
                gap: 8px;
                cursor: pointer;
                position: relative;
                white-space: nowrap;

                > ul {
                    position: absolute;
                    top: 170%;
                    pointer-events: none;
                    transition: top 0.2s ease-in, opacity 0.2s;
                    opacity: 0;
                    background-color: white;
                    padding: 16px;

                    li {
                        padding: 8px;
                    }
                }

                &:hover {

                }

                &.open > ul {
                    opacity: 1;
                    top: 130%;
                    pointer-events: initial;
                }
            }
        }
    }

    main {
        background: $background;
        padding: 32px 6vw;
    }
}
