<div class="nav-menu">
    <a href="/"><img class="logo" src="/images/logo_2x.png" /></a>
    @*<a href="/pricing">Pricing</a>*@
    <AuthorizeView>
        <Authorized>
            <a href="dashboard" class="nav-link">Dashboard</a>
        </Authorized>
    </AuthorizeView>
    <LoginDisplay />
</div>

@code {
}
