<div class="nav-menu">
    <a href="/"><img class="logo" src="/images/logo_2x.png" alt="Ibis Logo x2" /></a>
    @*<a href="/pricing">Pricing</a>*@
    <AuthorizeView>
        <Authorized>
            <a href="rooms" class="nav-link">
                <img class="dash-icon" src="../icons/dashboard.svg" alt="Dashboard Menu Icon"/>
            </a>
        </Authorized>
    </AuthorizeView>
    <LoginDisplay />
</div>

@code {
}
