
@*@if (IsLoading)
{
    <div class="loader"></div>
}
else
{
    <div class="row">

}
*@
<div class="cards">
    <div class="card">
        <img src="/images/audio-file.png">
        <h4>Title.type</h4>
    </div>
</div>

@using Ibis.Features

@code {
    private int currentCount = 0;

    [Parameter]
    public int InitialValue { get; set; }

    [Parameter]
    public string UserId { get; set; }

    public bool IsLoading { get; set; } = true;

    //private void IncrementCount() => currentCount++;

    protected override void OnParametersSet()
    {
        //currentCount = InitialValue;
    }

    private ICollection<ProjectsList> Projects { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //Projects = await PublicApi().GetProjectsAsync(UserId);
        //IsLoading = false;
        //StateHasChanged();
        //base.OnAfterRender(firstRender);
    }

    void gotoProject(string projectId)
    {
        Nav.NavigateTo($"/edit-project/{projectId}", true);
    }
}