.landing .hero {
  text-align: center;
  padding: 40px;
}
.landing .hero h1 {
  color: #013b60;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 80px;
}
.landing .hero p {
  font-size: 20px;
  color: #858a8f;
  padding: 20px;
}
.landing .hero .images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing .hero .background-primary {
  width: 75%;
}
.landing .hero .background-secondary {
  width: 90%;
  position: absolute;
  z-index: -1;
}
.landing .hero .typetext {
  background-color: #f9f1e8;
  padding: 0 10px;
}
.landing .hero .typetext--container {
  display: inline-block;
  width: 320px;
}
.landing .hero .typetext .blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.landing .section-1 {
  background: #f9f1e8;
  display: flex;
  padding: 96px 40px;
}
.landing .section-1 .content-container {
  max-width: 500px;
  width: 100%;
  padding-top: 150px;
}
.landing .section-1 .content-container p {
  font-family: serif;
  font-size: 22px;
  color: #858a8f;
  line-height: 35px;
  padding: 40px 0;
}
.landing .section-1 h2 {
  color: #013b60;
  font-size: 60px;
  font-weight: bold;
  line-height: 73px;
}
.landing .section-1 button {
  background: #fe3205;
  border-radius: 4px;
  padding: 12px 30px;
  font-size: 20px;
}
.landing .card {
  border-radius: 8px;
  background: #FFFFFF;
  padding: 40px 30px;
  width: 255px;
  height: 351px;
  margin: 15px;
}
.landing .card p {
  font-size: 18px;
  line-height: 30px;
  color: #858a8f;
}
.landing .card h3 {
  color: #013b60;
  margin: 24px 0;
  font-size: 26px;
  line-height: 31px;
}
.landing .card img {
  width: 80px;
}
.landing .card-container {
  width: 58%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.landing .section-2 {
  margin: 0 auto;
  max-width: 1200px;
}
.landing .section-2 .content-background {
  width: 600px;
}
.landing .section-2 h2 {
  font-size: 50px;
  font-weight: 600;
  color: #013b60;
  line-height: 58px;
}
.landing .section-2 p {
  color: #858a8f;
  line-height: 30px;
  padding: 30px 0;
  max-width: 400px;
  font-family: serif;
  font-size: 18px;
}
.landing .section-2 .row {
  display: flex;
  padding: 80px 0;
  margin: 0 auto;
  justify-content: space-around;
}
.landing .section-2 .row--content {
  max-width: 460px;
  padding-top: 140px;
}
.landing .section-2 button {
  background: #fe3205;
  border-radius: 4px;
  padding: 16px 40px;
  font-size: 20px;
}
.landing .banner {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  position: relative;
}
.landing .banner img {
  width: 1400px;
}
.landing .banner h3 {
  color: white;
  position: absolute;
  top: 0;
  z-index: 100;
  padding: 74px 110px;
  font-size: 28px;
  line-height: 40px;
}
.landing .banner button {
  position: absolute;
  top: 84px;
  right: 110px;
  background: #fe3205;
  border-radius: 4px;
  padding: 16px 40px;
  font-size: 20px;
}

.dashboard {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
}
.dashboard .actions {
  display: flex;
  padding: 25px 100px;
  border-bottom: 1px solid #e6e6e6;
}
.dashboard .actions .searchbar {
  width: 100%;
}
.dashboard .actions input {
  background: #FFFFFF;
  border: 1px solid #e6e6e6;
  padding: 15px 20px;
  max-width: 400px;
  width: 100%;
}
.dashboard .actions .add {
  display: flex;
  width: 150px;
  color: #FFFFFF;
  background: #fe3205;
  border-radius: 40px;
  padding: 6px 25px;
  line-height: 38px;
  font-weight: bold;
  font-size: 18px;
}
.dashboard .actions .add i {
  padding: 7px;
  font-size: 28px;
  margin-top: -2px;
}
.dashboard .container {
  padding: 25px 100px;
  display: block;
}
.dashboard h3 {
  color: #013b60;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 12px;
}
.dashboard .conversation-card {
  cursor: pointer;
  border: 1px solid #e6e6e6;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 12px 20px;
  margin: 15px 0;
  position: relative;
}
.dashboard .conversation-card span {
  position: absolute;
  right: 35px;
  top: 15px;
  color: #858a8f;
  font-size: 14px;
}
.dashboard .conversations {
  padding: 30px 100px;
}

.project-page {
  padding: 50px 0;
}

.account {
  padding: 100px 20px;
}
.account h3 {
  color: #013b60;
  font-size: 20px;
  padding-bottom: 30px;
}
.account button {
  color: #013b60;
  border: 1px solid #013b60;
  padding: 8px 16px;
}
.account--left {
  width: 50%;
  padding: 0 40px;
}
.account--left input {
  margin-bottom: 20px;
  display: block;
}
.account input {
  padding: 12px 20px;
  background: #FFFFFF;
  border: 1px solid #e6e6e6;
}

.pricing-page {
  padding: 50px 0;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.sidebar {
  background-image: linear-gradient(180deg, #052767 0%, #3a0647 70%);
}

.dash-header {
  background: #FFFFFF;
  text-align: center;
  padding: 15px;
}
.dash-header .logo {
  margin: 0 auto;
}
.dash-header .logo img {
  width: 120px;
}
.dash-header .login-display {
  position: absolute;
  top: 0px;
  right: 50px;
}
.dash-header .nav-link {
  color: #013b60;
  font-weight: bold;
  margin: 5px 25px;
  position: absolute;
  right: 200px;
  top: 4px;
}
.dash-header .nav-link i {
  font-size: 32px;
}

.dash-layout {
  background: #fafbfc;
  min-height: calc(100vh - 143px);
}

.nav-menu {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}
.nav-menu .nav-link {
  color: #013b60;
  font-size: 16px;
  font-weight: bold;
  margin: 5px 25px;
  position: absolute;
  right: 150px;
  top: 52px;
}
.nav-menu .logo {
  width: 146px;
}

.footer {
  line-height: 60px;
  background: #f9f1e8;
}
.footer--container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.invite {
  max-width: 600px;
  width: 100%;
  height: 100%;
  padding: 20px;
  max-height: 549px;
  background: #FFFFFF;
  position: relative;
  border-radius: 16px;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}
.invite .close {
  position: absolute;
  top: 15px;
  right: 15px;
}
.invite input {
  padding: 8px 16px;
  border: 1px solid #858a8f;
  border-radius: 4px;
  margin: 10px 0;
}
.invite h5, .invite h6 {
  padding: 15px 0;
}

.blazored-modal {
  padding: 0;
}

.blazored-modal-header {
  display: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  margin: 0 -10px;
}
.cards .card {
  width: 260px;
  height: 260px;
  padding: 30px;
  border: 2px solid #e6e6e6;
  border-radius: 6px;
  text-align: center;
  background: #FFFFFF;
  margin: 10px;
}
.cards .card img {
  width: 80px;
  margin-top: 40px;
  vertical-align: middle;
}
.cards .card h4 {
  margin-top: 50px;
  padding-top: 15px;
  border-top: 1px solid #e6e6e6;
  font-weight: bold;
}

.login-display {
  position: absolute;
  right: 0;
  top: 40px;
}
.login-display .login, .login-display button {
  border: 2px solid #fe3205;
  color: #fe3205;
  font-size: 20px;
  padding: 12px 30px;
  border-radius: 4px;
}

/*.conversation {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    position: relative;

    .messages {
        padding: 10px;
        background: $white;
        border-radius: 10px;
        border: 1px solid $light-gray;
        margin: 30px;
    }

    .user-invite {
        position: absolute;
        top: 30px;
        right: 60px;
    } 

    &-language {
        padding: 0 32px;
    }

    h4 {
        padding: 20px 32px 10px;
        font-weight: 500;
        font-size: 18px;
        color: $primary;
        height: 76px;
        position: relative;

        i {
            color: $primary;
            cursor: pointer;
            padding: 0 10px;
            position: absolute;
            left: -12px;
            font-size: 18px;
        }

        button {
            color: $primary;
            cursor: pointer;
            border: 1px solid $gray;
            padding: 11px 16px;
        }

        input {
            border: 1px solid $gray;
            padding: 11px 16px;
            padding-right: 150px;
        }
    }

    .input {
        position: relative;
        padding: 10px 32px;

        input {
            border: 1px solid gray;
            width: 100%;
            padding: 16px;
            padding-right: 150px;
        }

        .buttons {
            position: absolute;
            top: 50%;
            right: 50px;
            margin-top: -12px;

            i {
                color: gray;
            }

            button:hover i, button.active i {
                cursor: pointer;
                color: red;
            }
        }

        .options {
            position: absolute;
            top: -25px;
            right: 50px;

            i {
                color: gray;
                padding: 0 3px;

                &:hover {
                    cursor: pointer;
                    color: red;
                }
            }
        }
    }
}*/
.conversations {
  margin: 0px 0px 0px auto;
  width: 100%;
  max-width: 90%;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  /* The switch - the box around the slider */
  /* The slider */
  /* Rounded sliders */
}
.conversations .conversation {
  color: #0A111D;
  width: 60%;
}
.conversations .conversation header {
  margin-bottom: 20px;
}
.conversations .conversation header .header-wrapper {
  display: flex;
  justify-content: space-between;
}
.conversations .conversation header .header-wrapper h2 {
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 2px;
}
.conversations .conversation header .header-wrapper .user-invite {
  border: 1px solid #fe3205;
  background: inherit;
  font-size: 16px;
  line-height: 20px;
  padding: 6px 12px;
  color: #fe3205;
  border-radius: 8px;
  max-height: 32px;
}
.conversations .conversation header .header-wrapper .user-invite img {
  margin-right: 8px;
}
.conversations .conversation .content {
  position: relative;
}
.conversations .conversation .content .conversation-grid {
  background: #FFFFFF;
  padding: 24px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 12px 12px 12px 12px;
}
.conversations .conversation .content .conversation-grid .card-1 {
  background: #FAF1E8;
}
.conversations .conversation .content .conversation-grid .card-1 .account-name {
  color: #810A08;
}
.conversations .conversation .content .conversation-grid .card-2 {
  background: #EEF4FA;
}
.conversations .conversation .content .conversation-grid .card-2 .account-name {
  color: #003B5F;
}
.conversations .conversation .content .conversation-grid .conversation-card {
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 16px;
}
.conversations .conversation .content .conversation-grid .conversation-card .account-name {
  margin-bottom: 10px;
}
.conversations .conversation .content .conversation-grid .message-box-top, .conversations .conversation .content .conversation-grid .message-box-bottom {
  margin: 0px -8px;
}
.conversations .conversation .content .conversation-grid .message-box-top {
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 16px 16px 0px 0px;
  border: 1px solid #e6e6e6;
  background: #FFFFFF;
  height: 105px;
  padding: 24px;
  position: relative;
  margin-top: 38px;
}
.conversations .conversation .content .conversation-grid .message-box-top ::placeholder {
  color: #6A7280;
}
.conversations .conversation .content .conversation-grid .message-box-top .button-send {
  position: absolute;
  right: 24px;
  top: 20px;
  padding: 6px 12px;
  background: #003B5F;
  border-radius: 8px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  height: 32px;
  max-width: 82px;
  line-height: 20px;
}
.conversations .conversation .content .conversation-grid .message-box-top .button-send img {
  margin-left: 8px;
  margin-top: 0px;
}
.conversations .conversation .content .conversation-grid .message-box-bottom {
  border-radius: 0px 0px 16px 16px;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  background: #FFFFFF;
  padding: 16px;
  position: relative;
  border-top: none;
}
.conversations .conversation .content .conversation-grid .message-box-bottom .message-options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.conversations .conversation .content .conversation-grid .message-box-bottom .message-options .translate, .conversations .conversation .content .conversation-grid .message-box-bottom .message-options .switch-wrapper {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 120%;
  color: #9BA3AF;
}
.conversations .conversation .content .conversation-grid .message-box-bottom .message-options .translate {
  margin-right: 10px;
  cursor: pointer;
}
.conversations .conversation .content .conversation-grid .message-box-bottom .message-options .translate img {
  margin-right: 8px;
}
.conversations .conversation .content .conversation-grid .message-box-bottom .message-options .switch-wrapper {
  margin-right: 14px;
}
.conversations .conversation .content .conversation-grid .message-box-bottom .message-options .switch-wrapper .switch {
  margin-right: 10px;
}
.conversations .conversation .content .conversation-grid .message-box-bottom .message-options .switch-wrapper:last-child {
  margin-right: 0px;
}
.conversations .conversation .content .time-stamp {
  position: absolute;
  top: 0;
  left: -40px;
}
.conversations .conversation .content .time-stamp .start {
  color: #364150;
  margin-bottom: 4px;
}
.conversations .conversation .content .time-stamp .time-duration {
  color: #9BA3AF;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}
.conversations .conversation .content .time-stamp .time-duration p.small:first-of-type {
  margin-bottom: 2px;
}
.conversations .conversation .content .time-stamp .time-duration .timeline-line {
  border-left: 1px solid #D1D4DC;
  height: 113px;
  margin-bottom: 2px;
}
.conversations .conversation .content .time-stamp .time-duration .timeline-line2 {
  border-left: 1px solid #D1D4DC;
  height: 86px;
  margin-bottom: 2px;
}
.conversations .conversation .content .time-stamp .time-duration .timeline-line3 {
  border-left: 1px solid #D1D4DC;
  height: 400px;
  margin-bottom: 2px;
}
.conversations .switch {
  position: relative !important;
  display: inline-block !important;
  width: 36px !important;
  height: 20px !important;
}
.conversations .slider {
  position: absolute !important;
  cursor: pointer !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background-color: #E5E7EA !important;
  -webkit-transition: 0.4s !important;
  transition: 0.4s !important;
}
.conversations .slider:before {
  position: absolute !important;
  content: "" !important;
  height: 16px !important;
  width: 16px !important;
  left: 2px !important;
  bottom: 2px !important;
  background-color: white !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.conversations input:checked + .slider {
  background-color: #003B5F !important;
}
.conversations input:checked + .slider:before {
  -webkit-transform: translateX(16px) !important;
  -ms-transform: translateX(16px) !important;
  transform: translateX(16px) !important;
}
.conversations .slider.round {
  border-radius: 34px;
}
.conversations .slider.round:before {
  border-radius: 50%;
}
.conversations .camera-grid {
  background: #FFFFFF;
  max-width: 376px;
  padding: 16px;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  border: 1px solid #E5E7EA;
  position: relative;
  width: 33%;
  min-width: 263px;
}
.conversations .camera-grid .presenter {
  margin-bottom: 8px;
}
.conversations .camera-grid .users {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.conversations .camera-grid .users .image-wrapper {
  /*max-width: 108.6px;*/
  max-width: 31%;
}
.conversations .camera-grid .users .image-wrapper img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.conversations .camera-grid .users .image-wrapper .camera-name {
  bottom: 8px;
}
.conversations .camera-grid .image-wrapper {
  position: relative;
}
.conversations .camera-grid .image-wrapper img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.conversations .camera-grid .camera-pin, .conversations .camera-grid .camera-voice, .conversations .camera-grid .camera-name, .conversations .camera-grid .camera-translation {
  position: absolute;
}
.conversations .camera-grid .camera-name, .conversations .camera-grid .camera-translation {
  color: #FFFFFF;
  left: 12px;
}
.conversations .camera-grid .camera-pin {
  left: 8px;
  top: 8px;
  cursor: pointer;
}
.conversations .camera-grid .camera-voice {
  right: 8px;
  top: 8px;
}
.conversations .camera-grid .camera-name {
  bottom: 28px;
}
.conversations .camera-grid .camera-translation {
  bottom: 12px;
  display: flex;
  align-items: center;
}
.conversations .camera-grid .camera-translation img {
  margin: 0 9px;
}
.conversations .camera-grid .camera-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.conversations .camera-grid .camera-buttons button {
  padding: 8px 16px;
  background: #E5E7EA;
  color: #6A7280;
  line-height: 120%;
  position: absolute;
  bottom: 16px;
  left: 16px;
}
.conversations .camera-grid .camera-buttons .audio-buttons {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 16px;
  right: 16px;
}
.conversations .camera-grid .camera-buttons .audio-buttons div:first-of-type {
  margin-right: 12px;
}

.overlay {
  background: #0A111D;
  opacity: 0.75;
  height: 154%;
  width: 100vw;
  position: absolute;
  top: -2px;
}

.invite-block {
  background: #FFFFFF;
  border: 1px solid #E5E7EA;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  min-width: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -274.5px;
  margin-left: -300px;
  z-index: 1;
  padding: 32px 40px 40px 40px;
}
.invite-block h4 {
  margin-bottom: 24px;
}
.invite-block .invite-search {
  display: flex;
  justify-content: space-between;
  column-gap: 26px;
  margin-bottom: 24px;
}
.invite-block .invite-search input {
  border: 1px solid #D1D4DC;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 14px;
  font-size: 16px;
  line-height: 120%;
  max-width: 72%;
  width: 72%;
}
.invite-block .invite-search button.primary {
  padding: 8px 16px;
}
.invite-block .invite-search ::placeholder {
  color: #6A7280;
}
.invite-block .invite-users {
  margin-bottom: 40px;
}
.invite-block .invite-users p.medium {
  margin-bottom: 12px;
}
.invite-block .invite-users .user-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.invite-block .invite-users .user-wrapper .user-left {
  display: flex;
  align-items: center;
}
.invite-block .invite-users .user-wrapper .user-left img {
  margin-right: 8px;
}
.invite-block .invite-users .user-wrapper .user-left p.large {
  line-height: 19px;
}
.invite-block .invite-users .user-wrapper .user-right .host {
  color: #CA1E14;
  background: #FFCDAA;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  border: 1px solid #CA1E14;
  padding: 4px 6px;
}
.invite-block .invite-users .user-wrapper .user-right .present {
  background: #EEF4FA;
  color: #2E7BA5;
  border: 1px solid #2E7BA5;
  border-radius: 16px;
  padding: 4px 6px;
}
.invite-block .invite-users .user-wrapper .user-right .invited {
  background: #E5E7EA;
  color: #6A7280;
  border: 1px solid #6A7280;
  border-radius: 16px;
  padding: 4px 6px;
}
.invite-block .share-link p.small {
  color: #6A7280;
  margin-bottom: 6px;
}
.invite-block .share-link .share-link-wrapper {
  position: relative;
}
.invite-block .share-link .share-link-wrapper input {
  border: 1px solid #D1D4DC;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 14px;
}
.invite-block .share-link .share-link-wrapper input::placeholder {
  color: #6A7280;
}
.invite-block .share-link .share-link-wrapper img {
  position: absolute;
  right: 11px;
  top: 11px;
}

.message-card {
  padding: 13px 20px;
  margin: 26px 20px;
  position: relative;
  background-color: #e6eef2;
  border-radius: 10px;
  width: fit-content;
}
.message-info {
  position: absolute;
}
.message-info h3 {
  position: absolute;
  left: -275px;
  width: 200px;
  text-align: right;
  padding: 0 20px;
}
.message-info span {
  display: block;
  text-align: right;
  font-size: 12px;
  color: #858a8f;
}
.message-info .avatar {
  background: #0d648f;
  color: #FFFFFF;
  font-size: 13px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 45px;
  position: absolute;
  left: -68px;
  top: -10px;
}
.message-content i {
  position: absolute;
  right: -14px;
  bottom: -10px;
  color: #858a8f;
  cursor: pointer;
  font-size: 20px;
  padding: 2px;
  border: 1px solid #858a8f;
  border-radius: 40px;
  background: #FFFFFF;
}
.message-audio {
  display: none;
}

@font-face {
  font-family: "CircularStd-Medium";
  src: url(../fonts/CircularStd-Medium.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "CircularStd-Black";
  src: url(../fonts/CircularStd-Black.ttf) format("truetype");
}
@font-face {
  font-family: "CircularStd-Bold";
  src: url(../fonts/CircularStd-Bold.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "CircularStd-Book";
  src: url(../fonts/CircularStd-Book.ttf) format("truetype");
}
@font-face {
  font-family: "CircularStd-MediumItalic";
  src: url(../fonts/CircularStd-MediumItalic.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "CircularStd-BlackItalic";
  src: url(../fonts/CircularStd-BlackItalic.ttf) format("truetype");
}
@font-face {
  font-family: "CircularStd-BoldItalic";
  src: url(../fonts/CircularStd-BoldItalic.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "CircularStd-BookItalic";
  src: url(../fonts/CircularStd-BookItalic.ttf) format("truetype");
}
body {
  overflow-x: hidden;
  font-family: CircularStd-Medium, sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

button {
  color: #013b60;
}

button.primary {
  background: #003B5F;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 125%;
}

#app .loader {
  border: 12px solid #f3f3f3;
  border-top: 12px solid #013b60;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 3s linear infinite;
  margin: 20% auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 120%;
}

h1 {
  font-size: 61px;
}

h2 {
  font-size: 49px;
}

h3 {
  font-size: 39px;
}

h4 {
  font-size: 39px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 20px;
  font-weight: 600;
}

p.large {
  font-size: 16px;
  line-height: 120%;
}

p.medium {
  font-size: 13px;
  line-height: 120%;
}

p.small {
  font-size: 10px;
  line-height: 120%;
}
