@import "../_variables.scss";

.footer {
    width: 100%;
    padding: 18px;
    justify-content: space-between;
    background: $tertiary;
    color: #161E29;
    //font-family: freight-display-pro, serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10001;
    text-align: center;
    border-top: 1px solid $primary-200;

    @media screen and (max-width: 500px) {
        font-size: 16px;
        line-height: 20px;
    }

    > a {
        display: inline-block;
        margin-left: 8px;
        color: #161E29;
    }

    &--left {
        padding-left: 20px;
    }

    &--right {
        padding-right: 20px;
    }

    a {
        text-decoration: underline;
    }
    /*    &--container {
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 20px;
    }
*/
}