<footer>
	<div class="footer--container">
		<div class="footer--left">
			&copy; 2023 Ibis All rights Reserved
		</div>
		<div class="footer--right">
			Project Sparc by <a href="http://kuv.io" target="_blank">Kuvio Creative.</a>
		</div>
	</div>
</footer> 