@import "../_variables.scss";

.nav-menu {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    position: relative;

    .nav-link {
        color: $primary;
        font-size: 16px;
        font-weight: bold;
        margin: 5px 25px;
        position: absolute;
        right: 150px;
        top: 52px;
    }

    .logo {
        width: 146px;
    }
}