@import '../_variables.scss';

#app {
    height: 100%; 
}

.nav--support {
    width: 100%;
    height: 100px;
    padding: 25px 94px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    background: $white;
    z-index: 500;

    .nav--left {
        h1 {
            margin: auto 0;
            font-size: 51px;
            line-height: 100%;
        }

        a {
            font-size: 51px;
            line-height: 100%;

            &:hover {
                cursor: pointer;
            }

            img {
                width: 114px;
                height: 51px;
                margin: auto 0;
            }
        }
    }

    .nav--right {
        /*display: flex;
        gap: 30px;*/

        a {
            margin: auto 0;
            color: $grey-500;
            font-family: 'CircularStd';
            font-weight: 400;
            font-size: 20px;
            line-height: 120%;
            transition: 250ms ease-in-out;

            &:hover {
                color: $dark-blue;
            }
        }

        button {
            margin: auto 0;
            padding: 13px 37px;
            background: $white;
            color: $dark-blue;
            border: 1px solid $dark-blue;
            border-radius: 8px;
            font-family: 'CircularStd';
            font-weight: 400;
            font-size: 20px;
            line-height: 120%;
            transition: 250ms ease-in-out;

            &:hover {
                background: $dark-blue;
                color: $white;
            }
        }
    }

    @media screen and (max-width: 800px) {
        height: 75px;
        padding: 10px 40px;

        .nav--left {
            h1 {
                margin-top: 8px;
                vertical-align: middle;
                font-size: 40px;
                line-height: 100%;
            }

            a {
                font-size: 40px;
                line-height: 100%;
            }

            img {
                height: 40px !important;
                width: auto !important;
            }
        }

        .nav--right {
            a {
                font-size: 16px;
            }

            button {
                height: 40px;
                padding: 10px 14px;
                font-size: 16px;
                line-height: 100%;
            }
        }
    }

    @media screen and (max-width: 600px) {
        padding: 10px 15px;

        .nav--left {
            h1, a {
                font-size: 36px;
            }

            h1 {
                margin-top: 10px;
            }

            img {
                height: 36px !important;
                width: auto !important;
            }
        }

        .nav--right {
            gap: 15px;

            a {
                margin: auto 0;
                font-size: 14px;
            }

            button {
                height: 36px;
                padding: 8px 12px;
                font-size: 14px;
            }
        }
    }
}

.main--support-landing {
    position: relative;
    background: $background;
    display: grid;
    grid-template-columns: 1fr repeat(12, 64px) 1fr;
    grid-column-gap: 30px;
    grid-template-rows: repeat(163, 8px);
    grid-row-gap: 8px;
}

.support-landing {
    grid-column: 2 / 14;

    .more-information {
        margin: 0 192px;
    }
}

footer {
    grid-column: 1 / 15;
}

.support {
    position: fixed !important;
    right: 0;
    top: 195px;
}

@media screen and (max-width: 1297px) {
    .main--support-landing {
        grid-template-columns: 1fr repeat(8, 71px) 1fr;
        grid-column-gap: 15px;
        grid-template-rows: repeat(185, 8px);
    }

    .support-landing {
        grid-column: 2 / 9;

        &--header {
            margin: 0 86px;
        }
    }

    .more-information {
        margin: 0 94px 0 86px;
    }

    footer {
        grid-column: 1 / 10;
    }
}

@media screen and (max-width: 800px) {
    .main--support-landing {
        grid-template-rows: repeat(180, 8px);
    }

    .support-landing {
        .features {
            margin: 0 64px;
        }

        .more-information {
            margin: 0 71px;
        }
    }

    footer {
        grid-column: 1 / 10;
    }
}

@media screen and (max-width: 700px) {
    .support-landing {
        &--header {
            margin: 0 36px;
        }

        .more-information {
            margin: 0 36px;
        }
    }
}

@media screen and (max-width: 600px) {
    .main--support-landing {
        grid-template-columns: 1fr repeat(4, 71px) 1fr;
        grid-template-rows: repeat(180, 8px);
    }

    .support-landing {
        grid-column: 2 / 6;
    }

    footer {
        grid-column: 1 / 7;
    }
}

@media screen and (max-width: 390px) {
    .main--support-landing {
        grid-template-rows: repeat(180, 8px);
    }

    footer {
        grid-column: 1 / 7;
    }

}