@inherits RealtimeComponent

<div class="message-grid">
    <div class="message-list ibis-ignore" id="room-@Room.RoomId">
        @foreach (var message in Messages)
        {
            <MessageListCard Message="message" OnDelete=DeleteMessage />
        }
    </div>
</div>

@code {
    [Parameter] public GetRoomResponse Room { get; set; } = null!;
    List<Message> Messages = new();
    Message? SelectedMessage;
    string? Language;
    bool HasNewMessage;

    protected override async Task OnInitializedAsync()
    {
        var response = await Api.GetAllMessagesAsync(new GetAllMessagesRequest { RoomId = Room.RoomId });
        Messages = response.Messages.OrderBy(x => x.Timestamp).ToList();
            
        HasNewMessage = true;
        Language = response.Language;

        var subscriptionId = Room.RoomId + "|" + Language;
        await On<MessageTextChanged>(subscriptionId, x =>
        {
            AddMessage(x.Message);
        });

        await On<MessageAudioChanged>(subscriptionId, x =>
        {
            AddMessage(x.Message);
        });
        await On<MessageDeleted>(subscriptionId, x => RemoveMessage(x.Message));
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (HasNewMessage)
        {
            await JS.InvokeVoidAsync("scrollToBottom", $"room-{Room.RoomId}");
            HasNewMessage = false;
        }
    }

    void SelectMessage(Message message) => SelectedMessage = message;
    void DoneEditing() => SelectedMessage = null;

    void AddMessage(Message message)
    {
        var existingId = Messages.FindIndex(x => x.Id == message.Id);
        if (existingId > -1)
        {
            Messages[existingId] = message;
        }
        else
        {
            Messages.Add(message);
            HasNewMessage = true;
        }

        SelectedMessage = null;
    }

    void RemoveMessage(Message message)
    {
        var existingId = Messages.FindIndex(x => x.Id == message.Id);
        if (existingId > -1)
        {
            Messages.RemoveAt(existingId);
        }
    }

    async Task DeleteMessage(Message message)
    {
        var result = await Api.DeleteMessageAsync(new DeleteMessageRequest { RoomId = Room.RoomId, MessageId = message.Id });
        if (result)
            RemoveMessage(message);
    }
}
