@import "../_variables.scss";

.message-grid {
    padding:0 16px 216px 16px;
    width: 100%;
    max-width: 940px;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
   
    .message-list {
        overflow-y: auto;
        padding: 24px 0 38px 0;

        &::-webkit-scrollbar {
            width: 7px;
            border-radius: 6px;
        }
        /* Track */
        &::-webkit-scrollbar-track {
            background: $white;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $grey-300;
        }
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $grey-400;
        }
    }
}
