@import "../_Imports";

.message-list-card {
    padding: 16px;
    margin: 20px 0;
    border-radius: 12px;
    margin-bottom: 16px;
    position: relative;
    animation: new-message-card-slide-up 0.2s;
    color: $grey-900;
    border: 1px solid $grey-500;
    cursor: pointer;
    max-height: 100px;
    box-sizing: border-box;

    .ibis-content {
        max-height: 56px;
        overflow: hidden;
    }

    &:hover {
        background: $grey-200;
    }

    .ibis-widget {
        top: 0;
        right: 10px;
        opacity: 0.8;
        transition: opacity 0.2s ease-in-out;

        button, .ibis-audio {
            background: transparent;
        }

        figure {
            display: none;
        }
    }

    &:hover .ibis-widget {
        opacity: 1;
    }

    &:focus-within .ibis-widget {
        opacity: 1;
    }

    > p, span {
        font-size: 18px;
        font-weight: 400;
        color: $grey-900;
    }

    > p + p {
        margin-top: 12px;
    }

    .avatar {
        height: 20px;
        width: 200px;
        justify-content: flex-start;
    }


    .message-text {
        padding: 8px 10px 8px 26px;

        > p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .message-audio {
        position: absolute;
        top: 16px;
        right: 16px;
    }

    .message-subtitles {
        span {
            display: inline-block;
            padding: 4px 2px;
            border-radius: 4px;
        }
    }

    &.playing {
        .message-subtitles {
            span {
                opacity: 30%;

                &.active {
                    background-color: $grey-900;
                    color: white;
                    opacity: 100%;
                    font-weight: bold;
                }
            }
        }

        .message-text {
            display: none;

            p {
                color: $grey-900;
            }
        }
    }

    .actions {
        position: absolute;
        top: -12px;
        right: 60px;
        padding: 2px 4px;
        border: 1px solid $secondary-500;
        border-radius: 30px;
        background-color: white;
        display: flex;
        gap: 4px;
        font-size: 12px;
        z-index: 100;
        display: flex;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        transition-delay: 0s;

        li {
            padding: 4px 10px;
            border-radius: 30px;

            &:hover {
                background-color: $secondary-700;
                cursor: pointer;
                color: white;
            }
        }
    }

    &:hover .actions {
        display: flex;
        opacity: 1;
        transition-delay: 1s;
    }

    &:focus .actions, &:focus-within .actions {
        display: flex;
        opacity: 1;
        transition-delay: 1s;
    }
}

.subroom {
    margin-left: 40px;
}

@keyframes new-message-card-slide-up {
    from {
        opacity: 0;
        transform: translateY(50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
