@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center container my-8">
    <h1 class="mt-5">Transcribe Your <span class="typetext">Podcast</span></h1>
    <h1>With A Single Click</h1>
    <p class="my-5 landing-subtitle">Ibis Transcriber uses Machine Learning to automatically transcribe your audio and video files</p>
    <button class="btn btn-primary mr-4">Get Started</button>
    <button class="btn btn-light">Learn More</button>
</div>


<section id="hero" class="my-5 py-5 px-5 mx-3 text-center">
    <img style="width:75%;left:12.5%;" class="img-fluid position-absolute" src="~/imgs/landing-page-hero-image-B249950F-85ED-43BD-A35F-81A3616CE9C4@2x.png" />
    <img style="margin-top: 8rem;" class="img-fluid" src="~/imgs/landing-page-hero-background-3B3B7350-B949-4DDF-8AD5-F40A2EC0E336@2x.png" />
</section>


<section id="features" class="my-10 py-8">
    <div class="container">
        <div class="row align-content-center">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6 pt-4">
                        <div class="card p-2">
                            <div class="card-body">
                                <img style="height:80px;" class="img-fluid" src="~/imgs/landing-page-ellipse-7-7EF9060E-5309-4851-A2D0-8C1F174EE79B@2x.png" />
                                <h3 class="my-4">Advertising</h3>
                                <p>Many people sign up for affiliate programs with the hopes of making some serious money.</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6  pt-4">
                        <div class="card p-2">
                            <div class="card-body">
                                <img style="height:80px;" class="img-fluid" src="~/imgs/landing-page-ellipse-7-7EF9060E-5309-4851-A2D0-8C1F174EE79B@2x.png" />
                                <h3 class="my-4">Advertising</h3>
                                <p>Many people sign up for affiliate programs with the hopes of making some serious money.</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6  pt-4">
                        <div class="card p-2">
                            <div class="card-body">
                                <img style="height:80px;" class="img-fluid" src="~/imgs/landing-page-ellipse-7-7EF9060E-5309-4851-A2D0-8C1F174EE79B@2x.png" />
                                <h3 class="my-4">Advertising</h3>
                                <p>Many people sign up for affiliate programs with the hopes of making some serious money.</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6  pt-4">
                        <div class="card p-2">
                            <div class="card-body">
                                <img style="height:80px;" class="img-fluid" src="~/imgs/landing-page-ellipse-7-7EF9060E-5309-4851-A2D0-8C1F174EE79B@2x.png" />
                                <h3 class="my-4">Advertising</h3>
                                <p>Many people sign up for affiliate programs with the hopes of making some serious money.</p>
                            </div>

                        </div>
                    </div>
                </div>
            

            </div>
            <div class="col-sm-6 align-self-center px-8">
                <h2 class="mb-5">Try the familiar functions in the new execution</h2>
                <p class="mb-5 landing-subtitle">The very functions that help you in everyday life are already built into our messenger and are not just built in but invented anew.</p>
                <button class="btn btn-primary">Get Started</button>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row my-8">
            <div class="col-sm-6 mt-5">
                <h2>Why Do You Need To Join Affiliate Marketing</h2>
                <p class="landing-subtitle mt-5">
                    Classifieds are usually the first place you think of when you are getting ready to make a purchase. Whether you want to purchase a vehiclle
                </p>
                <button class="btn btn-primary mt-5">Get Started</button>
            </div>
            <div class="col-sm-6">
                <img class="img-fluid" src="~/imgs/landing-page-button-55C848BD-08EE-4725-AF30-750F08796B46@2x.png" />
            </div>
        </div>
        <div class="row my-8">
            <div class="col-sm-6">
                <img class="img-fluid" src="~/imgs/landing-page-group-11-37BA3F4E-AAD1-4A35-85C3-D5035E1359F6@2x.png" />

            </div>
            <div class="col-sm-6 mt-5">
                <h2>Why Do You Need To Join Affiliate Marketing</h2>
                <p class="landing-subtitle mt-5">
                    Classifieds are usually the first place you think of when you are getting ready to make a purchase. Whether you want to purchase a vehiclle
                </p>
                <button class="btn btn-primary mt-5">Get Started</button>
            </div>

        </div>
        <div class="row my-8">
            <div class="col-sm-6 mt-5">
                <h2>Why Do You Need To Join Affiliate Marketing</h2>
                <p class="landing-subtitle mt-5">
                    Classifieds are usually the first place you think of when you are getting ready to make a purchase. Whether you want to purchase a vehiclle
                </p>
                <button class="btn btn-primary mt-5">Get Started</button>
            </div>
            <div class="col-sm-6">
                <img class="img-fluid" src="~/imgs/landing-page-feature-3-hero-F170D3B1-EDBA-49AC-B8EF-DA7E51AA99F1@2x.png" />
                
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container my-10">

        <img class="img-fluid" style="position:absolute;height:200px;" src="~/imgs/landing-banner.png" />
        <div class="row px-5" style="padding-top: 4rem;">
            <div class="col-sm-6 ">
                <h3 class="text-white">What are you waiting for?</h3>
                <h3 class="text-white">Give Ibis a go!</h3>
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn btn-primary">Get Started</button>
            </div>
        </div>
        
       
    </div>
    
</section>