@page "/project-success"
@model IbisTranscriber.NETCore.Pages.Projects.SuccessMessageModel
@{
}


<div class="container mt-5">
    <div class="row text-center">
        <div class="col-12">
            <img class="img-fluid" style="max-height:200px;" src="~/imgs/undraw_data_processing_yrrv.png" />
            <h2>Project created!</h2>
            <p class="landing-subtitle my-5">Now you just need to wait, once the transcription is finished we will let you know</p>
            <a class="btn btn-primary" href="/dashboard">Awesome! Go to my dashboard</a>
        </div>
    </div>
   
</div>