@page "/Chat"

<Sparc.Ibis.IbisContent ChannelId="ibis-meta-app">
    <div class="landing">
        <div class="landing--main">
            <div class="hero">
                <div class="description">
                    <h1>Come as you are</h1>
                    <p>
                        Break down language barriers and transform the way you communicate with your friends, family, or team.
                        Type, speak, read, and listen in *your* language, no matter the language everyone else is speaking.
                    </p>
                </div>
                <div class="landing--button-container">
                    <button @onclick="SignIn" class="get-started">Launch Ibis</button>
                    <button @onclick="Pricing" class="button-pricing">Pricing</button>
                </div>
                <img class="hero-image--room" src="/images/landing/hero-image_room.png" alt="Example of an Ibis room, displaying messages between multiple users." />
                <img class="hero-background" src="/images/landing/hero-background.png" alt="" />
            </div>
            <section class="section-1">
                <div class="right-container">
                    <h2>Your language, your communication style</h2>
                    <p>
                        Speak to your fellow humans without the barrier of language.
                    </p>
                </div>
                <div class="left-container">
                    <div class="card-container">
                        <div class="card">
                            <div class="content">
                                <img src="/images/landing/accessibility.png" alt="" />
                                <h3>Chat with Text</h3>
                                <p>
                                    Get in a room with others, no matter their language, and have a real-time chat conversation without worrying
                                    about translating their words.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <img src="/images/landing/reciprocity.png" alt="" />
                                <h3>Translate your Site</h3>
                                <p>
                                    Install Ibis on your own site, and activate its engine to automatically translate your entire site into your users'
                                    preferred languages.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-container">
                        <div class="card">
                            <div class="content">
                                <img src="/images/landing/efficiency.png" alt="" />
                                <h3>Chat with Voice</h3>
                                <p>
                                    Speak to Ibis, and it will translate your words into the language of your friends, family, or team.
                                </p>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="content">
                                <img src="/images/landing/empower.png" alt="" />
                                <h3>Chat over the Phone</h3>
                                <p>
                                    Connect via SMS or phone call, and step away from the computer for a while. Your chat continues just as it was.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-2">
                <div class="row row--feature1">
                    <div class="row--content">
                        <h2>Over 130+ languages are built in.</h2>
                        <p>
                            Every message is transformed into the form of communication and language that fits you.
                            Ibis empowers you to speak up, take up space, and be truly heard.
                        </p>
                    </div>
                    <div class="row--images">
                        <img class="content-background feature1" src="/images/landing/feature1_graphic.png" alt="Screenshot of Ibis' user language settings, including text and voice options." />
                        <img class="content-image feature1" src="/images/landing/feature1_image.png" alt="" />
                    </div>
                </div>
                <div class="row row--feature2">
                    <div class="row--content">
                        <h2>Real-time Conversations without Language Barriers</h2>
                        <p>
                            Ibis translates your live group chats, video and audio files 
                            to fit each user's communication preferences in real-time.
                            Rooms are permanent, so join anytime you like.
                        </p>
                    </div>
                    <div class="row--left row--images">
                        <img class="content-background feature2" src="/images/landing/feature2_graphic.png" alt="Example of the Ibis chat interface." />
                        <img class="content-image feature2" src="/images/landing/feature2_image.png" alt="" />
                    </div>
                </div>
                <div class="row row--feature3">
                    <div class="row--content">
                        <h2>Share Video and Audio, and Download Full Transcripts</h2>
                        <p>
                            Upload video and audio files to your group for automatic translation. 
                            Download full transcripts and subtitle files in your language of choice.
                            
                        </p>
                    </div>
                    <div class="row--images">
                        <img class="content-background feature3" src="/images/landing/feature3_graphic.png" alt="Screenshot of Ibis' options to download conversations in multiple formates." />
                        <img class="content-image feature3" src="/images/landing/feature3_image.png" alt="" />
                    </div>
                </div>
            </section>
            <section class="banner">
                <img class="banner-image desktop" src="/images/landing/banner.png" alt="" />
                <div class="banner-content desktop">
                    <h3>What are you waiting for? <br />Give Ibis a go!</h3>
                    <button @onclick="SignIn" class="get-started">Host a Chat</button>
                </div>
                <img class="banner-image mobile" src="/images/landing/banner-mobile.png" alt="" />
                <div class="banner-content mobile">
                    <h3>What are you waiting for? <br />Give Ibis a go!</h3>
                    <button @onclick="SignIn" class="get-started">Host a Chat</button>
                </div>
            </section>
            <div class="footer">
                🎉 Ibis is honored to have been recently selected as a Microsoft #BuildFor2030 Hackathon winner focusing on inclusive, sustainable, and resilient innovation!  🎉
                <a href="https://aka.ms/buildfor2030-hackathon-winner-announcement" target="_blank">Learn more</a>
            </div>
        </div>
    </div>
</Sparc.Ibis.IbisContent>

@code {
    private void SignIn()
    {
        Nav.NavigateTo("/rooms", true);
    }

    private void Pricing() => Nav.NavigateTo("/pricing");
}