<div class="question @(IsQuestionOpen ? "selected" : "")">
    <h4 @onclick="ToggleQuestion">
        @if (IsQuestionOpen)
        {
            <img class="icon-open" src="/icons/minus.png" />
        }
        else
        {
            <img class="icon-closed" src="/icons/plus-dark.png" />
        }
        @Question
    </h4>
    @if (IsQuestionOpen)
    {
        <p class="answer" id="answer-1">
            @Answer
        </p>
    }
</div>

@code {
    [Parameter] public string Question { get; set; } = null!;
    [Parameter] public string Answer { get; set; } = null!;
    bool IsQuestionOpen { get; set; }

    void ToggleQuestion()
    {
        IsQuestionOpen = !IsQuestionOpen;
    }
}
