@import "../_variables.scss";

.blazored-modal {
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04) !important;
    border-radius: 16px !important;
    padding: 24px;

    button.primary {
        padding: 8px 16px;
        color: $white;
        background: $secondary-900;
    }

    .bm-title {
        font-size: 31px;
    }

    .bm-close {
        color: $grey-400;
    }

    .invite-search {
        label {
            display: flex;
            justify-content: space-between;
            column-gap: 16px;
            margin: 6px 0 24px;
            align-items: center;
        }

        input {
            border: 1px solid $grey-300;
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
            border-radius: 8px;
            padding: 10px 14px;
            font-size: 16px;
            line-height: 120%;
            width: 67%;
        }

        aside {
            display: block;
            color: $grey-500;
            font-size: 14px;
            margin-bottom: 24px;
        }

        ::placeholder {
            color: $grey-500;
        }

        .search-member {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .invite-users {
        margin-bottom: 45px;
        max-height: 300px;
        overflow-y: auto;

        .user-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 12px;

            .large {
                font-size: 16px;
            }

            .user-left {
                display: flex;
                align-items: center;

                img {
                    margin-right: 8px;
                }

                p.large {
                    line-height: 19px;
                }
            }

            .user-right {
                .host {
                    color: $primary-700;
                    background: $primary-200;
                    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
                    border-radius: 16px;
                    border: 1px solid $primary-700;
                    padding: 4px 6px;
                }

                .success {
                    background: $secondary-200;
                    color: $success-500;
                    border: 1px solid $success-500;
                    border-radius: 16px;
                    padding: 4px 6px;
                }

                .invited {
                    background: $grey-100;
                    color: $grey-500;
                    border: 1px solid $grey-500;
                    border-radius: 16px;
                    padding: 4px 6px;
                }
            }
        }

        h5 {
            font-size: 13px;
            font-weight: 400;
            padding-bottom: 14px;
        }

        .avatar {
            justify-content: flex-start;
            height: 48px;
            padding: 4px 0;
        }
    }

    button.secondary {
        color: $primary;
        border: 1px solid $primary;
        background: $white;
        padding: 0 12px;
        border-radius: 8px;
    }

    &.confirm-text {
        button.primary {
            margin-top: 20px;

            i {
                vertical-align: middle;
                padding: 0 0 1px 10px;
            }
        }

        textarea {
            display: block;
            padding: 8px;
            margin: 12px 0;
            width: 100%;
            border: 1px solid $grey-400;
            border-radius: 6px;
        }
    }

    &.room-modal {
        padding-bottom: 70px;
    }
}

//Overlay
.overlay {
    background: rgba(10, 17, 29, 0.75);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9;
}

.invite-block {
    position: relative;

    h4 {
        margin-bottom: 24px;
    }

    .room-icons, .room-name-wrapper, .invite-search {
        margin-bottom: 24px;

        p.medium {
            margin-bottom: 6px;
        }
    }

    .create-room {
        background: $primary-500;
        border-radius: 8px;
        padding: 9px 16px;
        color: $white;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        cursor: pointer;
        float: right;
        margin-top: 24px;
    }

    .room-icons {
        .room-icon-wrapper > div {
            display: grid;
            grid-template-columns: 1fr 3fr;
            gap: 24px;
            margin: 0 0 24px 0;
            align-items: start;
            opacity: 0.8;
            padding: 4px;

            &:hover, &.selected {
                opacity: 1;
                cursor: pointer;
                border: 1px solid $primary-500;
                border-radius: 8px;
            }
        }

        .room-icon {
            width: 40px;
            height: 40px;
            margin: 0;
        }
    }

    .room-name-wrapper {
        label {
            margin-bottom: 6px;
            color: #28303B;
        }

        input {
            border: 1px solid $grey-300;
            border-radius: 8px;
            padding: 10px 14px;
            font-size: 16px;
            line-height: 120%;
            width: 100%;
        }

        ::placeholder {
            color: $grey-500;
        }
    }

    .done {
        position: absolute;
        right: 0;
        bottom: -44px;
    }
}
