<button aria-label="Share" class="share-link @(IsCopied ? "share-link-copied" : "")" @onclick="CopyLink" @onkeydown="@Enter">
    <ShareIcon />

    <div class="tooltip">
        @RoomLink
        <aside>@(IsCopied ? "Copied!" : "Click to copy")</aside>
    </div>
</button>

@code {
    [Parameter] public GetRoomResponse Room { get; set; } = null!;
    string RoomLink => $"{Nav.BaseUri}rooms/{Room.RoomId}";
    bool IsCopied;

    async Task CopyLink()
    {
        await JS.InvokeVoidAsync("navigator.clipboard.writeText", RoomLink);
        IsCopied = true;
        StateHasChanged();

        await Task.Delay(2000);
        IsCopied = false;
        StateHasChanged();
    }

    public async Task Enter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await CopyLink();
        }
    }
}
