@page "/conversations/new"
@page "/conversations/{Id}"
@layout DashLayout
@attribute [Authorize]

<section class="conversation">
    <div class="messages">
        @foreach (var message in Messages)
        {
            <MessageCard Message=message Language=@Language />
        }
    </div>
    <h3>Language: @Language</h3>
    <div class="input">
        <input @bind="Text" @bind:event="oninput" @onkeydown=MaybeSendText />
        <div class="options">
            <button @onclick="Upload">
                <i class="material-icons">cloud_upload</i>
            </button>
            <button @onclick="DownloadText">
                <i class="material-icons">file_download</i>
            </button>
            <button @onclick="DownloadAudio">
                <i class="material-icons">audio_file</i>
            </button>
            <button @onclick="Call">
                <i class="material-icons">call</i>
            </button>
            <button @onclick="Sms">
                <i class="material-icons">sms</i>
            </button>
            <button @onclick="Speak">
                <i class="material-icons">keyboard_voice</i>
            </button>
        </div>
        <div class="buttons">
            <button @onclick="SendText" class="active">
                <i class="material-icons">send</i>
            </button>
        </div>
    </div>

</section>

@using Microsoft.AspNetCore.SignalR.Client
@using System.Text
@inject IJSRuntime JS

@code {
    [Parameter] public string? Id { get; set; }
    [Parameter]
    [SupplyParameterFromQuery(Name = "language")] public string? Language { get; set; }
    string? Text;
    Conversation? Conversation;
    List<Message> Messages = new();

    HubConnection Connection { get; set; }
    bool IsConnected => Connection?.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {
        var user = await Api.UpdateUserAsync();

        if (string.IsNullOrWhiteSpace(Language))
            Language = string.IsNullOrWhiteSpace(user.Language) ? "en-US" : user.Language;

        if (string.IsNullOrWhiteSpace(Id))
        {
            Conversation = await Api.StartConversationAsync();
            Nav.NavigateTo($"/conversations/{Conversation.Id}", true);
        }
        else 
        {
            var conversation = await Api.GetConversationAsync(new GetConversationRequest { ConversationId = Id, Language = Language });
            Conversation = conversation.Conversation;
            Messages = conversation.Messages.ToList();
        }

        Connection = new HubConnectionBuilder()
            .WithUrl(Config["ApiUrl"] + "/conversations")
            .Build();

        Connection.On<Message>("NewMessage", message => {
            message.IsNew = true;
            AddMessage(message);
        });
        await Connection.StartAsync();
        await Connection.SendAsync("AddToConversation", Conversation.Id, user.Id, Language);
    }

    void AddMessage(Message message)
    {
        var existingId = Messages.FindIndex(x => x.Id == message.Id);
        if (existingId > -1)
            Messages[existingId] = message;
        else
            Messages.Add(message);

        StateHasChanged();
    }

    async Task Upload()
    {
        // link or direct upload
    }
    async Task Call()
    {

    }
    async Task Sms()
    {

    }
    async Task Speak()
    {

    }

    async Task MaybeSendText(KeyboardEventArgs args)
    {
        if (args.Code == "Enter")
            await SendText();
    }

    async Task SendText()
    {
        var newMessage = await Api.SendMessageAsync(new SendMessageRequest { ConversationId = Conversation.Id, Message = Text, Language = Language });
        AddMessage(newMessage);
        Text = null;
    }

    async Task DownloadText()
    {
        StringBuilder builder = new StringBuilder();
        foreach(var message in Messages)
        {
            builder.AppendLine(message.Timestamp.LocalDateTime.ToString("MM/dd/yyyy hh:mm tt") + ": " +  message.Text);
        }

        byte[] bytes = Encoding.ASCII.GetBytes(builder.ToString());
        Stream fileStream = new MemoryStream(bytes);

        var fileName = Conversation?.Name + ".txt" ?? "transcript.txt";
        foreach(char c in System.IO.Path.GetInvalidFileNameChars())
        {
            fileName = fileName.Replace(c, '_');
        }

        using var streamRef = new DotNetStreamReference(stream: fileStream);
        await JS.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
    }

    async Task DownloadAudio()
    {
        var fileURL = Messages.First().AudioId;
        var fileName = "audiofile.wav";
        await JS.InvokeVoidAsync("triggerFileDownload", fileName, fileURL);
    }
}
