<div class="account-details">
    <h2>
        If you have a few minutes, we would love to show you where the magic happens and get you setup with the basics, so you know how to use ibis to it’s full potential.
    </h2>
  
    <label>
        Name
        <input @bind="User.Name" @bind:event="oninput" placeholder="Jane Doe" @onblur=Save />
    </label>

    <label>
        Pronouns (Optional)
        <input @bind="User.Pronouns" @bind:event="oninput" placeholder="She/her, He/him, They/them, etc." @onblur=Save />
    </label>

    <label>
        About You (Optional)
        <textarea @bind="User.Description"
                  @bind:event="oninput"
                  maxlength="@descLimit"
                  @onblur=Save
                  placeholder="Enter a little about yourself" />
    </label>
    @if (User.Description != null)
    {
        <aside>
            @(descLimit - User.Description.Count()) characters left
         </aside>
    }
</div>

@code {
    [CascadingParameter] public UserAvatar User { get; set; } = null!;

    public int descLimit = 275;
    
    async Task Save()
    {
        await Api.UpdateUserAsync(User);
    }
}