@import "../_variables.scss";

.avatar-editor {
    height: 100%;

    &--container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;

        .emoji-selector {
            height: 250px;
            margin-top: 16px;
        }

        .avatar-preview {
            width: 100%;
            max-width: 123px;

            .avatar {
                aspect-ratio: 1 / 1;
                width: 100%;
                padding: 15%;
                border-radius: 8px;
            }

            .upload-image {
                width: 123px;
                padding: 8px;
                border: 1px solid $secondary-900;
                border-radius: 8px;
                background-color: $white;
                color: $secondary-900;
            }

            .remove-image {
                width: 123px;
                padding: 8px;
                border: 1px solid $grey-900;
                border-radius: 8px;
                background-color: $white;
                color: $grey-900;
            }
        }

        @media screen and (max-width: 480px) {
            display: block;

            .emoji-selector {
                width: 100%;
                min-width: 150px;
            }

            .avatar-preview {
                margin-top: 35px;
            }
        }
    }

    h3 {
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 8px;
    }
}