@import "../_variables.scss";

.onboarding {
    background: $white;
    height: 100%;
    width: 90vw;
    max-width: 736px;
    padding: 20px 4vw;
    position: relative;

    header {
        padding: 12px 0;
        text-align: center;

        img {
            width: 61px;
            height: auto;
        }
    }

    .avatar {
        height: 220px;
    }

    .tabs {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        border-bottom: 1.5px solid $grey-400;

        li {
            padding-bottom: 16px;
            color: $grey-600;
            font-size: 20px;
            cursor: pointer;

            &.selected {
                border-bottom: 1.5px solid $grey-900;
                color: $grey-900;
            }
        }
    }

    h2 {
        padding-top: 16px;
        padding-bottom: 32px;
        font-size: 16px;
        line-height: 19px;
        font-weight: normal;
        text-align: left;
    }

    .close-avatareditor {
        width: 100%;
        display: block;
        padding: 40px 0;
        text-align: right;

        button {
        }
    }

    ::-webkit-scrollbar {
        width: 5px;

        &-track {
            background: transparent;
        }

        &-thumb {
            height: 30%;
            background: $primary-500;
            border-radius: 35px;
            transition: 300ms ease-in-out;

            &:hover {
                background: $secondary-900;
            }
        }
    }

    @media screen and (max-width: 480px) {
        width: 90vw;
        max-width: none;
        padding: 0;
    }
}
