@import "../_variables.scss";

.language-selector {
    height: 100%;

    .ibis-language-selector {
        width: 100%;

        button {
            display: none;
        }

        .overlay {
            display: none;
        }
        ul {
            position: static;
            transform: none;
            width: 100%;
        }
    }
}
