<div class="language-selector">
    <h2>
        Ibis will automatically translate all communications in the room (both text and audio) into your preferred language.
    </h2>
    <IbisLanguageSelector IsSelecting="true" OnLanguageSelected="SetLanguage" />
</div>

@code {
    [CascadingParameter] public UserAvatar User { get; set; } = null!;
    [Parameter] public EventCallback OnSelected { get; set; }
    ICollection<Language>? Languages { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Languages = await Api.GetLanguagesAsync();
    }

    async Task SetLanguage(string language)
    {
        User.Language = language;
        await Api.ChangeVoiceAsync(new ChangeVoiceRequest { Language = language });

        if (OnSelected.HasDelegate)
            await OnSelected.InvokeAsync();
    }
}