@import "../../_variables.scss";


.timeline-bg {
    background: $white;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.06)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
    border-radius: 8px;

    .timeline {
        padding: 26px 16px 20px 16px;
        //Start of Timeline Progress bar
        .timeline-bar {
            position: relative;
            white-space: nowrap;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            height: 100%;
            z-index: 1;

            svg {
                pointer-events: none;
                fill: $secondary-600;
                width: 100%;
                border-radius: 2px;
            }

            .timeline-cover {
                background: $white;
                height: 10px;
                overflow: hidden;
                mix-blend-mode: color;
                position: absolute;
                top: 0;
                right: 0;
                border-radius: 2px;
                width: 37%;
            }

            .sub-timeline-bar {
                top: 6px;
                color: $secondary-400;
                border-radius: 2px;
                position: absolute;
            }

            #sub-timeline-1{
                width: 127%;
            }

            //Start of time stamps
            .time-start, .time-current, .time-end {
                position: absolute;
                bottom: 6px;
                color: $grey-400;
            }

            .time-start {
                left: 0px;
            }

            .time-current {
                color: $secondary-900;
                font-weight: 500;
                right: calc(36% - 2px);
            }

            .time-end {
                right: 0px;
            }
        }
        //End of Timeline Progress bar
    }
    //Start of timeline Divider divs (Sorry for mess in advance)
    .bg-divider {
        width: 1px;
        height: 50px;
        background: $grey-100;
        position: absolute;
    }

    .percent-5 {
        left: 5%;
        top: 0;
    }

    .percent-10 {
        left: 10%;
        top: 0;
    }

    .percent-15 {
        left: 15%;
        top: 0;
    }

    .percent-20 {
        left: 20%;
        top: 0;
    }

    .percent-25 {
        left: 25%;
        top: 0;
    }

    .percent-30 {
        left: 30%;
        top: 0;
    }

    .percent-35 {
        left: 35%;
        top: 0;
    }

    .percent-40 {
        left: 40%;
        top: 0;
    }

    .percent-45 {
        left: 45%;
        top: 0;
    }

    .percent-50 {
        left: 50%;
        top: 0;
    }

    .percent-55 {
        left: 55%;
        top: 0;
    }

    .percent-60 {
        left: 60%;
        top: 0;
    }

    .percent-65 {
        left: 65%;
        top: 0;
    }

    .percent-70 {
        left: 70%;
        top: 0;
    }

    .percent-75 {
        left: 75%;
        top: 0;
    }

    .percent-80 {
        left: 80%;
        top: 0;
    }

    .percent-85 {
        left: 85%;
        top: 0;
    }

    .percent-90 {
        left: 90%;
        top: 0;
    }

    .percent-95 {
        left: 95%;
        top: 0;
    }

    .percent-100 {
        left: 100%;
        top: 0;
    }
}


