<div class="timeline-bg">
    <div class="timeline">
    @*Timeline progress bar*@
        <div class="timeline-bar">
            <svg width="1140" height="4" viewBox="0 0 1140 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="1140" height="4" rx="2" fill="#5696BE"/>
            </svg>

            <svg class="sub-timeline-bar" id="sub-timeline-1" width="43" height="4" viewBox="0 0 43 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="43" height="4" rx="2" fill="#AACAE1"/>
            </svg>

            <div class="time-start">
                <p class="small">13:32/25:00</p>
            </div>
            <div class="time-current">
                <p class="small">@*This is where the current time would go and follow the bar*@ 22:31</p>
            </div>
            <div class="time-end">
                <p class="small">+2:32</p>
            </div>

            <div class="timeline-cover"></div>
        </div>
    </div>

    @*Background dividers*@
    <div class="bg-divider percent-5"></div>
    <div class="bg-divider percent-10"></div>
    <div class="bg-divider percent-15"></div>
    <div class="bg-divider percent-20"></div>
    <div class="bg-divider percent-25"></div>
    <div class="bg-divider percent-30"></div>
    <div class="bg-divider percent-35"></div>
    <div class="bg-divider percent-40"></div>
    <div class="bg-divider percent-45"></div>
    <div class="bg-divider percent-50"></div>
    <div class="bg-divider percent-55"></div>
    <div class="bg-divider percent-60"></div>
    <div class="bg-divider percent-65"></div>
    <div class="bg-divider percent-70"></div>
    <div class="bg-divider percent-75"></div>
    <div class="bg-divider percent-80"></div>
    <div class="bg-divider percent-85"></div>
    <div class="bg-divider percent-90"></div>
    <div class="bg-divider percent-95"></div>
    <div class="bg-divider percent-100"></div>
</div>

