@import '../_variables.scss';

.nav--support {
    width: 100%;
    height: 100px;
    padding: 25px 94px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    background: $white;
    z-index: 500;

    .nav--left {
        h1 {
            margin: auto 0;
            font-size: 51px;
            line-height: 51px;
        }

        a {
            &:hover {
                cursor: pointer;
            }

            img {
                width: 114px;
                height: 51px;
                margin: auto 0;
            }
        }
    }

    .nav--right {
        display: flex;
        gap: 30px;

        a {
            margin: auto 0;
            color: $grey-500;
            font-family: 'CircularStd';
            font-weight: 400;
            font-size: 20px;
            line-height: 120%;
            transition: 250ms ease-in-out;

            &:hover {
                color: $dark-blue;
            }
        }

        button {
            padding: 13px 37px;
            background: $white;
            color: $dark-blue;
            border: 1px solid $dark-blue;
            border-radius: 8px;
            font-family: 'CircularStd';
            font-weight: 400;
            font-size: 20px;
            line-height: 120%;
            transition: 250ms ease-in-out;

            &:hover {
                background: $dark-blue;
                color: $white;
            }
        }
    }
}

.support-landing {
    width: 100%;
    height: calc(100vh - 100px);
    margin-top: 100px;
    background: $background;

    &--header {
        padding: 74px 74px 0px 74px;
        display: flex;
        gap: 100px;

        .hero {
            display: flex;
            gap: 20px;

            img {
                width: 311px;
                height: 427px;

                &.hero-img-1 {
                    margin-top: 120px;
                }
            }

            &--right {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            &-message {
                width: 311px;
                height: 100px;
                padding: 14px;
                border-radius: 0px 20px 20px 20px;
                background: $dark-blue;
                color: $white;

                img {
                    width: 47px;
                    height: 32px;
                }

                div:first-child {
                    margin-bottom: 7px;
                    color: $secondary-300;
                    font-weight: 500;
                    font-size: 23px;
                    line-height: 120%;
                }

                div:last-child {
                    color: $white;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 120%;
                }
            }
        }

        .content {
            margin: auto 0;

            h2 {
                margin-bottom: 20px;
                font-weight: 700;
                font-size: 61px;
                line-height: 84px;
                color: $darker-blue;

                img {
                    width: 294px;
                    height: auto;
                }
            }

            p {
                margin-bottom: 20px;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                color: $secondary-900;
            }

            button {
                padding: 0;
                background: transparent;
                border-radius: 0;
                color: $secondary-900;
                font-weight: 700;
                font-size: 18px;
                line-height: 150%;

                img {
                    transform: rotate(270deg);
                    margin-left: 10px;
                }
            }
        }
    }

    .features {
        background: url('images/Group 68.png') center no-repeat;
        background-size: 1690px auto;
        height: 1168px;
        position: relative;
        /*&-background {
            display: none;
            width: 110%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
        }*/

        &--container {
            height: 469px;
            padding: 327px 104px;
            display: flex;
            justify-content: center;
            gap: 76px;
            position: relative;
            z-index: 20;

            div {
                width: 360px;
                height: 369px;
                padding: 60px 40px;
                background: $white;
                box-shadow: 0px 16px 24px rgba(5, 94, 148, 0.1), 0px 2px 6px rgba(0, 59, 95, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
                border-radius: 20px;
                z-index: 20;

                &.feature-2 {
                    margin-top: 100px;
                }

                header {
                    padding: 0;
                    position: relative;

                    span {
                        font-weight: 700;
                        font-size: 96px;
                        line-height: 120%;
                        color: rgba(34, 98, 202, 0.1);
                    }

                    h3 {
                        font-weight: 700;
                        font-size: 25px;
                        line-height: 120%;
                        color: $darker-blue;
                        position: absolute;
                        bottom: 8px;
                    }
                }

                p {
                    margin-top: 35px;
                    color: $darker-blue;
                }
            }
        }
    }

    .more-information {
        width: 100%;
        padding-top: 125px;
        padding-bottom: 151px;
        position: relative;
        background: transparent;
        z-index: 20;

        header {
            max-width: 638px;
            margin: 0 auto;
            text-align: center;

            h3 {
                margin-top: 20px;
                font-weight: 700;
                font-size: 31px;
                line-height: 120%;
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
            }
        }

        .ibis-logo--container {
            margin-top: 45px;
            display: flex;
            gap: 169px;
            justify-content: center;

            img {
                height: 73px;
                width: auto;
            }
        }
    }
}