@import "../_variables.scss";

.support-message-card {
    max-width: 252px;
    padding: 8px;
    border-radius: 12px;
    font-family: 'CircularStd';
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
    margin-bottom: 8px;

    header {
        display: block;
        height: 20px;
        padding: 0;
        margin-bottom: 6px;
        background: none;
        position: relative;

        .avatar-wrapper {
            display: inline-block;
            margin-right: 3px;
        }
    }

    &.agent {
        background: $secondary-900;

        header {
            color: $secondary-300;

            .avatar-wrapper {
                width: 24px;
                height: 20px;

                img {
                    width: 24px;
                    height: 18px;
                }
            }
        }

        .message-content {
            p {
                color: $white;
            }
        }
    }

    &.user {
        background: $white;

        header {
            color: $grey-500;

            .avatar-wrapper {
                width: 20px;
                height: 20px;

                figure {
                    width: 100%;
                    height: 100%;
                }

                svg {
                    width: 20px;
                    height: 20px;
                    border: none;
                    transform: scale(1);
                }
            }

            span {
                position: absolute;
                left: 26px;
                top: 3px;
            }
        }

        .message-content {
            p {
                color: $grey-900;
            }
        }
    }
}