<div class="support-helpdesk--chat mini">
    <header class="helpdesk-header">
        <div class="title">Message</div>
        <div class="helpdesk-actions">
            <div class="agent-status">Online <div class="agent-status-icon"></div></div>
            <button tabindex="0" class="popout-helpdesk">
                <img src="icons/popout-icon.svg" />
            </button>
            <button tabindex="0" class="close-helpdesk" @onclick=Close>
                <img src="icons/close-icon.svg" />
            </button>
        </div>
    </header>
    <div class="helpdesk-messages">
        <ul>
            <li><SupportMessageCard Type="agent"/></li>
            <li><SupportMessageCard Type="user" User="User"/></li>
        </ul>
    </div>
    <div class="helpdesk-footer">
        <button tabindex="0" class="support-attach"><img src="icons/attach-icon.svg" /></button>
        <input tabindex="0" type="text" placeholder="Type your message..." />
        <button tabindex="0" class="send-support-message"><img src="icons/send-icon.svg" /></button>
    </div>
</div>

@code {
    [CascadingParameter] public UserAvatar User { get; set; } = null!;
    [Parameter] public EventCallback OnClose { get; set; }

    protected async Task Close()
    {
        await OnClose.InvokeAsync();
    }
}