.support-landing {
  width: 100%;
  height: calc(100vh - 100px);
  margin-top: 100px;
  background: #fafbfc;
}
@media screen and (max-width: 800px) {
  .support-landing {
    height: calc(100vh - 75px);
    margin-top: 75px;
  }
}
.support-landing--header {
  padding-top: 142px;
  display: grid;
  justify-content: center;
  gap: 128px;
}
@media screen and (max-width: 1297px) {
  .support-landing--header {
    padding-top: 40px;
    display: block;
  }
}
.support-landing--header .hero {
  width: 512px;
  grid-column-start: 2;
  display: grid;
  grid-template-columns: auto auto;
  grid-area: 1/1/2/2;
  justify-content: center;
  gap: 16px;
}
.support-landing--header .hero img {
  width: 311px;
  height: 427px;
}
.support-landing--header .hero img.hero-img-1 {
  margin-top: 120px;
}
.support-landing--header .hero--right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.support-landing--header .hero-message {
  width: 311px;
  height: 100px;
  padding: 14px;
  border-radius: 0px 20px 20px 20px;
  background: #003B5F;
  color: #FFFFFF;
}
.support-landing--header .hero-message img {
  width: 47px;
  height: 32px;
}
.support-landing--header .hero-message div:first-child {
  margin-bottom: 7px;
  color: #D3E4F1;
  font-weight: 500;
  font-size: 23px;
  line-height: 120%;
}
.support-landing--header .hero-message div:last-child {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}
@media screen and (max-width: 1297px) {
  .support-landing--header .hero img {
    width: 245px;
    height: auto;
  }
  .support-landing--header .hero-message {
    width: 245px;
  }
  .support-landing--header .hero-message img {
    width: 35px;
    height: auto;
  }
  .support-landing--header .hero-message div:first-child {
    margin-bottom: 14px;
    font-size: 13px;
  }
  .support-landing--header .hero-message div:last-child {
    font-size: 18px;
  }
}
@media screen and (max-width: 800px) {
  .support-landing--header .hero-message {
    width: 250px;
  }
  .support-landing--header .hero-message img {
    width: 32px;
    height: auto;
  }
  .support-landing--header .hero-message div:first-child {
    margin-bottom: 14px;
  }
  .support-landing--header .hero-message div:first-child, .support-landing--header .hero-message div:last-child {
    font-size: 20px;
  }
}
@media screen and (max-width: 673px) {
  .support-landing--header .hero {
    display: block;
  }
  .support-landing--header .hero img {
    width: 326px;
    height: 335px;
  }
  .support-landing--header .hero img.hero-img-1 {
    display: none;
  }
  .support-landing--header .hero-message {
    display: none;
  }
}
.support-landing--header .content {
  width: 480px;
  margin: auto 0;
  grid-area: 1/2/2/3;
}
.support-landing--header .content h2 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 61px;
  line-height: 84px;
  color: #001537;
}
.support-landing--header .content h2 img {
  width: 294px;
  height: auto;
}
.support-landing--header .content p {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #003B5F;
}
.support-landing--header .content button {
  padding: 0;
  background: transparent;
  border-radius: 0;
  color: #003B5F;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}
.support-landing--header .content button .right-arrow {
  transform: rotate(270deg);
  margin-left: 10px;
}
.support-landing--header .content button:hover .right-arrow {
  animation: rightArrowBounce 600ms ease-in-out infinite;
}
@media screen and (max-width: 1297px) {
  .support-landing--header .content {
    width: 507px;
    margin-top: 64px;
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .support-landing--header .content h2 {
    font-size: 61px;
    line-height: 120%;
  }
  .support-landing--header .content h2 img {
    width: 275px;
  }
  .support-landing--header .content p {
    font-size: 16px;
  }
  .support-landing--header .content button {
    font-size: 16px;
  }
}
@media screen and (max-width: 673px) {
  .support-landing--header .content {
    width: 326px;
  }
  .support-landing--header .content h2 {
    font-size: 39px;
  }
  .support-landing--header .content h2 img {
    width: 184px;
  }
  .support-landing--header .content p {
    font-size: 12px;
  }
  .support-landing--header .content button {
    font-size: 13px;
  }
}
@media screen and (max-width: 390px) {
  .support-landing--header .content {
    min-width: 0px;
  }
  .support-landing--header .content h2 {
    font-size: 36px;
  }
  .support-landing--header .content p {
    font-size: 14px;
  }
  .support-landing--header .content button {
    font-size: 14px;
  }
}
.support-landing .features {
  /* background: url('../../images/Group 68.png') center no-repeat;
  background-size: 1690px auto;*/
  margin-top: 80px;
  margin-bottom: 123px;
  padding-top: 325px;
  padding-bottom: 362px;
  position: relative;
}
.support-landing .features-background--blob {
  width: 1654px;
  height: 1146px;
  position: absolute;
  opacity: 0.8;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
.support-landing .features-background--graphic1 {
  width: 336px;
  height: 235px;
  position: absolute;
  top: 66px;
  left: -172px;
  z-index: 10;
}
.support-landing .features-background--graphic2 {
  width: 325px;
  height: 223px;
  position: absolute;
  bottom: 57px;
  right: -162px;
  z-index: 10;
}
@media screen and (max-width: 1297px) {
  .support-landing .features {
    margin-top: 105px;
    margin-bottom: 195px;
    padding-top: 247px;
    padding-bottom: 236px;
  }
  .support-landing .features-background--blob {
    width: 2500px;
    height: 1732px;
  }
  .support-landing .features-background--graphic1 {
    top: 47px;
    left: -90px;
  }
  .support-landing .features-background--graphic2 {
    bottom: -58px;
    right: -71px;
  }
}
@media screen and (max-width: 673px) {
  .support-landing .features {
    margin-top: 215px;
    margin-bottom: 300px;
    padding-top: 200px;
    padding-bottom: 257px;
  }
  .support-landing .features-background--blob {
    width: 2500px;
    height: 1732px;
    left: 60%;
    transform: translateX(-60%);
  }
  .support-landing .features-background--graphic1 {
    top: -71px;
    left: -93px;
  }
  .support-landing .features-background--graphic2 {
    bottom: -30px;
    right: -81px;
  }
}
.support-landing .features--container {
  display: flex;
  justify-content: center;
  gap: 32px;
  position: relative;
  z-index: 20;
}
.support-landing .features--container div {
  width: 332px;
  height: 395px;
  padding: 60px 40px;
  background: #FFFFFF;
  box-shadow: 0px 16px 24px rgba(5, 94, 148, 0.1), 0px 2px 6px rgba(0, 59, 95, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  z-index: 20;
}
.support-landing .features--container div.feature-2 {
  margin-top: 60px;
}
.support-landing .features--container div header {
  padding: 0;
  position: relative;
}
.support-landing .features--container div header span {
  font-weight: 700;
  font-size: 96px;
  line-height: 120%;
  color: rgba(34, 98, 202, 0.1);
}
.support-landing .features--container div header h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #001537;
  position: absolute;
  bottom: 8px;
}
.support-landing .features--container div p {
  margin-top: 1.5rem;
  color: #001537;
}
@media screen and (max-width: 1297px) {
  .support-landing .features--container {
    max-width: 673px;
    margin: 0 calc((100vw - 673px) / 2);
    flex-direction: column;
  }
  .support-landing .features--container div.feature-1, .support-landing .features--container div.feature-3 {
    align-self: start;
  }
  .support-landing .features--container div.feature-2 {
    margin: 0;
    align-self: end;
  }
}
@media screen and (max-width: 1012px) {
  .support-landing .features--container {
    margin: 0;
  }
  .support-landing .features--container div.feature-1, .support-landing .features--container div.feature-2, .support-landing .features--container div.feature-3 {
    margin: 0 auto;
    align-self: center !important;
  }
}
@media screen and (max-width: 673px) {
  .support-landing .features--container div {
    width: 326px;
  }
}
.support-landing .more-information {
  width: 736px;
  padding-bottom: 151px;
  position: relative;
  background: transparent;
  z-index: 20;
}
.support-landing .more-information header {
  max-width: 638px;
  margin: 0 auto;
  text-align: center;
}
.support-landing .more-information header h3 {
  margin-top: 20px;
  font-weight: 700;
  font-size: 31px;
  line-height: 120%;
}
.support-landing .more-information header p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
.support-landing .more-information .ibis-logo--container {
  margin-top: 45px;
  display: flex;
  gap: 32px;
  justify-content: center;
}
.support-landing .more-information .ibis-logo--container a {
  padding: 16px 32px;
  border-radius: 14px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.support-landing .more-information .ibis-logo--container img {
  height: 50px;
  width: auto;
}
@media screen and (max-width: 1297px) {
  .support-landing .more-information {
    width: 506px;
  }
  .support-landing .more-information .ibis-logo--container a {
    padding: 12px 24px;
  }
  .support-landing .more-information .ibis-logo--container img {
    height: 39px;
  }
}
@media screen and (max-width: 800px) {
  .support-landing .more-information .ibis-logo--container img {
    height: 40px;
  }
}
@media screen and (max-width: 673px) {
  .support-landing .more-information {
    width: 326px;
  }
  .support-landing .more-information header h3 {
    font-size: 26px;
  }
  .support-landing .more-information header p {
    margin-top: 16px;
  }
  .support-landing .more-information .ibis-logo--container {
    flex-direction: column;
    align-items: center;
  }
  .support-landing .more-information .ibis-logo--container a {
    width: fit-content;
  }
}
@media screen and (max-width: 390px) {
  .support-landing .more-information header h3 {
    font-size: 24px;
  }
  .support-landing .more-information header p {
    font-size: 14px;
  }
}
.support-landing .tooltip-wrapper span {
  width: 248px;
  height: 50px;
  padding: 13px 20px;
  position: fixed;
  top: 350px;
  right: 86px;
  background: #FFFFFF;
  border: 1px solid #30C07D;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #30C07D;
  visibility: visible;
  z-index: 30;
}
.support-landing .tooltip-wrapper span::after {
  display: none;
}

@keyframes rightArrowBounce {
  0%, 100% {
    transform: rotate(270deg) translateY(0);
  }
  50% {
    transform: rotate(270deg) translateY(10px);
  }
}
@font-face {
  font-family: "CircularStd";
  font-weight: 400;
  src: url(../fonts/CircularStd-Book.ttf) format("truetype");
}
@font-face {
  font-family: "CircularStd";
  font-weight: 500;
  src: url(../fonts/CircularStd-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "CircularStd";
  font-weight: 700;
  src: url(../fonts/CircularStd-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "CircularStd";
  font-weight: 900;
  src: url(../fonts/CircularStd-Black.ttf) format("truetype");
}
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #FF3520;
  border-radius: 35px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #FF3520;
}

body {
  overflow-x: hidden !important;
  font-family: "CircularStd", sans-serif;
  background: #fafbfc;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

#app .loading-progress {
  position: relative;
  display: block;
  width: 8rem;
  height: 8rem;
  margin: 20vh auto 1rem auto;
}
#app .loading-progress circle {
  fill: none;
  stroke: #e0e0e0;
  stroke-width: 0.6rem;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}
#app .loading-progress circle:last-child {
  stroke: #FF3520;
  stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
  transition: stroke-dasharray 0.05s ease-in-out;
}
#app .loading-progress-text {
  position: absolute;
  text-align: center;
  inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
  color: #FF3520;
}
#app .loading-progress-text:after {
  content: var(--blazor-load-percentage-text, "Loading");
}

h1, h2, h3, h4, h5, h6 {
  line-height: 120%;
  font-family: "CircularStd", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 61px;
}

h2 {
  font-size: 49px;
}

h3 {
  font-size: 39px;
}

h4 {
  font-size: 39px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 20px;
  font-weight: 700;
}

p.large {
  font-size: 16px;
  line-height: 120%;
}

p.medium {
  font-size: 13px;
  line-height: 120%;
}

p.small {
  font-size: 10px;
  line-height: 120%;
}

button.action {
  padding: 8px 10px;
  border-radius: 8px;
  border-width: 0;
  background: none;
  color: #013b60;
  font-weight: normal;
  font-size: 13px;
  transition: 300ms ease-in-out;
}
button.action > img, button.action > svg {
  height: 12px;
  width: auto;
}
button.action svg {
  margin-right: 6px;
}
button.action svg path {
  fill: #013b60;
}
button.action:hover {
  background: #EEF4FA;
}

:focus-visible {
  box-shadow: 2px 2px 6px #A5120D;
  outline: 3px solid #810A08;
}

.realtime-hub, .realtime-hub-Connecting {
  display: none;
}
.realtime-hub span, .realtime-hub-Connecting span {
  display: none;
}
