<div class="lang-select-toolbox">
    <select name="lang" id="languages" class="no-arrow-select">
        <option>English</option>
    </select>

    <ArrowSwapIcon />

    <select name="preset-lang" id="preset-languages" class="with-arrow-select">
        <option> Your language preset</option>
    </select>

    <PlayCircleIcon />
</div>

@code {

}