@implements IDisposable
@using Microsoft.JSInterop;

<section id="@_id" lang="@_language" class="ibis-translate">
    @ChildContent
</section>

@inject IbisTranslator Ibis
@inject PersistentComponentState PersistedState

@code {
    [Parameter] public string ChannelId { get; set; } = null!;
    [Parameter] public string? Language { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool AsHtml { get; set; }

    string? _language;
    string _id = $"ibis-{Guid.NewGuid()}";
    bool firstRenderAfterIbisInit;
    bool isTranslating;

    PersistingComponentStateSubscription PersistedStateSubscription;

    protected override async Task OnInitializedAsync()
    {
        PersistedStateSubscription = PersistedState.RegisterOnPersisting(PersistData);

        isTranslating = true;

        if (PersistedState.TryTakeFromJson<List<IbisContent>>(ChannelId, out var restoredIbisContent))
        {
            _language = await Ibis.InitAsync(ChannelId, Language, AsHtml, restoredIbisContent);
        }
        else
        {
            _language = await Ibis.InitAsync(ChannelId, Language, AsHtml);
        }
        firstRenderAfterIbisInit = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        if (firstRenderAfterIbisInit)
        {
            await Ibis.InitClientAsync(this, _id);
            firstRenderAfterIbisInit = false;
        }

        if (!firstRenderAfterIbisInit)
        {
            isTranslating = false;
        }
    }

    [JSInvokable]
    public async Task<List<string>> TranslateAsync(List<string> text)
    {
        return await Ibis.TranslateAsync(text, ChannelId);
    }

    Task PersistData()
    {
        PersistedState.PersistAsJson(ChannelId, Ibis.Content);
        return Task.CompletedTask;
    }

    void IDisposable.Dispose()
    {
        PersistedStateSubscription.Dispose();
    }
}
