.ibis-language-selector {
    width: 40%;
    max-width: 736px;
    background: white;
}

.overlay {
    opacity: 0.3;
}

    button {
        background: #f9f1e8;
        color: #003b5f;
        border-radius: 0;
        margin-top: 10px;
        height: 38px;
    }

ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 310px;
    width: min-content;
    max-width: 30vw;
    max-height: 50vh;
    position: fixed;
    padding: 8px;
    z-index: 1001;
    background: white;
    border-radius: 12px;
    transform: translateX(-90%) translateY(20px);
}

@media screen and (max-width: 350px) {
    ul {
        transform: none;
        top: 40px !important;
        right: 0;
        bottom: 0;
        left: 0 !important;
        max-width: 100vw;
        max-height: 80vh;
        z-index: 100000;
    }
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    position: relative;
    margin: 8px 0;
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #d1d4dc;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    cursor: pointer;
    font-size: 20px;
    transition: 300ms ease-in-out;
    white-space: nowrap;
}

    li aside {
        position: absolute;
        bottom: 6px;
        right: 6px;
        font-size: 12px;
        vertical-align: middle;
    }

    li:hover {
        background: #f3f5f6;
        transition: 300ms ease-in-out;
    }

    li.selected {
        border: 1.5px solid #30C07D;
        color: #30C07D;
        transition: 300ms ease-in-out;
    }

.right {
    height: 100%;
    padding-top: 0;
    position: absolute;
    top: 0;
    right: 14px;
}

    .right img {
        width: 16px;
        height: 16px;
        margin: auto 0;
    }

    li:focus-visible {
        border: 1.5px solid #f29e2e;
    }

