@inherits SparcModal

<div class="invite-block room-modal">
@*    <div class="room-icons">
        <p class="medium">Room Type</p>
        <dl class="room-icon-wrapper">
            <div @onclick="@(() => SelectRoomType("Blog"))" class="@(Request.RoomType == "Blog" ? "selected" : "")">
                <dt class="blog">
                    <RoomIcon RoomType="Blog" /> Blog
                </dt>
                <dd>
                    Host your own weblog or diary with timestamps.
                </dd>
            </div>
            <div @onclick="@(() => SelectRoomType("Content"))" class="@(Request.RoomType == "Content" ? "selected" : "")">
                <dt class="content">
                    <RoomIcon RoomType="Content" /> Content
                </dt>
                <dd>
                    Add any kind of content to Ibis and have it translated.
                </dd>
            </div>
        </dl>
    </div>*@
    <div class="room-name-wrapper">
        <p class="medium">Name Your Project</p>
        <input type="email" placeholder="Enter Room Name" @bind="Request.RoomName" />
    </div>

    <button class="create-room" @onclick="CreateRoom">Create Project</button>
</div>

@code {
    NewRoomRequest Request = new() { RoomType = "Content", Emails = new List<string>() };

    async Task CreateRoom()
    {
        var response = await Api.CreateRoomAsync(Request);
        Nav.NavigateTo($"/rooms/{response.RoomId}");
    }

    //void SelectRoomType(string type) => Request.RoomType = type;
}