
.delete-modal {
    button {

        &.primary {
            position: absolute;
            right: 24px;
            bottom: 24px;
        }

        &.secondary {
            margin-top: 30px;
            padding: 8px;
            border-radius: 6px;
        }
    }
}
