@import "../_Imports";

.room-icon {
    border-radius: 8px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 40px;
    margin-right: 9px;

    &-Chat {
        border: 1px solid $primary-300;
        background: $primary-100;
    }

    &-Blog {
        border: 1px solid $secondary-400;
        background: $secondary-200;
    }

    &-Other {
        border: 1px solid $purple;
        background: $primary-50;
    }

    &-Content {
        border: 1px solid $success-200;
        background: $success-50;
    }
}
