@import "_variables";

@import "Shared/MainLayout";
@import "Shared/MarketingLayout";
@import "Shared/NavMenu";
@import "Shared/Footer";
@import "Shared/Tooltip";
@import "Shared/DashboardLayout";

@import "Home/Landing";
@import "Home/Pricing";

@import "Sites/Index";
@import "Sites/AddModal";
@import "Sites/DeleteModal";
@import "Sites/EditModal";
@import "Sites/WebsiteCard";

@import "Pages/PageList";
@import "Pages/PageEditor";
@import "Pages/PageCard";
@import "Pages/PageSettingsModal";

@import "Users/Account";
@import "Users/AccountNav";
@import "Users/AddFundsModal";
@import "Users/Avatar";
@import "Users/AvatarList";
@import "Users/Notifications";

@import "Content/ContentEditor";
@import "Content/ContentList";
@import "Content/ContentTags";
@import "Content/Upload";

//Sans Serif Fonts
//Regular fonts

@font-face {
    font-family: 'CircularStd';
    font-weight: 400;
    src: url(wwwroot/fonts/CircularStd-Book.ttf) format('truetype');
}

@font-face {
    font-family: 'CircularStd';
    font-weight: 500;
    src: url(wwwroot/fonts/CircularStd-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'CircularStd';
    font-weight: 700;
    src: url(wwwroot/fonts/CircularStd-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'CircularStd';
    font-weight: 900;
    src: url(wwwroot/fonts/CircularStd-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'CircularStd';
    font-weight: 900;
    src: url(wwwroot/fonts/CircularStd-Black.ttf) format('truetype');
}

body {
    overflow-x: hidden !important;
    font-family: 'CircularStd', sans-serif;
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

#app {
    .loading-progress {
        position: relative;
        display: block;
        width: 8rem;
        height: 8rem;
        margin: 20vh auto 1rem auto;


        circle {
            fill: none;
            stroke: #e0e0e0;
            stroke-width: 0.6rem;
            transform-origin: 50% 50%;
            transform: rotate(-90deg);

            &:last-child {
                stroke: $purple-main;
                stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
                transition: stroke-dasharray 0.05s ease-in-out;
            }
        }
    }

    .loading-progress-text {
        position: absolute;
        text-align: center;
        inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
        color: $purple-main;

        &:after {
            content: var(--blazor-load-percentage-text, "Loading");
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 120%;
    font-family: 'CircularStd', sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 61px;
}

h2 {
    font-size: 49px;
}

h3 {
    font-size: 39px;
}

h4 {
    font-size: 39px;
}

h5 {
    font-size: 25px;
}

h6 {
    font-size: 20px;
    font-weight: 700;
}

p.large {
    font-size: 16px;
    line-height: 120%;
}

p.medium {
    font-size: 13px;
    line-height: 120%;
}

p.small {
    font-size: 10px;
    line-height: 120%;
}
    
:focus-visible, :focus {
    outline: 1px solid $primary-500;
}

::-webkit-scrollbar {
    width: 7px;

    &-track {
        background-color: transparent;
    }

    &-thumb {
        background: transparent;
        border: 1px solid $grey-400;
        border-radius: 7px;
    }
}