@import "../_variables";

.nav--landing {
    width: 100%;
    height: 100px;
    padding: 25px 94px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    background: $white;
    z-index: 500;

    .nav--left {
        h1 {
            margin: auto 0;
            font-size: 51px;
            line-height: 51px;
        }

        a {
            &:hover {
                cursor: pointer;
            }

            img {
                width: 177px;
                height: 51px;
                margin: auto 0;
            }
        }
    }

    .nav--right {
        display: flex;
        gap: 30px;

        a {
            margin: auto 0;
            color: $grey-500;
            font-family: 'CircularStd';
            font-weight: 400;
            font-size: 20px;
            line-height: 120%;
            transition: 250ms ease-in-out;

            &:hover {
                color: $dark-blue;
            }

            @media screen and (max-width: 480px) {
                display: none;
            }
        }

        button {
            padding: 13px 37px;
            background: $white;
            color: $dark-blue;
            border: 1px solid $dark-blue;
            border-radius: 8px;
            font-family: 'CircularStd';
            font-weight: 400;
            font-size: 20px;
            line-height: 120%;
            transition: 250ms ease-in-out;

            &:hover {
                background: $dark-blue;
                color: $white;
            }
        }
    }

    @media screen and (max-width: 850px) {
        height: 75px;
        padding: 10px 40px;

        .nav--left {
            h1 {
                font-size: 40px;
                line-height: 100%;
                margin: auto 0;
            }

            img {
                height: 40px;
                width: auto;
            }
        }

        .nav--right {
            a {
                font-size: 16px;
            }

            button {
                height: 40px;
                padding: 10px 14px;
                margin: auto 0;
                font-size: 16px;
                line-height: 100%;
            }
        }
    }

    @media screen and (max-width: 680px) {
        padding: 10px 25px;

        .nav--left {
            h1, a {
                font-size: 36px;
            }

            h1 {
                margin-top: 10px;
            }

            img {
                height: 36px !important;
                width: auto !important;
            }
        }
    }

    @media screen and (max-width: 530px) {
        padding: 10px 15px;

        .nav--right {
            gap: 15px;

            a {
                font-size: 14px;
            }

            button {
                height: 36px;
                padding: 8px 12px;
                font-size: 14px;
            }
        }
    }
}

.landing {
    width: 100%;
    height: calc(100vh - 100px);
    margin-top: 100px;
    background: $background;

    @media screen and (max-width: 850px) {
        height: calc(100vh - 75px);
        margin-top: 75px;
    }

    &--header {
        height: calc(100vh - 100px);
        overflow: hidden;
        position: relative;
        transition: 300ms ease-in-out;

        @media screen and (max-width: 850px) {
            height: calc(100vh - 75px);
        }

        &.hide {
            animation: fadeOutSlideUp 300ms ease-in-out;
            height: 0;
        }

        .header--container {
            width: 70%;
            max-width: 950px;
            position: absolute;
            top: 40%;
            left: 30%;
            transform: translate(-30%, -40%);
            z-index: 20;

            h2 {
                font-family: 'CircularStd', sans-serif;
                font-weight: 700;
                font-size: 80px;
                line-height: 120%;
                letter-spacing: 0px;
                text-align: left;
                color: $dark-blue;
            }

            .subheader {
                width: 75%;
                max-width: 747px;
                margin-top: 16px;
                font-family: 'CircularStd';
                font-weight: 400;
                font-size: 20px;
                line-height: 150%;
                letter-spacing: 0px;
                text-align: left;
                color: $dark-blue;
            }

            @media screen and (max-width: 1200px) {
                min-width: 500px;
                width: 70%;
                left: 40%;
                transform: translate(-40%, -40%);
            }

            @media screen and (max-width: 800px) {
                h2 {
                    font-size: 4.5rem;
                }
            }

            @media screen and (max-width: 650px) {
                width: 75%;
                min-width: 0;

                h2 {
                    width: 100%;
                    font-size: 4rem;
                }

                .subheader {
                    width: 100%;
                    font-size: 18px;
                }
            }

            @media screen and (max-width: 480px) {
                h2 {
                    font-size: 3rem;
                }

                .subheader {
                    font-size: 16px;
                }
            }
        }

        .background--container {
            width: 100%;
            height: 100vh;
            position: absolute;
            top: -100px;
            left: 0;
            overflow: hidden;
            z-index: 10;

            .background-image {
                background: url('images/Group 73.png') repeat-x;
                background-size: 2768px 1066px;
                width: 5356px;
                height: 1066px;
                animation: headerBackgroundSlide 173s linear infinite;
            }

            @media screen and (max-width: 850px) {
                top: -75px;
            }
        }

        .slide--container {
            width: 100%;
            position: absolute;
            bottom: 3%;
            z-index: 20;

            @media screen and (max-width: 800px) {
                bottom: 1%;
            }

            .slide-down {
                width: 150px;
                height: 63px;
                margin: 0 auto;

                &:hover {
                    animation: slideDownBounce 600ms ease-in-out infinite;
                    cursor: pointer;
                }
            }

            p {
                font-family: 'CircularStd';
                font-size: 12px;
                font-weight: 400;
                line-height: 15px;
                letter-spacing: 0px;
                text-align: center;
                color: $dark-blue;
            }

            img {
                display: block;
                margin: 0 auto;
                margin-top: 8px;
            }
        }
    }

    &--content {
        width: 100vw;
        height: calc(100vh - 100px);
        position: relative;
        display: none;

        &.show {
            display: block;
            animation: slideUpFadeIn 600ms ease-in-out;
        }

        .arrows--container {
            display: flex;
            justify-content: space-around;
            gap: calc(100vw * 0.4);
            width: 100vw;
            height: 26px;
            position: absolute;
            top: 50%;
            transform: translatexY(-50%);
            z-index: 40;

            @media screen and (max-width: 850px) {
                gap: calc(100vw * 0.6);
            }

            @media screen and (max-width: 480px) {
                top: 90%;
                margin-top: -4px;
            }

            img {
                width: 27px;
                height: 26px;

                &:hover {
                    cursor: pointer;
                }
            }

            .arrow-left:hover {
                animation: leftArrowBounce 600ms ease-in-out infinite;
            }

            .arrow-right:hover {
                animation: rightArrowBounce 600ms ease-in-out infinite;
            }
        }

        section {
            position: relative;
            display: block;
            width: 100vw;
            height: calc(100vh - 100px);

            .content {
                width: 50%;
                max-width: 645px;
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 20;
                animation: fadeIn 300ms ease-in-out;

                header {
                    max-width: 638px;

                    .subheader {
                        color: $purple-main;
                        font-size: 20px;
                        line-height: 120%;
                    }

                    h2 {
                        font-weight: 700;
                        font-size: 39px;
                        line-height: 150%;
                        color: $dark-blue;
                    }
                }

                p {
                    max-width: 638px;
                    margin-top: 28px;
                    font-size: 20px;
                    line-height: 150%;
                    color: $dark-blue;

                    img {
                        vertical-align: middle;
                        margin-bottom: 4px;
                    }
                }

                .ibis-logo--container {
                    max-width: 645px;
                    margin-top: 40px;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1.25fr;
                    gap: 1rem;
                    z-index: 30;

                    a {
                        height: 85px;
                        padding: 10px 15px;
                        background: $white;
                        border-radius: 24px;
                        text-align: center;
                    }

                    img {
                        height: 100%;
                        width: auto;
                    }
                }

                @media screen and (max-width: 1280px) {
                    .ibis-logo--container {
                        max-width: none;

                        a {
                            max-height: 65px;
                            padding: 0.5rem 1rem;
                            border-radius: 1rem;
                        }
                    }
                }

                @media screen and (max-width: 850px) {
                    width: 60%;
                    top: 20%;

                    .ibis-logo--container {
                        margin-top: 20px;

                        a {
                            max-height: 55px;
                            border-radius: 0.75rem;
                        }
                    }
                }

                @media screen and (max-width: 650px) {
                    header {
                        .subheader {
                            font-size: 20px;
                        }

                        h2 {
                            font-size: 36px;
                        }
                    }

                    p {
                        margin-top: 20px;
                        font-size: 18px;
                    }

                    .ibis-logo--container {
                        a {
                            max-height: 50px;
                        }
                    }
                }

                @media screen and (max-width: 600px) {
                    .ibis-logo--container {
                        gap: 0.5rem;

                        a {
                            max-height: 45px;
                        }
                    }
                }

                @media screen and (max-width: 480px) {
                    width: 75%;
                    top: 15%;

                    header {
                        p {
                            font-size: 16px;
                        }
                    }

                    .ibis-logo--container {
                        a {
                            max-height: 40px;
                        }
                    }
                }
            }
        }

        .section--background {
            width: 100%;
            height: calc(100vh - 100px);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            overflow: hidden;

            .blob-background {
                width: 150% !important;
                height: 200% !important;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                path {
                    animation: fadeChangeColor 300ms ease-in-out;
                }
            }

            @media screen and (max-width: 850px) {
                .blob-background {
                    width: 125% !important;
                    height: 200% !important;
                }
            }
        }

        @media screen and (max-width: 850px) {
            height: calc(100vh - 75px);

            section {
                height: calc(100vh - 75px);
            }

            .section--background {
                height: calc(100vh - 75px);
            }
        }

        .slide-indicators {
            width: 100vw;
            height: 10px;
            display: flex;
            justify-content: center;
            gap: 25px;
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 30;
            animation: fadeIn 300ms ease-out;

            @media screen and (max-width: 480px) {
                bottom: 8%;
            }

            div {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                transition: 300ms ease-in-out;

                &.block {
                    background: rgba(138, 91, 255, 1);
                }

                &.none {
                    background: rgba(138, 91, 255, 0.2);
                }
            }
        }
    }
}

@keyframes headerBackgroundSlide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-2768px);
    }
}

@keyframes slideDownBounce {
    0%, 100%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-10px);
    }
}

@keyframes leftArrowBounce {
    0%, 100% {
        transform: rotate(90deg) translateY(0);
    }

    50% {
        transform: rotate(90deg) translateY(10px);
    }
}

@keyframes rightArrowBounce {
    0%, 100% {
        transform: rotate(270deg) translateY(0);
    }

    50% {
        transform: rotate(270deg) translateY(10px);
    }
}

@keyframes fadeOutSlideUp {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-100vh);
    }
}

@keyframes slideUpFadeIn {
    0% {
        transform: translateY(-100vh);
        opacity: 0;
    }

    50% {
        transform: translateY(0);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeChangeColor {
    0% {
        fill: var(--colorStart);
    }

    100% {
        fill: var(--colorEnd);
    }
}