@page "/"
@attribute [AllowAnonymous]
@layout MarketingLayout

<nav class="nav--landing">
    <div class="nav--left">
        <h1>
            <a href="/"><img class="logo" src="images/IbisInk_logo-text.png" /></a>
        </h1>
    </div>
    <div class="nav--right">
        <a href="/pricing">Pricing</a>
        <button class="get-started">Get Started</button>
    </div>
</nav>
<div class="landing">
    <header class="landing--header">
        <div class="header--container">
            <h2>Share Your Ideas With The World As You Are.</h2>
            <p class="subheader">
                With ibis, you become part of a vibrant and diverse global community. 
                Share your ideas, engage in enriching conversations, and collaborate with like-minded individuals from different corners of the world.
            </p>
        </div>
        <div class="background--container">
            <div class="background-image"></div>
        </div>
        <div class="slide--container">
            <div class="slide-down">
                <p>Learn more about ibis</p>
                <img src="icons/arrow-down-icon.svg" />
            </div>
        </div>
    </header>
    @*<div class="landing--content">
        <div class="">
            <Blob Color="#CAEBFF" />
        </div>
    </div>*@
</div>
