@page "/websites/{WebsiteId}/{PageId}"
@layout DashboardLayout

<Breadcrumbs WebsiteId="@WebsiteId" WebsiteTitle="@Page.Name" PageTitle="@PageId" />

<div class="page-editor">
    <div class="page-editor--container">
        <header>
            <label>Page Title</label>
            <input type="text" value="@PageId" />
        </header>
        <div class="page-content">
            <ContentList Room=Page />
        </div>
    </div>
    <div class="page-editor--actions">
        <button class="back" @onclick="GoBack">Back</button>
        <div class="actions">
            <button class="page-settings" @onclick="OpenPageSettings">Settings</button>
            <button class="save-page">Save</button>
        </div>
    </div>
</div>

@code {
    public GetRoomResponse? Page { get; set; }
    [Parameter] public string WebsiteId { get; set; } = null!;
    [Parameter] public string PageId { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        Page = await Api.JoinRoomAsync(new JoinRoomRequest { RoomId = WebsiteId }); 
    }

    void GoBack()
    {
        Nav.NavigateTo($"/websites/{WebsiteId}");
    }

    void OpenPageSettings()
    {
        Modal.Show<PageSettingsModal>("Settings");
    }
}