@page "/content/{RoomId}"
@layout DashboardLayout

<div class="page-editor">
    <header>
        <div class="header-left">
            <div class="back-btn">
                <button @onclick="GoBack" class="back">
                    <ArrowCurveLeftIcon />
                    Back to @Page.Name
                </button>
            </div>
            <div class="header-info">
                <img src="/images/Rectangle 592.png" />
                <h2>@Page.Name/@RoomId</h2>
                @* <Breadcrumbs WebsiteId="Test Website" WebsiteTitle="@Page.Name" PageTitle="@RoomId" /> *@
                <button class="more"><MoreIcon /></button>
            </div>
        </div>
        <div class="header-right">
            <label class="toggle-switch">
                <input type="checkbox" id="toggle" />
                <span class="slider"></span>
            </label>
            <button class="preview-btn">Preview</button>
            <button class="publish-btn">Publish</button>
        </div>
    </header>
    <div class="page-content">
        <ContentList Page=Page />
    </div>
</div>

@code {
    public GetRoomResponse? Page { get; set; }
    // [Parameter] public string WebsiteId { get; set; } = null!;
    [Parameter] public string RoomId { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        Page = await Api.JoinRoomAsync(new JoinRoomRequest { RoomId = RoomId });
    }

    void GoBack()
    {
        Nav.NavigateTo("/dashboard");
    }

    // void OpenPageSettings()
    // {
    //     Modal.Show<PageSettingsModal>("Settings");
    // }
}