@import "../_variables";

.page-card {
    position: relative;
    padding: 16px;
    background: $white;
    border: 1px solid $grey-200;
    border-radius: 8px;
    font-family: 'CircularStd';
    font-weight: 400;
    line-height: 120%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &:last-of-type {
        margin-bottom: 0;
    }


    a {
        display: flex;
        flex-direction: column;

        &:focus {
            outline: none;
        }
    }

    .page-card-bottom {
        display: flex;
        align-items: flex-start;
        gap: 18px;
        margin-top: 16px;

        h3 {
            margin-bottom: 2px;
            font-size: 18px;
            max-width: 281px;
            overflow-wrap: break-word;
            overflow: hidden;

            a {
                text-decoration: none;
            }

            &:hover {
                cursor: pointer;
            }
        }

        p {
            font-size: 13px;
        }

        .page-info {
            max-width: 281px;
        }

        .actions {
            position: absolute;
            right: 24px;
            display: flex;
            font-size: 13px;
            line-height: 120%;
            color: $grey-500;

            p {
                margin-right: 12px;
            }

            button {
                margin-top: -3px;
                padding: 6px;
                border-radius: 8px;
                background: transparent;
                transition: 250ms ease-in-out;

                &:first-of-type {
                    margin-right: 3px;
                }

                svg {
                    width: 16px;
                    height: 16px;

                    path {
                        stroke: $grey-500;
                    }
                }

                &:hover {
                    border: none;

                    svg path {
                        stroke: $secondary-900;
                    }
                }

                &:active {
                    svg path {
                        stroke: $secondary-500;
                    }
                }
            }
        }
    }
}
