<div class="page-card">
    <div class="card-content">
        <div class="page-type page-type--@Type">@Type</div>
        @if (Endpoint != null)
        {
            string link = "/content/" + RoomId;
            <a href="@link">
                <h3>@Title @* (@Endpoint) *@</h3>
            </a>
        } else
        {
            <h3>@Title @* (@Endpoint) *@</h3>
        }
        <p class="date">Last edited: @DateModified</p>
    </div>
    <div class="actions">
        <button class="link"><LinkIcon /></button>
        <button class="more"><MoreIcon /></button>
    </div>
</div>

@code {
    [Parameter] public string? RoomId { get; set; }
    [Parameter] public string? Type { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? Endpoint { get; set; }
    [Parameter] public DateTimeOffset? DateModified { get; set; }
}
