@page "/websites/{WebsiteId}/{PageId}"
@layout DashboardLayout
@using Ibis.Ink.Components;

<Breadcrumbs WebsiteId="@WebsiteId" WebsiteTitle="@WebsiteTitle" PageTitle="@PageId" />
<div class="page-editor">
    <div class="page-editor--container">
        <header>
            <label>Page Title</label>
            <input type="text" value="@PageId" />
        </header>
        <div class="page-content">
            <MessageList Room=Room />
        </div>
    </div>
    <div class="page-editor--actions">
        <button class="back" @onclick="GoBack">Back</button>
        <div class="actions">
            <button class="page-settings" @onclick="OpenPageSettings">Settings</button>
            <button class="save-page">Save</button>
        </div>
    </div>
</div>

@code {
    [Parameter] public GetRoomResponse? Room { get; set; }
    [Parameter] public string? WebsiteId { get; set; }
    [Parameter] public string? WebsiteTitle { get; set; }
    [Parameter] public string? PageId { get; set; }
    [Parameter] public string? PageTitle { get; set; }

    void GoBack()
    {
        Nav.NavigateTo($"/websites/{WebsiteId}");
    }

    void OpenPageSettings()
    {
        Modal.Show<PageSettingsModal>("Settings");
    }
}