@import "../_variables";

.page-metadata-settings--modal {
    position: relative;
    padding: 8px;

    header {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;

        .header-title-and-button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 8px;

            h5 {
                font-size: 20px;
                font-weight: 500;
                line-height: 120%;
                color: #28303B;
            }

            button {
                background: none;
                width: 24px;
                height: 24px;
                padding: 0;
                align-items: center;
                display: flex;
                justify-content: center;

                > svg {
                    width: 10px;
                    height: 10px;
                }

                &:hover {
                    border-radius: 8px;
                    border: 1px solid #E5E7EA;
                }

                &:active {
                    border-radius: 8px;
                    border: 1px solid #C7C9D1;
                    background: #E5E7EA;
                }
            }
        }

        p {
            color: #525963;
            font-size: 16px;
            font-weight: 400;
        }
    }

    .metadata-search--wrapper {
        display: flex;
        margin-bottom: 24px;

        .metadata-search {
            width: 100%;
            padding: 16px;
            border: 1px solid $grey-300;
            border-radius: 4px 0px 0px 4px;

            img {
                margin-right: 8px;
                width: 16px;
                height: auto;
                vertical-align: middle;
            }

            input {
                width: 90%;
                border: none;
                background: $white;
                color: $grey-500;
            }
        }

        .add-metadata-btn {
            border: 1px solid $grey-300;
            border-radius: 0px 4px 4px 0px;
            border-left: none;
            background: $white;
            color: $grey-500;
            font-weight: normal;
            transition: .2s ease-in-out;

            &:hover {
                background: $secondary-200;
            }

            &:active {
                background: $white;
            }
        }
    }

    .modal-content {
        position: relative;
        height: 240px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .empty-metadata {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $grey-500;
            font-size: 15px;
            line-height: 120%;
        }

        .metadata-card {
            display: flex;
            justify-content: space-between;
            gap: 8px;

            h6 {
                width: 100%;
                padding: 16px;
                border: 1px solid $grey-300;
                border-radius: 4px;
                color: $grey-500;
                font-size: 16px;
                font-weight: normal;
            }

            .delete-data-btn {
                width: 56px;
                border: 1px solid $grey-300;
                border-radius: 4px;
                background: $white;
                transition: .2s ease-in-out;

                img {
                    width: 16px;
                    height: auto;

                    path {
                        fill: $grey-300;
                    }
                }

                &:hover {
                    background: $secondary-200;
                }

                &:active {
                    background: $white;
                }
            }
        }
    }

    .page-metadata-buttons--wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;

        button {
            border-radius: 8px;
            padding: 10px 14px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            transition: .2s ease-in-out;

            &.back-btn {
                background: $white;
                border: 1px solid $white;
                color: $grey-500;

                &:hover {
                    border: 1px solid $grey-500;
                }

                &:active {
                    background: $grey-200;
                }
            }

            &.link-btn {
                background: #3D67FF;
                border: 1px solid #5B9DFF;

                &:hover {
                    background: $secondary-300;
                    color: $grey-500;
                }

                &:active {
                    background: #3D67FF;
                    color: $white;
                }
            }
        }
    }
}