<div class="page-card">
    @{
        string link = string.Empty;
        if (Endpoint != null)
        {
            link = "/content/" + RoomId;
        }
    }
    <a href="@link">

        @if (!string.IsNullOrEmpty(ImageUrl))
        {
            <img src="@ImageUrl" />
        }
        else
        {
            <img src="/images/Rectangle 592.png" />
        }

        <div class="page-card-bottom">
            <div class="page-info">
                @if (Endpoint != null)
                {
                    <h3>@Title (@Endpoint)</h3>
                }
                else
                {
                    <h3>@Title @* (@Endpoint) *@</h3>
                }
                <p class="date">Last edited: @DateModified.Value.ToString("dd MMMM, yyyy")</p>
            </div>
            <div class="actions">
                <button class="link"><StarIcon /></button>
                <button class="more"><MoreIcon /></button>
            </div>
        </div>
    </a>
</div>

@code {
    [Parameter] public string? RoomId { get; set; }
    [Parameter] public string? Type { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? Endpoint { get; set; }
    [Parameter] public DateTimeOffset? DateModified { get; set; }

    private string ImageUrl { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(async () => await LoadImageUrl());
    }

    async Task LoadImageUrl()
    {   
        ImageUrl = await Api.GetFileFromStorageAsync(new GetFileFromStorageRequest { RoomId = RoomId });
    }
}