@import "../_variables";

body {
    background: #FFFFFF;
}

.page-editor {
    .notification-bar {
        width: calc(100% - 80px);
        top: 80px;
        left: 80px;
    }

    header {
        display: flex;
        align-items: center;
        gap: 12px;
        justify-content: space-between;
        padding: 4px 8px;
        border-bottom: 1px solid #F3F5F6;

        .header-left {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            .back-btn {
                display: flex;
                margin-bottom: 12px;

                button {
                    background: none;
                    color: #5F5F5F;
                    font-size: 13px;
                    font-weight: 400;
                    padding: 0;
                }
            }

            .header-info {
                display: flex;
                gap: 8px;
                align-items: center;

                img {
                    width: 28px;
                    height: 28px;
                    border-radius: 8px;
                }

                h2 {
                    font-size: 20px;
                    font-weight: 400;
                    color: #050506;
                }

                button {
                    background: none;
                    padding: 0;
                }
            }
        }

        .header-right {
            display: flex;
            align-items: center;
            gap: 10px;

            .preview-btn {
                padding: 10px 14px;
                border-radius: 8px;
                border: 1px solid #5B9DFF;
                background: #5B7FFF;
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                font-size: 15px;
                font-weight: 400;

                &:hover {
                    background: #80CAFF;
                }

                &:active {
                    background: #BDE3FF;
                    color: #525963;
                }
            }

            .publish-btn {
                padding: 10px 14px;
                border-radius: 8px;
                border: 1px solid #A378FF;
                background: #905BFF;
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                font-size: 15px;
                font-weight: 400;

                &:hover {
                    background: #D1B0F7;
                }

                &:active {
                    background: #E4CCFF;
                    color: #525963;
                }
            }
        }
    }

    .main-page-editor-content {
        display: flex;
        gap: 20px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 78%;
            width: 1px;
            background-color: #E5E7EA;
            height: 100%;
        }

        .page-content {
            overflow-x: hidden;
            margin-top: 20px;
            gap: 8px;
            display: flex;
            width: 78%;

            &::-webkit-scrollbar {
                width: 3px;

                &-track {
                    margin: 12px 0;
                    background-color: transparent;
                }

                &-thumb {
                    background: $primary-500;
                    border: none;
                    border-radius: 3px;
                }
            }

            &.expanded {
                width: 65%;
            }
        }
    }

    .message-editor {
        width: 22%;
        padding: 20px;
        height: 100%;

        &.expanded {
            width: 35%;
        }
    }
}
