<div class="page-card">
    <img src="/images/Rectangle 592.png" />
    <div class="page-card-bottom">
        <div class="page-info">
            @if (Endpoint != null)
            {
                string link = "/content/" + RoomId;
                <a href="@link">
                    <h3>@Title (@Endpoint)</h3>
                </a>
            }
            else
            {
                <h3>@Title @* (@Endpoint) *@</h3>
            }
            <p class="date">Last edited: @DateModified.Value.ToString("dd MMMM, yyyy")</p>
        </div>
        <div class="actions">
            <button class="link"><StarIcon /></button>
            <button class="more"><MoreIcon /></button>
        </div>
    </div>
</div>

@code {
    [Parameter] public string? RoomId { get; set; }
    [Parameter] public string? Type { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? Endpoint { get; set; }
    [Parameter] public DateTimeOffset? DateModified { get; set; }
}
