<IbisContent ChannelId="testpage" RoomId="44ea18be-31cb-454e-a6ac-6c5425f8970f">
    <div class="test-content">
        <div class="page-hero">
            <header class="page-header">
                <h1>Page Header</h1>
                <p>Page Description</p>
            </header>
        </div>
        <section>
            <header class="section-header">
                <h2>Section Header</h2>
                <p>Section Description</p>
            </header>
            <div class="section-content">
                <p>Section Paragraph</p>
            </div>
        </section>
        <section>
            <header class="section-header">
                <h2>Section Header</h2>
                <p>Section Description</p>
            </header>
            <div class="section-content">
                <p>Section Paragraph</p>
            </div>
        </section>
    </div>
</IbisContent>

@code {
    [Parameter] public string? RoomId { get; set; }
}
