@page "/dashboard"
@layout DashboardLayout
@attribute [Authorize]

<div class="websites">
    <header class="page--header">
        <h2>Your Websites</h2>
        <div class="search--container">
            <div class="searchbar">
                <SearchIcon />
                <input type="text" placeholder="Search..." />
            </div>
            <div class="sort">
                <select>
                    <option>Sort</option>
                </select>
            </div>
        </div>
    </header>
    <div class="websites-list">
        @foreach (var site in Sites)
        {
            <WebsiteCard Site="site" />
        }
    </div>
</div>

@inject Sparc.Blossom.Authentication.BlossomAuthenticationStateProvider Auth
@code {
    List<GetRoomResponse> Sites = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Sites = (await Api.GetRoomsAsync("ink")).HostedRooms.ToList();
        }
        catch (ApiException ex) when (ex.StatusCode == 401)
        {
            await Auth.LogoutAsync();
            Nav.NavigateTo("/dashboard", true);
        }
    }
}