@page "/dashboard"
@using Ibis.Ink.Components
@layout DashboardLayout
@attribute [Authorize]

<div class="websites">
    <header class="page--header">
        <h2>Your Websites</h2>
        <div class="search--container">
            <div class="searchbar">
                <SearchIcon />
                <input type="text" placeholder="Search..." />
            </div>
            <div class="sort">
                <select>
                    <option>Sort</option>
                </select>
            </div>
        </div>
    </header>
    <div class="websites-list">
        <WebsiteCard Id="Sparc" Title="Sparc (sparc.coop)" NumContent="3" ImagePath="images/Sparc-image.png" DateModified="DateTime.Now" />
        <WebsiteCard Id="Blossom" Title="Blossom" NumContent="2" ImagePath="images/Blossom-image.png" DateModified="DateTime.Now" />
    </div>
</div>

@inject Sparc.Blossom.Authentication.BlossomAuthenticationStateProvider Auth
@code {
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var ticks = await Api.GetUserBalanceAsync();
        }
        catch (ApiException ex) when (ex.StatusCode == 401)
        {
            await Auth.LogoutAsync();
            Nav.NavigateTo("/dashboard", true);
        }
    }
}