@import "../_Imports";

.websites {
    margin-top: 49px;

    .page--header {
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;

        h2 {
            font-family: 'CircularStd';
            font-weight: 400;
            font-size: 39px;
            line-height: 120%;
        }

        .search--container {
            display: flex;
            gap: 8px;

            .searchbar {
                width: 364px;
                height: 40px;
                position: relative;

                input {
                    width: 100%;
                    padding: 10.5px 14px 10.5px 42px;
                    border-radius: 8px;
                }

                svg {
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    top: 12.5px;
                    left: 16.5px;
                    stroke: $grey-500;
                }
            }

            .sort {
                border: none;

                select {
                    padding: 9.5px 34px 9.5px 16px;
                    border: none;
                    background: url(icons/expand-icon.svg) no-repeat right;
                    background-position-x: 58px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .websites-list {
        .website-card {
            margin-bottom: 16px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}