@page "/account"
@layout DashLayout

<AccountNav/>
<div class="account">
	<div class="account--header">
		<h3>Personal info</h3>
		<p>Update your photo and personal details here.</p>
	</div>

	<div class="account--card">
		@if(User != null)
		{
			<div class="section">
				<div>
					<label>Pronouns</label>
					<select @bind="User.Pronouns">
						<option disabled selected>Select Pronoun</option>
						<option value="She/Her">She/Her</option>
						<option value="He/Him">He/Him</option>
						<option value="They/Them">They/Them</option>
					</select>
				</div>
				<div class="inline">
					<div>
						<label>First name</label>
						<input @bind="FirstName"/>
					</div>
					<div>
						<label>Last name</label>
						<input @bind="LastName"/>
					</div>
				</div>
				<div class="email">
					<img src="/icons/email.png"/>
					<label>Email address</label>
					<input @bind="User.Email"/>
				</div>
				<div class="photo-upload">
					@if(User.ProfileImg != null)
					{
						<img src="@User.ProfileImg" />
					} else {
						<i class="material-icons">account_circle</i>  
					}
					<InputFile OnChange="OnInputFileChange" />
					<img class="upload-icon" src="/icons/upload.png" />
					<p>
						<span>Click to upload</span> or drag and drop
						<br/>
						SVG, PNG, or JPG (max. 800x400px)
					</p>
				</div>
			</div>
			<div class="divider"></div>
			<div class="section">
				<button class="cancel">Cancel</button>
				<button @onclick="UpdateUser" class="save">Save Changes</button>
			</div>
		}
	</div>
	<div class="account--header">
	<h3>Additional info</h3>
	<p>Update your additional details here.</p>
	</div>
	<div class="account--card last">
		@if(User != null)
		{
			<div class="section">
				<label>Username</label>
				<input placeholder="Username"/>
				<label>Website</label>
				<input placeholder="www.website.com"/>
				<label>Description</label>
				<textarea @bind="User.Description" maxlength="1000"></textarea>
				<label>Country</label>
				<input placeholder="Country"/>
				<label>Timezone</label>
				<input placeholder="EST"/>
			</div>
			<div class="divider"></div>
			<div class="section">
				<button class="cancel">Cancel</button>
				<button @onclick="UpdateUser" class="save">Save Changes</button>
			</div>
		}
	</div>
</div>

@inject IJSRuntime JS

@code {
	private GetUserResponse? User;
	public string FirstName = "First Name";
	public string LastName = "Last Name";
	public string Email = "Email";
	//public string Description = "";
	//public string Pronouns = "";
	//public string Username 
	public string Website = "";


	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		var user = authState.User;
		if (user.Identity!.IsAuthenticated)
		{
			User = await Api.GetUserAsync();

			if (User.FullName != null)
			{
				FirstName = User.FullName.Split(' ')[0];
				LastName = User.FullName.Split(' ')[1];
			}
		}
	}

	private async void UpdateUser() => await Api.UpdateUserAsync(new UpdateUserRequest { 
		UserId = User!.Id, 
		FullName = FirstName + " " + LastName , 
		LanguageId = User.Language,
		Description = User.Description,
		Pronouns = User.Pronouns

	});

	private async Task OnInputFileChange(InputFileChangeEventArgs e)
	{
		Stream stream = e.File.OpenReadStream(maxAllowedSize: 2000000);
		var path = e.File.Name;
		MemoryStream ms = new MemoryStream();
		await stream.CopyToAsync(ms);
		var bytes = ms.ToArray();
		stream.Close();

		User!.ProfileImg = await Api.UserPhotoUploadAsync(new UploadUserPhotoRequest { UserId = User.Id, FileName = path, Bytes = bytes });
	}
}