@import "../_variables.scss";

.avatar {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    max-height: 220px;
    border-radius: 12px;
    container: avatar / size;

    svg {
        max-height: 100%;

        text {
            fill: white;
            font-weight: 600;
            font-family: 'CircularStd';
        }
    }

    &.emoji {
        svg {
            circle {
                display: none;
            }

            text {
                font-family: 'Noto Emoji';
            }
        }
    }

    figcaption {
        font-size: 13px;
        display: none;
        font-weight: 500;
        line-height: 120%;

        aside {
            display: none;
        }

        @container (min-width: 100px) {
            display: block;
        }

        aside {
            font-weight: 400;
            font-size: 12px;
        }

        @container (min-height: 100px) {
            position: absolute;
            bottom: 12px;
            left: 12px;
            font-size: 20px;
            color: white !important;

            aside {
                display: block;
            }
        }
    }
}