@page "/dialects"
@layout DashLayout
@attribute [Authorize]

<AccountNav/>
<div class="account">
	<div class="account--header">
		<h3>Dialect Profiles</h3>
		<p>Create & Edit your dialect presets.</p>
	</div>
	<div class="account--card">

	</div>
</div>

@code {
	private UserSummary? User;

	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		var user = authState.User;
		if(user.Identity!.IsAuthenticated)
		{
			User = await Api.GetUserAsync();
		}
	}
}