<button @onclick="OpenModal" class="user-invite">
    <InviteIcon />
    Invite People
</button>

@code {
    [Parameter] public GetRoomResponse Room { get; set; } = null!;

    void OpenModal()
    {
        var parameters = new ModalParameters();
        parameters.Add("Room", Room);
        Modal.Show<InviteModal>("Invite People", parameters);
    }
}