@import "../_variables";

.add-site-modal {
    position: relative;
    padding: 8px;

    header {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;

        .header-title-and-button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 8px;

            h5 {
                font-size: 20px;
                font-weight: 500;
                line-height: 120%;
                color: #28303B;
            }

            button {
                background: none;
                width: 24px;
                height: 24px;
                padding: 0;
                align-items: center;
                display: flex;
                justify-content: center;

                > svg {
                    width: 10px;
                    height: 10px;
                }

                &:hover {
                    border-radius: 8px;
                    border: 1px solid #E5E7EA;
                }

                &:active {
                    border-radius: 8px;
                    border: 1px solid #C7C9D1;
                    background: #E5E7EA;
                }
            }

            .header-title-with-icon {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }

        p {
            color: #525963;
            font-size: 16px;
            font-weight: 400;
        }
    }

    .website-name-wrapper {
        margin-bottom: 8px;
    }

    .website-link-wrapper {
        margin-bottom: 6px;
    }

    .website-name-wrapper, .website-link-wrapper {

        p.medium {
            margin-bottom: 6px;
            font-weight: 500;
        }

        label {
            margin-bottom: 6px;
            color: #28303B;
        }

        input {
            border: 1px solid #C7C9D1;
            border-radius: 8px;
            padding: 10px 14px;
            font-size: 16px;
            line-height: 120%;
            width: 100%;
        }

        ::placeholder {
            color: #858C96;
        }
    }

    input[type="checkbox"] {
        height: 16px;
        width: 16px;
        margin-right: 10px;
        border: 1px solid #858C96;
        border-radius: 4px;
        position: relative;
    }

    .manual-input-wrapper {
        display: flex;
        margin-bottom: 24px;

        label {
            font-size: 13px;
            font-weight: 400;
            color: #858C96;
        }

        input[type="checkbox"] {
            margin-top: 3px;
        }
    }

    .close-add-btns {
        display: flex;
        gap: 8px;
        justify-content: space-between;

        .close-button {
            background: transparent;
            color: #525963;
            padding: 10px 14px;
            border-radius: 8px;
            border: 1px solid transparent;
            font-size: 15px;
            font-weight: 500;
            line-height: 120%;
            width: 80px;
            text-align: center;

            &:hover {
                border: 1px solid #E5E7EA;
            }

            &:active {
                border: 1px solid #C7C9D1;
                background: #E5E7EA;
            }
        }

        .add-button {
            padding: 10px 14px;
            border-radius: 8px;
            border: 1px solid #5B9DFF;
            background: #5B7FFF;
            width: 107px;
            text-align: center;
            font-size: 15px;
            font-weight: 500;
            line-height: 120%;

            &:hover {
                border-radius: 8px;
                border: 1px solid #5B9DFF;
                background: #5B9DFF;
            }

            &:active {
                border-radius: 8px;
                border: 1px solid #3D65F2;
                background: #3D65F2;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04) inset;
            }

            &:focus {
                outline: none;
                box-shadow: none
            }
        }
    }
}
