@import "../_variables";

.websites {
    margin-top: 49px;

    .page--header {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;

        h2 {
            font-family: 'CircularStd';
            font-weight: 400;
            font-size: 20px;
            line-height: 120%;
        }

        .header-title {
            display: flex;
            margin-bottom: 28px;
            justify-content: space-between;

            .title-img {
                display: flex;
                align-items: center;
                gap: 4px;
            }

            p {
                font-size: 13px;
                color: #A7A7A7;
            }

            button {
                height: 44px;
                font-size: 15px;
                font-weight: 400;
                border-radius: 8px;
                border: 1px solid #5B9DFF;
                background: #5B7FFF;
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                padding: 10px 14px;
                align-items: center;

                svg {
                    width: 10px;
                    height: 10px;
                }

                &:hover {
                    background: #80CAFF;
                }

                &:active {
                    background: #BDE3FF;
                    color: #525963;
                }
            }
        }

        .search--container {
            display: flex;
            gap: 8px;
            justify-content: space-between;
            padding: 16px;
            border-radius: 8px;
            background: #F3F5F6;

            .searchbar {
                width: 100%;
                max-width: 581px;
                height: 44px;
                position: relative;

                input {
                    width: 100%;
                    background: white;
                    padding: 10px 14px;
                    border-radius: 8px;
                    border: 1px solid var(--grey-200);
                    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                }

                svg {
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    top: 12.5px;
                    right: 16.5px;
                    stroke: #94989E;
                }

                ::placeholder {
                    color: #939393;
                    font-size: 15px;
                }
            }

            .search--container-right {
                display: flex;
                font-size: 15px;
                gap: 8px;
                align-items: center;

                .sort, .favorite {
                    border: none;
                    padding: 10px 14px;

                    label {
                        display: flex;
                        align-items: center;

                        input {
                            display: none;
                        }

                        svg {
                            position: relative;
                            fill: none;
                            top: 0;
                            margin-right: 4px;
                            width: 24px;
                            height: 24px;
                            margin-top: 0;
                        }
                    }



                    select {
                        padding: 9.5px 34px 9.5px 16px;
                        border: none;
                        background: url(icons/expand-icon.svg) no-repeat right;
                        background-position-x: 58px;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .websites-list {
        .website-card {
            margin-bottom: 16px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .pages-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(376px, 1fr));
        gap: 20px;
    }
}
