@inherits SparcModal

<div class="open-document-container">
    <header>
        <div class="header-title-and-button">
            <div class="header-title-with-icon">
                <FileSettingIcon />
                <h5>Open document for IDE</h5>
            </div>
            <button class="close-button" type="button" aria-label="Close" @onclick="Cancel">
                <CloseIcon />
            </button>
        </div>
        <p class="medium">Porem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio.</p>
    </header>

    <div class="open-document-content">
        <p class="medium">Learn how to use Ibis Ink in your IDE clicking <a href="/add-documentation" target="_blank">here</a>.</p>
    </div>

    <div class="close-add-btns">
        <button class="close-button" type="button" aria-label="Close" @onclick="GoBack">Back</button>
    </div>
</div>

@code {
    [Parameter] public EventCallback<bool> OnBack { get; set; }

    private async Task GoBack()
    {
        await OnBack.InvokeAsync(true);
    }
}