<div class="website-card">
    <div class="website-card--container">
        <div class="card-content">
            <header>
                <h3><a href="/websites/@Site.RoomId">@Site.Name</a></h3>
                <p class="subheader assosciated-contents">
                    Associated contents: 3
                </p>
            </header>
            <div class="users">
                <img src="images/Avatar.svg" />
            </div>
        </div>
        <div class="actions">
            <p class="last-modified">Last edited: @Site.LastActiveDate?.ToString("MMMM dd, yyyy")</p>
            <button class="link">
                <LinkIcon />
            </button>
            <button class="more">
                <MoreIcon />
            </button>
        </div>
    </div>
</div>

@code {
    [Parameter] public GetRoomResponse Site { get; set; } = null!;
}
