@import "../_Imports";

.message-card {
    padding: 16px;
    margin: 0 8px;
    border-radius: 12px;
    margin-bottom: 16px;
    position: relative;
    animation: new-message-card-slide-up 0.2s;
    color: $grey-900;

    &-deleted {
        display: none;
    }

    p {
        color: $grey-900;
    }

    .ibis-widget, .actions {
        position: absolute;
        top: 0;
        right: 10px;
        opacity: 0.15;
        transition: opacity 0.2s ease-in-out;

        button, .ibis-audio {
            background: transparent;
            padding-left: 4px;
            padding-right: 4px;
        }

        figure {
            display: none;
        }

        button {
            border-radius: 8px;
        }

        button:hover {
            background-color: $secondary-200;
        }
    }

    .actions {
        display: flex;
        align-items: center;
        margin-top: 10px;
        right: 70px;
        i {
            font-size: 18px;
            vertical-align: middle;
            color: $grey-200;
        }
    }

    &:hover, &:focus-within {
        .ibis-widget, .actions {
            opacity: 1;
        }
    }

    > p, span {
        font-size: 18px;
        font-weight: 400;
        color: $grey-900;
    }

    > p + p {
        margin-top: 12px;
    }

    .avatar {
        height: 24px;
        width: 200px;
        justify-content: flex-start;
        gap: 6px;
    }

    .message-audio {
        position: absolute;
        top: 16px;
        right: 16px;
    }
}

.subroom {
    margin-left: 40px;
}

@keyframes new-message-card-slide-up {
    from {
        opacity: 0;
        transform: translateY(50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
