@import "../_variables.scss";

.new-message {
    position: absolute;
    width: calc(100% - 32px);
    bottom: 24px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    border: 1px solid $light-gray;
    background: #FFFFFF;
    transition: transform 0.15s ease-out;
    z-index: 8;

    &.submitted {
        transform: translateY(-20%);
        opacity: 0;
        transition: transform 0.15s ease-out, opacity 0.15s ease-out;
    }

    > .avatar {
        position: absolute;
        top: 16px;
        left: 16px;
        height: 32px;
        width: 32px;
        justify-content: flex-start;
        background: transparent !important;
    }

    > button {
        position: absolute;
        right: 24px;
        top: 20px;
        padding: 7px 12px 6px 12px;
        font-weight: 400;
        background: $secondary-900;
        border-radius: 8px;
        color: $white;
        align-items: center;
        height: 32px;
        line-height: 20px;
        z-index: 2;

        &:hover {
            background: $secondary-800;
        }

        img, svg {
            margin-right: 8px;
        }

        &.cancel {
            right: 120px;
            background: transparent;
            color: $secondary-900;
            border: 1px solid $secondary-900;
        }
    }


    textarea {
        height: 105px;
        padding: 24px 150px 24px 60px;
        width: 100%;
        max-width: 100%;
        resize: none;
        z-index: 2;
        border: 0;

        &::placeholder {
            color: $grey-500;
        }

        &[disabled] {
            opacity: 0.5;
        }
    }

    &.editing {
        textarea {
            padding-right: 200px;
        }
    }

    > footer {
        border-top: 1px solid $light-gray;
        box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
        padding: 16px;
        border-radius: 0 0 16px 16px;
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        button {
            z-index: 3;
        }
    }
}
