@keyframes show {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block; }
  100% {
    display: block;
    opacity: 1; } }

@keyframes hide {
  0% {
    display: block;
    opacity: 1; }
  99% {
    display: block; }
  100% {
    display: none;
    opacity: 0; } }

.blazor-modal-container {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 40;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh; }

.blazor-modal-overlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 41;
  background-color: rgba(0, 0, 0, 0.5); }

.blazor-modal-active {
  display: flex;
  animation: show 500ms linear;
  animation-fill-mode: forwards; }

.blazor-modal {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #fff;
  padding: 1.5rem;
  z-index: 42;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25); }

.blazor-modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 2rem 0; }

.blazor-modal-title {
  margin-bottom: 0; }

.blazor-modal-close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold; }

.blazor-toast-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 51; }

.position-topleft,
.position-topright,
.position-topcenter {
  top: 0; }

.position-bottomleft,
.position-bottomright,
.position-bottomcenter {
  bottom: 0; }

.blazor-toast {
  display: flex;
  flex-direction: row;
  animation: fadein 1.5s;
  margin-bottom: 1rem;
  padding: 1rem 1.25rem;
  color: #fff;
  width: 100vw;
  font-family: monospace;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 40px; }

.blazor-toast-info {
  background-color: #17a2b8; }

.blazor-toast-success {
  background-color: #28a745; }

.blazor-toast-warning {
  background-color: #e0a800; }

.blazor-toast-error {
  background-color: #dc3545; }

.blazor-toast-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  font-size: 2.5rem; }

.blazor-toast-body {
  display: flex;
  flex-direction: column;
  flex: 1; }

.blazor-toast-body .blazor-toast-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.blazor-toast-body .blazor-toast-header h5 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 0;
  line-height: 32px; }

.blazor-toast-body .blazor-toast-header button {
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.25rem; }

.blazor-toast-body p {
  margin-bottom: 0;
  font-size: 1rem; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media (min-width: 576px) {
  .position-topleft {
    top: 2rem;
    left: 2rem; }
  .position-topright {
    top: 2rem;
    right: 2rem; }
  .position-topcenter {
    top: 2rem;
    left: 50%;
    margin-left: -15rem; }
  .position-bottomleft {
    bottom: 2rem;
    left: 2rem; }
  .position-bottomright {
    bottom: 2rem;
    right: 2rem; }
  .position-bottomcenter {
    bottom: 2rem;
    left: 50%;
    margin-left: -15rem; }
  .blazor-toast {
    width: 30rem;
    border-radius: .25rem; } }
