@inherits LayoutComponentBase

<PageTitle>Ibis | Come as you are</PageTitle>
<div class="landing--nav desktop">
    <a href="/" tabindex="-1"><img alt="Ibis" class="logo" src="/images/logo_2x.png" /></a>
    <div class="menu">
        <a href="/pricing" class="pricing">Pricing</a>
        <a href="/rooms" class="get-started">Get Started</a>
    </div>
</div>
<div class="landing--nav mobile">
    <a href="/"><img class="logo" src="/images/logo_2x.png" alt="Ibis" /></a>
    <input id="menuToggle" type="checkbox" class="menu--toggle">
    <label for="menuToggle" class="menu--toggle">
        <span><i class="material-icons">menu</i></span>
        <span><i class="material-icons">close</i></span>
    </label>
    <div class="menu">
        <ul>
            <li><button @onclick="SignIn" class="get-started">Get Started</button></li>
            <li><a href="/pricing">Pricing</a></li>
        </ul>
    </div>
</div>

<main>
    @Body
</main>

@code {
    private void SignIn()
    {
        Nav.NavigateTo("/rooms", true);
    }
}