@inherits LayoutComponentBase

<PageTitle>Ibis | Come as you are</PageTitle>
<div class="landing--nav desktop">
    <a href="/" tabindex="-1">
        <Ibis.Chat.Shared.BlossomAnimation Source="/animations/Icon_Idle.json" AnimateOn="Random" />
        <img alt="Ibis" class="logo" src="/images/logo_text.png" />
    </a>
    <AuthorizeView>
        <Authorized>
            <div class="menu">
                <a href="/pricing">Pricing</a>
                <a href="/rooms" class="get-started">My Rooms</a>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="menu">
                <a href="/pricing">Pricing</a>
                <a href="/rooms" class="get-started">Get Started</a>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>
<div class="landing--nav mobile">
    <a href="/"><img class="logo" src="/images/logo_2x.png" alt="Ibis" /></a>
    <input id="menuToggle" type="checkbox" class="menu--toggle">
    <label for="menuToggle" class="menu--toggle">
        <span><i class="material-icons">menu</i></span>
        <span><i class="material-icons">close</i></span>
    </label>
    <AuthorizeView>
        <Authorized>
            <div class="menu">
                <a href="/pricing">Pricing</a>
                <a href="/rooms" class="get-started">My Rooms</a>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="menu">
                <a href="/pricing">Pricing</a>
                <a href="/rooms" class="get-started">Get Started</a>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>

<main>
    @Body
</main>

@code {
    private void SignIn()
    {
        Nav.NavigateTo("/rooms", true);
    }
}