@import "../_variables.scss";

.message-page {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;

    .expand-toolbox-btn-icon {
        background: none;
        margin-bottom: 16px;
        padding: 0;
    }

    h3 {
        font-size: 16px;
        font-weight: 500;
        color: #161E29;
        margin-bottom: 16px;
    }

    .blog-check {
        padding-top: 20px;
        display: flex;
    }

    .new-message {
        height: 100%;

        .translation-toolbox {
            margin-bottom: 20px;
            width: 100%;

            .translation-selects {
                display: flex;
                align-items: center;
                gap: 4px;
                margin-bottom: 8px;
                width: 100%;                

                button {
                    background: none;
                    border-radius: 8px;
                    border: 1px solid #D4D4D4;
                    color: #161E29;
                    font-size: 16px;
                    font-weight: 400;
                    padding: 6px 19px;
                    height: 39px;
                }
            }

            aside {
                color: #858C96;
                font-size: 14px;
                font-weight: 400;
            }
        }
    }

    .send {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .cancel {
            padding: 10px 14px;
            color: #525963;
            font-size: 16px;
            font-weight: 500;
            background: none;
        }

        .btn-and-msg {
            display: flex;
            gap: 8px;

            .confirmation-message {
                padding: 10px 0 10px 14px;

                p {
                    color: #5B7FFF;
                    font-size: 16px;
                    font-weight: 400;
                }
            }

            .save-update-btn {
                padding: 10px 14px;
                border-radius: 8px;
                border: 1px solid #5B9DFF;
                background: #5B7FFF;
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                color: #FFF;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}

.MarkdownEditorComponent {
    padding-bottom: 20px;
    color: $grey-900;
    font-family: 'CircularStd';
    height: 100%;

    .EasyMDEContainer {
        margin: 0;
        height: 100%;

        .editor-preview {
            border: none;
        }

        .CodeMirror {
            padding: 16px;
        }

        .editor-toolbar {
            width: 100%;
            margin: 0;
            /*padding: 6px 15px 20px 15px;*/
            padding: 0 0 20px 0;
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            border: none;


            i {
                color: #858C96 !important;

                &.separator {
                    display: none;
                }
            }

            button {
                &.guide {
                    display: none;
                }
            }
        }

        .editor-statusbar {
            display: none;
        }

        .editor-toolbar {
            button {
                padding: 4px;
                border-radius: 8px;
                border: 1px solid var(--grey-200, #E5E7EA);

                i {
                    color: $grey-700;
                }
            }

            button.preview {
                display: none;
            }

            i.separator:nth-child(13) {
                display: none;
            }
        }
        //override CSS and disable styling within MarkdownEditor textarea itself
        .CodeMirror {
            font-size: 16px;
            font-weight: normal;

            .cm-header {
                font-size: 16px;
                line-height: 100%;
                font-weight: normal;
            }

            p, .cm-strong, .cm-em, .cm-quote, .cm-image, .cm-url, .cm-link, .cm-tag {
                color: $grey-900;
                font-weight: normal;
                font-style: normal;
                text-decoration: none;
            }
        }
    }

    .markdown-result {
        margin-top: 20px;
        line-height: 150%;

        h1, h2, h3, h4, h5, h6 {
            padding-bottom: 8px;
            color: $grey-900;
        }

        h4 {
            font-size: 30px;
        }

        p {
            padding-bottom: 16px;
            color: $grey-700;
        }

        a {
            color: $secondary-700;

            &:hover {
                color: $secondary-800;
                text-decoration: underline;
            }
        }

        li {
            color: $grey-700;

            p:only-of-type {
                margin: 0;
                padding: 0;
            }

            blockquote {
                p:first-of-type {
                    padding-bottom: 16px;
                }
            }

            ul {
                margin-bottom: 0;
            }

            ol {
                margin-bottom: 0;
            }
        }

        blockquote {
            display: block;
            background: $grey-100;
            border-left: 10px solid $grey-300;
            margin: 24px 10px;
            padding: 16px 10px;
            padding-bottom: 0;
            quotes: "\201C""\201D""\2018""\2019";
        }

        ul {
            list-style: disc;
            padding-left: 40px;
            margin-bottom: 16px;

            ul {
                list-style: circle;
                margin-bottom: 0;

                ul {
                    list-style: square;

                    ul {
                        list-style: circle;
                    }
                }
            }
        }

        ol {
            padding-left: 40px;
            margin-bottom: 16px;

            ol {
                margin-bottom: 0;
            }
            /*ol {
                list-style: upper-alpha;
                ol {
                    list-style: upper-roman;
                    ol {
                        list-style: lower-alpha;
                        ol {
                            list-style: lower-roman;
                            ol {
                                list-style: disc;
                            }
                        }
                    }
                }
            }*/
        }

        pre {
            background: $grey-100;
            margin: 20px 0;
            padding: 20px;

            code {
                font-size: 14px;
                color: $grey-700;
            }
        }

        img {
            width: 100%;
        }
    }
}
