<div class="message-grid">
    <div class="message-list ibis-ignore" id="room-@Page.RoomId">
        @if (Content.Any())
        {
            @foreach (var item in Content)
            {
                <article class="content-item" @onclick="@(() => Edit(item))">
                    <IbisContent Message="item" />
                </article>
            }
        }
        else
        {
            @* <div>
                <p>Get started with some new content.</p>
                <button @onclick="Add">Add new content</button>
            </div> *@
            <div>
                <p>Use the editor on the right side to add new content</p>
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public GetRoomResponse Page { get; set; } = null!;
    [Parameter] public EventCallback<Message> OnMessageClicked { get; set; }
    // [Parameter] public EventCallback OnMessageSaved { get; set; }
    [Parameter] public bool IsMessageUpdated { get; set; }
    List<Message> Content = new();
    string? Language;

    protected override async Task OnInitializedAsync()
    {
        var response = await Api.GetAllContentAsync(new GetAllContentRequest { RoomSlug = Page.RoomId });
        Content = response.Content.ToList();
        if (Language != response.Language)
        {
            Language = response.Language;
        }
    }   

    void Edit(Message message)
    {
        OnMessageClicked.InvokeAsync(message);
    }

    protected override async Task OnParametersSetAsync()
    {
        if (IsMessageUpdated)
        {
            await OnInitializedAsync();
            IsMessageUpdated = false;
        }
    }
}
