@import "../_variables.scss";

.message-grid {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;

    .message-list {
        gap: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .content-item {
            height: fit-content;                 
            padding: 16px;           
            border-radius: 4px;
            border: 1px solid #E5E7EA;

            .ibis-content {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;

                .message-text {
                    width: 100%;
                    height: 100%;
                    margin: auto 0;
                }

                .deprecatedcontent {
                    opacity: 0.3;
                }

                .ibis-widget {
                    position: relative;
                    height: 100%;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }

        &::-webkit-scrollbar {
            width: 7px;
            border-radius: 6px;
        }
        /* Track */
        &::-webkit-scrollbar-track {
            background: $white;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $grey-300;
        }
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $grey-400;
        }
    }
}
