@inherits SparcModal

<div class="delete-modal">
    <p>Are you sure you want to delete this room? <br> You can't undo this action.</p>
    <button @onclick="Cancel" class="cancel">Cancel</button>
    <button @onclick="DeleteRoom" class="delete">Delete</button>
</div>


@code {
    [Parameter] public string? RoomId { get; set; }

    async void DeleteRoom()
    {
        await Api.DeleteRoomAsync(RoomId!);
        await Ok();
    }
}