@inherits SparcModal

<div class="edit-modal">
    <h4>Edit Room</h4>
    <label>Name</label>
    <input @bind="@Title"/>

    <button @onclick="Cancel" class="secondary">Cancel</button>
    <button @onclick="UpdateRoom" class="primary">Save</button>
</div>

@code {
    [Parameter] public string? RoomId { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public EventCallback<string> OnTitleChanged { get; set; }

    async void UpdateRoom()
    {
        await Api.UpdateRoomOptionsAsync(new RoomOptionsRequest{RoomId = RoomId, Title = Title});
        await OnTitleChanged.InvokeAsync(Title);
        await Ok();
    }
}