@attribute [Authorize]
@page "/rooms"

<div class="dashboard">
    <div class="actions">
        <div class="header">
            <h3>Your Rooms</h3>
            <button class="add" @onclick="CreateRoom">
                &plus; Create New Room
            </button>
            <Tooltip Text="Start your first room!" />
        </div>
        <div class="search-wrapper">
            <div class="searchbar">
                <input placeholder="Search rooms" @onchange="@SearchRooms" />
                <a class="search"><img src="/icons/Search.svg" /></a>
            </div>
            <div class="grid-wrapper" @onclick="ToggleListView">
                <div class="selected @(listView != "" ? "selected-left" : null)"></div>
                <div class="grid">
                    Grid
                </div>
                <div class="list">
                    List
                </div>
            </div>
        </div>
    </div>

    <div class="rooms @listView">
        @if (Rooms != null)
        {
            @foreach (var room in Rooms.OrderByDescending(x => x.LastActiveDate).ThenByDescending(x => x.StartDate))
            {
                <RoomCard Room=room />
            }
        }
    </div>
</div>


@code {
    ICollection<GetRoomResponse> Rooms = new List<GetRoomResponse>();
    ICollection<GetRoomResponse>? OriginalList;
    string listView = "";

    protected override async Task OnInitializedAsync()
    {
        Rooms = await Api.GetRoomsAsync();
        OriginalList = Rooms;
    }

    void CreateRoom()
    {
        Modal.Show<CreateRoomModal>("Create Room");
    }

    void ToggleListView()
    {
        if (string.IsNullOrEmpty(listView))
        {
            listView = "show-list";
        }
        else
        {
            listView = "";
        }
    }

    void SearchRooms(ChangeEventArgs search)
    {
        string searchTerm = search.Value!.ToString()!.ToLower();

        if (searchTerm.Length >= 3)
        {
            Rooms = Rooms.Where(x => x.Name.ToLower().Contains(searchTerm)).ToList();
        }
        else if (string.IsNullOrEmpty(searchTerm))
        {
            Rooms = OriginalList!;
        }
    }
}