@import "../_variables.scss";


.blazored-modal {
    padding: 0;
    border-radius: 16px;

    &-overlay {
        background: rgba(10, 17, 29, 0.75);
    }

    &-header {
        display: none;
    }
}


.modal {
    position: relative;
    background: $white;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    min-width: 600px;
    z-index: 1;
    padding: 24px;

    h4 {
        margin-bottom: 24px;
        font-size: 31px;
    }

    .close {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    button.primary {
        padding: 8px 16px;
        color: $white;
        background: $secondary-900;
    }

    .invite-search {
        display: flex;
        justify-content: space-between;
        column-gap: 26px;
        margin: 6px 0 24px;

        input {
            border: 1px solid $grey-300;
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
            border-radius: 8px;
            padding: 10px 14px;
            font-size: 16px;
            line-height: 120%;
            max-width: 72%;
            width: 72%;
        }

        ::placeholder {
            color: $grey-500;
        }

        .search-member {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .invite-users {
        margin-bottom: 40px;

        p.medium {
            margin-bottom: 12px;
        }

        .user-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 12px;

            .large {
                font-size: 16px;
            }

            .user-left {
                display: flex;
                align-items: center;

                img {
                    margin-right: 8px;
                }

                p.large {
                    line-height: 19px;
                }
            }

            .user-right {
                .host {
                    color: $primary-700;
                    background: $primary-200;
                    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
                    border-radius: 16px;
                    border: 1px solid $primary-700;
                    padding: 4px 6px;
                }

                .success {
                    background: $secondary-200;
                    color: $success-500;
                    border: 1px solid $success-500;
                    border-radius: 16px;
                    padding: 4px 6px;
                }

                .invited {
                    background: $grey-100;
                    color: $grey-500;
                    border: 1px solid $grey-500;
                    border-radius: 16px;
                    padding: 4px 6px;
                }
            }
        }

        h5 {
            font-size: 13px;
            font-weight: 400;
            padding-bottom: 14px;
        }

        .avatar {
            color: $grey-700;
            font-weight: 500;
            font-size: 11px;
            width: 25px;
            height: 25px;
            line-height: 27px;
            text-align: center;
            border-radius: 45px;
            background: $grey-200;
            margin-right: 8px;
        }
    }

    

    button.secondary {
        color: $primary;
        border: 1px solid $primary;
        background: $white;
        padding: 0 12px;
        border-radius: 8px;
    }

    &.confirm-text {
        button.primary {
            margin-top: 20px;

            i {
                vertical-align: middle;
                padding: 0 0 1px 10px;
            }
        }

        textarea {
            display: block;
            padding: 8px;
            margin: 12px 0;
            width: 100%;
            border: 1px solid $grey-400;
            border-radius: 6px;
        }
    }

    &.room-modal {
        padding-bottom: 70px;
    }
}

//Overlay
.overlay {
    background: rgba(10, 17, 29, 0.75);
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}


.invite-block {
    background: $white;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    min-width: 600px;
    z-index: 1;

    h4 {
        margin-bottom: 24px;
    }

    .room-icons, .room-name-wrapper, .invite-search, .invite-users {
        margin-bottom: 24px;

        p.medium {
            margin-bottom: 6px;
        }
    }

    .create-room {
        background: $primary-500;
        border-radius: 8px;
        padding: 8px 16px;
        color: $white;
        font-size: 16px;
        line-height: 20px;
        position: absolute;
        right: 24px;
        bottom: 24px;
        cursor: pointer;
    }

    .room-icons {
        .room-icon-wrapper {
            display: flex;
            align-items: center;

            .room-icon {
                border-radius: 8px;
                padding: 8px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 40px;
                margin-right: 9px;
                cursor: pointer;
            }

            .room-icon:nth-child(1) {
                border: 1px solid $primary-300;
                background: $primary-100;
            }

            .room-icon:nth-child(2) {
                border: 1px solid $secondary-400;
                background: $secondary-200;
            }

            .room-icon:nth-child(3) {
                border: 1px solid $purple;
                background: $primary-50;
            }

            .room-icon:nth-child(4) {
                border: 1px solid $success-200;
                background: $success-50;
                margin-right: 0px;
            }
        }
    }

    .room-name-wrapper {
        label {
            margin-bottom: 6px;
        }

        input {
            border: 1px solid $grey-300;
            border-radius: 8px;
            padding: 10px 14px;
            font-size: 16px;
            line-height: 120%;
            width: 100%;
        }

        ::placeholder {
            color: $grey-500;
        }
    }
}