@inherits SparcModal

<div class="delete-modal">
    <p>Are you sure you want to leave this room? <br /> You’ll need an invitation link to rejoin.</p>
    <button @onclick="Cancel" class="cancel">Cancel</button>
    <button @onclick="LeaveRoom" class="delete">Leave</button>
</div>


@code {
    [Parameter] public string? RoomId { get; set; }

    async void LeaveRoom()
    {
        await Api.LeaveRoomAsync(new LeaveRoomRequest { RoomId = RoomId });
        await Ok();
    }
}