<article class="room-card" @onclick="GoToRoom">
    <header>
        <figure>
            <img src="/icons/Room-Icon.svg" />
        </figure>
        <div class="option-icons" @onclick:stopPropagation="true">
            <RoomShare Room="Room" />
            <RoomMenu Room="Room" />
        </div>
    </header>

    <h6>@Room.Name</h6>
    <time datetime="@Room.LastActiveDate?.ToString("u")">
        @(Room.LastActiveDate != null
            ? Room.LastActiveDate.Value.LocalDateTime.ToString("MMMM dd, H:mm tt")
            : Room.StartDate.LocalDateTime.ToString("MMMM dd, H:mm tt"))
    </time>

    <footer>
        @foreach (var member in Room.Users.Take(10))
        {
            <Avatar User="member" />
        }
    </footer>
</article>

@code {
    [Parameter] public GetRoomResponse Room { get; set; } = null!;

    void GoToRoom()
    {
        Nav.NavigateTo($"/rooms/{Room.RoomId}", true);
    }

    
}
