@import "Pages/Index";
@import "Pages/Pricing";

@import "Shared/MainLayout";
@import "Shared/DashLayout";
@import "Shared/NavMenu";
@import "Shared/Footer";
@import "Shared/InviteModal";
@import "Shared/ProjectsList";
@import "Shared/LoginDisplay";
@import "Shared/ChatBox";
@import "Shared/DeleteModal";
@import "Shared/EditModal";
@import "Shared/Tooltip";
@import "Shared/AccountNav";

@import "Rooms/Index";
@import "Rooms/Room";

@import "Messages/MessageCard";
@import "Messages/Upload";

@import "Users/Account";
@import "Users/Notifications";

@import "Onboarding/StepOne";


//Regular fonts
@font-face {
    font-family: 'CircularStd-Medium';
    src: url(wwwroot/fonts/CircularStd-Medium.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'CircularStd-Black';
    src: url(wwwroot/fonts/CircularStd-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'CircularStd-Bold';
    src: url(wwwroot/fonts/CircularStd-Bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'CircularStd-Book';
    src: url(wwwroot/fonts/CircularStd-Book.ttf) format('truetype');
}

//Italic Fonts
@font-face {
    font-family: 'CircularStd-MediumItalic';
    src: url(wwwroot/fonts/CircularStd-MediumItalic.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'CircularStd-BlackItalic';
    src: url(wwwroot/fonts/CircularStd-BlackItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'CircularStd-BoldItalic';
    src: url(wwwroot/fonts/CircularStd-BoldItalic.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'CircularStd-BookItalic';
    src: url(wwwroot/fonts/CircularStd-BookItalic.ttf) format('truetype');
}


body {
    overflow-x: hidden;
    font-family: sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

/*button {
    color: $primary;
}*/

//Global style for buttons
.btn-primary {
    background: $primary-500;
    color: $white;
}

.btn-secondary {
    background: $secondary-900;
    color: $white;
}

.btn-secondary-invert {
    border: 2px solid $secondary-900;
    color: $secondary-900;
}

.btn-grey {
    background: $grey-200 !important;
    color: $grey-500;
}

//Button Sizes
.btn-medium {
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 125%;
}

.btn-large {
    padding: 12px 30px;
    border-radius: 4px;
    font-size: 20px;
}

//Button Hover Styles
.btn-primary:hover {
    background: $primary-500;
}

.btn-secondary:hover {
    background: $secondary-800;
}

.btn-secondary-invert:hover{
    border-color: $secondary-800;
    color: $secondary-800;
}

.btn-grey:hover {
    background: $grey-100;
}

//Button Focus styles
.btn-primary:focus {
    background: $primary-500;
    box-shadow: 0px 0px 0px 2px $primary-200;
}

.btn-secondary:focus {
    background: $secondary-900;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 0px 0px 2px $secondary-300;
    border-radius: 8px;
}

.btn-secondary-invert:focus {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 0px 0px 2px $secondary-400;
    outline: $secondary-400;
}

.btn-grey:focus {
    background: $grey-200;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 0px 0px 2px #C7C9D1;
}



#app {

    .loader {
        border: 12px solid #f3f3f3;
        border-top: 12px solid $primary;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        animation: spin 3s linear infinite;
        margin: 20% auto;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 120%;
    font-family: 'CircularStd-Medium', sans-serif;
}

h1 {
    font-size: 61px;
}

h2 {
    font-size: 49px;
}

h3 {
    font-size: 39px;
}

h4 {
    font-size: 39px;
}

h5 {
    font-size: 25px;
}

h6 {
    font-size: 20px;
    font-weight: 600;
}

p.large {
    font-size: 16px;
    line-height: 120%;
}

p.medium {
    font-size: 13px;
    line-height: 120%;
}

p.small {
    font-size: 10px;
    line-height: 120%;
}

//Anchor Tag Default styles
a.link-primary {
    color: $primary-500;
}

a.link-secondary {
    color: $secondary-900;
}

//Anchor Tag Hover styles
a.link-primary:hover {
    color: $primary-400;
}

a.link-secondary:hover {
    color: $secondary-800;
}

//Anchor Tag Focus styles
a:focus {
    text-decoration: solid;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid $grey-300 !important;
    box-shadow: 0px 0px 0px 2px #ff9e70, 0px 1px 2px rgb(16 24 40 / 5%) !important;
}

img:focus {
    box-shadow: 0px 0px 0px 2px $primary-200;
    outline: $primary-200;
}