@import "Pages/Index";
@import "Pages/Pricing";

@import "Shared/MainLayout";
@import "Shared/DashLayout";
@import "Shared/NavMenu";
@import "Shared/Footer";
@import "Shared/InviteModal";
@import "Shared/ProjectsList";
@import "Shared/LoginDisplay";
@import "Shared/ChatBox";
@import "Shared/DeleteModal";
@import "Shared/EditModal";
@import "Shared/Tooltip";
@import "Shared/AccountNav";

@import "Rooms/Index";
@import "Rooms/Room";

@import "Messages/MessageCard";
@import "Messages/Upload";

@import "Users/Account";
@import "Users/Notifications";

@import "Onboarding/StepOne";

@import "Landing/Landing";

//Sans Serif Fonts
//Regular fonts

@font-face {
    font-family: 'CircularStd-Book'; //400
    src: url(wwwroot/fonts/CircularStd-Book.ttf) format('truetype');
}

@font-face {
    font-family: 'CircularStd-Medium'; //500
    src: url(wwwroot/fonts/CircularStd-Medium.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'CircularStd-Bold'; //700
    src: url(wwwroot/fonts/CircularStd-Bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'CircularStd-Black'; //800
    src: url(wwwroot/fonts/CircularStd-Black.ttf) format('truetype');
}


//Italic Fonts
@font-face {
    font-family: 'CircularStd-BookItalic';
    src: url(wwwroot/fonts/CircularStd-BookItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'CircularStd-MediumItalic';
    src: url(wwwroot/fonts/CircularStd-MediumItalic.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'CircularStd-BoldItalic';
    src: url(wwwroot/fonts/CircularStd-BoldItalic.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'CircularStd-BlackItalic';
    src: url(wwwroot/fonts/CircularStd-BlackItalic.ttf) format('truetype');
}

//Serif Fonts
//Regular
@font-face {
    font-family: 'FreightDispProLight-Regular'; //300
    src: url(wwwroot/fonts/FreightDispProLight-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'FreightDispProBook-Regular'; //400
    src: url(wwwroot/fonts/FreightDispProBook-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'FreightDispProMedium-Regular'; //500
    src: url(wwwroot/fonts/FreightDispProMedium-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'FreightDispProSemibold-Regular'; //600
    src: url(wwwroot/fonts/FreightDispProSemibold-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'FreightDispProBold-Regular'; //700
    src: url(wwwroot/fonts/FreightDispProBold-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'FreightDispProBlack-Regular'; //800
    src: url(wwwroot/fonts/FreightDispProBlack-Regular.ttf) format('truetype');
}

//Italic
@font-face {
    font-family: 'FreightDispProLight-Italic';
    src: url(wwwroot/fonts/FreightDispProLight-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'FreightDispProBook-Italic';
    src: url(wwwroot/fonts/FreightDispProBook-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'FreightDispProMedium-Italic';
    src: url(wwwroot/fonts/FreightDispProMedium-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'FreightDispProSemibold-Italic';
    src: url(wwwroot/fonts/FreightDispProSemibold-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'FreightDispProBold-Italic';
    src: url(wwwroot/fonts/FreightDispProBold-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'FreightDispProBlack-Italic';
    src: url(wwwroot/fonts/FreightDispProBlack-Italic.ttf) format('truetype');
}

body {
    overflow-x: hidden;
    font-family: sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

button {
    color: $primary;
}

#app {

    .loader {
        border: 12px solid #f3f3f3;
        border-top: 12px solid $primary;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        animation: spin 3s linear infinite;
        margin: 20% auto;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 120%;
    font-family: 'CircularStd-Medium', sans-serif;
}

h1 {
    font-size: 61px;
}

h2 {
    font-size: 49px;
}

h3 {
    font-size: 39px;
}

h4 {
    font-size: 39px;
}

h5 {
    font-size: 25px;
}

h6 {
    font-size: 20px;
    font-weight: 600;
}

p.large {
    font-size: 16px;
    line-height: 120%;
}

p.medium {
    font-size: 13px;
    line-height: 120%;
}

p.small {
    font-size: 10px;
    line-height: 120%;
}